

<% unless @follower.empty? %>
<div class="span4">
	<h2><%= t('.my_follower')%></h2>
	<ul class="thumbnails  well well-small">
		<%= render(:partial => '/follows/follower', :collection => @follower, :as => :follower_relation) %>
	</ul>
</div>
<% end %>

<% unless @followed.empty? %>
<div class="span4">
	<h2><%= t('.followed_by_me')%></h2>
	<ul class="thumbnails well well-small">
		<%= render(:partial => '/follows/followed', :collection => @followed, :as => :followed_relation) %>
	</ul>
</div>
<% end %>
