<div class="tab-content dashboard-bookmarks">
	
	<p><%= t('.no_bookmarks_available') if @bookmarks.empty? %></p>
  <% @bookmarks.each do |bookmark| %>
    <%= partial_for_bookmark(bookmark) %>
  <% end %>
</div>