
<div class="tab-content row-fluid">
	<div class="user user-edit span6 well well-large">
		<h2><%=t(".edit_email") %></h2>
  		<%= render :partial => 'users/basic_form', :locals => { :user => @user } %>
	</div>
	<div class="user user-edit span6 well well-large">
    	<h2><%=t(".edit_preferences") %></h2>
    	<%= render :partial => 'accounts/form_preferences', :locals => { :user => @user, :account => @account } %>
  	</div>
</div>