
<div class="tab-content row-fluid">
	
	<div class="user user-edit span6 well well-large">
		<h2><%=t(".edit_password") %></h2>
  		<%= render :partial => 'users/password_form', :locals => { :user => @user } %>
	</div>
</div>