<div class="page-header">
	<h1>Dashboard</h1>
</div>

<ul class="nav nav-tabs">
	<li class="active">
		<%= link_to(t('.matches'), dashboard_matches_path )%>
	</li>
	<li>
		<%= link_to(t('.news'), dashboard_news_path) %>
	</li>
	<li>
		<%= link_to(t('.bookmarks'), dashboard_bookmarks_path) %>
	</li>
	<li>
		<%= link_to(t('.contacts'), dashboard_contacts_path ) %>
	</li>
</ul>

<div class="tab-content">
	
</div>

