<div class="page-header">
	<h1>Dashboard</h1>
</div>

<ul class="nav nav-tabs">
	<li class="active">
		<a href="#"><%= t('.matches')%></a>
	</li>
	<li>
		<a href="#"><%= t('.news')%></a>
	</li>
	<li>
		<a href="#"><%= t('.bookmarks')%></a>
	</li>
	<li>
		<a href="#"><%= t('.contacts')%></a>
	</li>
</ul>

