
<div class="tab-content">
	<% @news.each do |n| %>
		<%= partial_for_notification(n) %>
	<% end %>
	<div class="form-actions">
		<%= will_paginate @news, :renderer => BootstrapPagination::Rails, :class => "pagination pagination-centered" %>
	</div>
</div>
