<% content_for :title do %>
	<%= t('.my_venues')%> &middot; <%= @user.name %>
<% end %>


<div class="tab-content row-fluid">
	<h2><%= t('.my_venues')%></h2>
	<section class="venue-list">
		<%= render(:partial => 'venues/venue_compact', :collection => @venues, :as => :venue )%>
	</section>
</div>
