.row.pricing-header-box.collapse-large-only
	.small-12.columns
		%h2.left= t('.pricing')

.row.conference-box#conference-pricing
	.bg-black
	.small-12.columns
		%h3 Stay tuned.
		.subtitle Soon we will launch our new pricing.
