<%- model_class = Message -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<% @messages.each do |message| %>
	<%= partial_for_message(message, @user) %>
<% end %>

