<%- model_class = Message -%>
<div class="page-header">
  <h2><%=t '.title', :default => model_class.model_name.human.pluralize %></h2>
</div>

<%= content_tag :ul do %>
	<% @messages.each do |message| %>
		<li><%= partial_for_message(message, @user) %></li>
	<% end %>
<% end unless @messages.empty? %>