bbb_salt: '9b6fe90526eb42eda8018af735fb97bc'
bbb_url: 'http://192.168.0.61/bigbluebutton/api'
bbb_version: '0.7'
host_ip: '192.168.0.65'
meeting_id: 'kluuu_test'
meeting_name: 'KluuU Test Meeting'
moderator_name: 'HouseMeister'
moderator_password: '4321'
attendee_name: 'HouseGuest'
attendee_password: '1234'
