bbb_salt: 'insert-a-valid-salt-here'
bbb_url: 'http://devbuild.bigbluebutton.org/bigbluebutton/api'
bbb_version: '0.7'
meeting_id: 'bigbluebutton-api-ruby-test'
meeting_name: 'Test Meeting For Ruby Gem'
moderator_name: 'House'
moderator_password: '4321'
attendee_name: 'Cameron'
attendee_password: '1234'
