/.bundle
/vendor/bundle
/bin

# Ignore the default SQLite database.
/db/*.sqlite3*

# Ignore all logfiles and tempfiles.
/log/*.log
/log/*.pid
/tmp
/config/database.yml*
/config/development.sphinx.conf
public/system/accounts
public/system/venues
public/system/profile_settings
db/sphinx

.DS_Store
/start
/coverage
/config/test.sphinx.conf
.bundle
db/*.sqlite3
db/*.sqlite3.db
log/*.log
tmp/**/*

config/database.yml
coverage/
db/*.sqlite3
db/*.sqlite3-journal
log/*.log
*.swp
nbproject
public/system/**/*
private/**/*
.DS_Store
webrat*html
mkmf.log
public/javascripts/all.js
public/stylesheets/all.css
public/uploads/**/*
.yardoc
.idea
.sass-cache

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
