/.bundle
/.rspec
/vendor/bundle

# Ignore all logfiles and tempfiles.
/log/*.pid
/tmp
/config/database.yml
log/localeapp.yml

.DS_Store
/start
/coverage
.bundle
db/*.sqlite3
db/*.sqlite3.db
log/*.log
tmp/**/*

config/database.yml
db/*.sqlite3-journal
*.swp
nbproject
public/system/
private/
.DS_Store
webrat*html
mkmf.log
public/javascripts/all.js
public/stylesheets/all.css
public/uploads/
.yardoc
.idea
.sass-cache

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml

/log/localeapp.yml
/vendor/rtmp/
local/
