{:duct.core/project-ns  upload-signer
 :duct.core/environment :production

 :duct.module/logging {}
 :duct.module.web/api {}

 :duct.module/ataraxy
 {[:get "/example"] [:example]}

 :upload-signer.handler/example
 {}}
