/* app/assets/images/icons.svg needs to be hidden in the document */

@mixin clip-path($name) {
    -webkit-clip-path: url(#clippath-+$name);
    clip-path: url(#clippath-+$name);
}
    
.icon {
    display: block;
    width: 36px;
    height: 36px;
    margin: 0 auto;
    margin-bottom: 24px;
    background-color: $info-color;
    transition: background-color .2s ease;

    &.politics   { @include clip-path(politics) };
    &.tech       { @include clip-path(tech) };
    &.arts       { @include clip-path(arts) };
    &.science    { @include clip-path(science) };
    &.media      { @include clip-path(media) };
    &.business   { @include clip-path(business) };
    &.mic        { @include clip-path(mic) };
    &.megaphone  { @include clip-path(megaphone) };
    &.headphones { @include clip-path(headphones) };
    &.down-arrow { @include clip-path(down-arrow) };
}
