/*BEIGE: #fef1de*/
/*BLUE: #384f9e*/
/*LIGHTBLUE: #54c6c6*/
/*RED: #f82847*/
/*Yellow: #ffed00*/

@import url("https://cdn.jsdelivr.net/foundation/6.2.0/foundation.min.css");

@font-face {
  font-family: 'Eagle';
  src: url("../fonts/Eagle-Book.eot?-u70zge");
  src: url("../fonts/Eagle-Book.eot?#iefix-u70zge") format("embedded-opentype"), url("../fonts/Eagle-Book.ttf?-u70zge") format("truetype"), url("../fonts/Eagle-Book.woff?-u70zge") format("woff"), url("../fonts/Eagle-Book.svg?-u70zge#Eagle-Book") format("svg");
  font-weight: normal;
  font-style: normal; }



.embed-player {
  background: #29292b;
  overflow: hidden;
  padding:12px;
  box-sizing: border-box;
  position: relative;
  height: 124px;
  font-family: -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  "Roboto",
  "Oxygen",
  "Ubuntu",
  "Cantarell",
  "Fira Sans",
  "Droid Sans",
  "Helvetica Neue",
  sans-serif;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.image-box {
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
}

.xs .image-box {
  max-height: 44px;
  max-width: 44px;
  background: orange;
}


.content-box {
-webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    /*border: 1px solid green;*/
    padding-left: 12px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
}

.xs .content-box {
  position: absolute;
  left:0;
  right: 12px;
}

.xs .top-box {
  margin-left: 56px;
  height: 50px;
  max-height: 50px;
  margin-bottom: 6px;
}

 .small .top-box, .medium .top-box, .large .top-box {
  height: 56px;
  max-height: 56px;
 }

.xs .info-box {
  margin-right: 50px;
}


h4.title {
  font-family: 'Eagle', sans-serif;
  color:#54c6c6;
  font-size:21px;
  line-height: 24px;
  letter-spacing: 1px;
  margin:0;
  max-height: 48px;
  line-limit: 2;


  /**/
 display: block;

  /* Fallback for non-webkit */
  display: -webkit-box;

  
  max-height: 48px;

  /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: 21px;
  line-height: 24px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0;
  margin-top: -3px
}

.xs h4.title {
  font-size: 16px;
  line-height: 16px;
}

.small h4.title {
  font-size: 18px;
  line-height: 18px;
  margin-top:0;
}


h4.title:hover {
  text-decoration: underline;
}

.user, span.play-count, span.date {
  color: #384f9e;
  margin-bottom: 0;
  font-size: 14px;
  /*letter-spacing: 1px;*/
}

.xs .user {
  display: block;
  margin-top: -1px;
}

 .small .user {
  display: inline-block;
  margin-top: -3px;
  font-size: 12px;
 }

.user {
  font-weight: 700;
}

.user:hover {
  text-decoration: underline;
}

.xs span.user {
  font-size: 12px;

}

.small .meta-info {
  display: block;
  margin-top: -3px;
}

.live-badge {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  color: white;
  text-transform: uppercase;
  background: #f82847;
  margin: 0;
  text-align: center;
  height: 36px;
  padding: 0;
  width: 60px;
  margin-left:40px;
  position: absolute;
  top:68px;
}

.live-badge p.live {
  font-family: 'Eagle',sans-serif;
  line-height: 36px;
}

.info-box {
  float:left;
  margin-right: 72px;
  line-height: 21px;
}

.small .info-box {
  height: 56px;
  max-height: 56px;
}

.branding-box {
  width:60px;
  height:60px;
  float:right;
  position: absolute;
  right:12px;
}



.xs .branding-box {
  width: 36px;
  height: 36px;
  /*right:0;*/
}

.brand-logo, .brand-words {
  position: absolute;
  width: inherit;
  height: inherit;
  color:#f82847;
}

.brand-logo svg, .brand-words svg {
  width: 60px;
  height: 60px;
  fill:currentColor;
}


/*JP*/
.player-box {
  -webkit-flex:1 1 auto;
      -ms-flex:1 1 auto;
          flex:1 1 auto;
}

.jp-audio {
  
  height: 44px;
  -webkit-flex:1 1 auto;
      -ms-flex:1 1 auto;
          flex:1 1 auto;
  /*border:1px solid red;*/

}

.jp-audio a {
  transition: background .2s ease;
  transition: color .2s ease;
}


.jp-interface {
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  /*border:1px solid yellow;*/

}



.jp-controls {
  min-width: 44px;
  list-style-type: none;
  margin:0;
  padding: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex:1 1 44px;
      -ms-flex:1 1 44px;
          flex:1 1 44px;
}


.jp-controls a {
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: #3d404d;
  color: rgba(255,255,255,.5);
}

.jp-controls a svg {
  margin-left: 5px;
}

.jp-controls a:hover {
  background: #384f9e;
  color: white;
}

.jp-state-playing .jp-controls a {
  background: #f82847;
}

.jp-state-playing .jp-controls a svg {
  margin-left: 3px;
}

.jp-volume-bar {
  -webkit-flex: 0 0 20px;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  display: block;
  position: relative;
}

.jp-volume-bar-value {
  background: rgba(0,0,0,.1);
  border-top: 1px solid #ffde00;
  position: absolute;
  bottom: 0;
  left:0;
  width: 20px;
}

.jp-volume-bar-value-dancing {
  position: absolute;
  background: none;
  background: #ffde00;
  /*background: aliceblue;*/
  width: 20px;
  bottom:0;
  left: 0;
  right: 0;

}

.jp-progress{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-flex: 1 1 100%;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    position: relative;
}

.jp-seek-bar {
  display: block;
  position: relative;
  width: 100%;
}

.jp-seek-bar {
  background: rgba(18,18,20,.4);

}

.jp-play-bar {
  height: 44px;
  background: #384f9e;
}

.jp-time-holder {
    display: block;
    position: absolute;
    height: 22px;
    top: 0;
    left: 0;
    right: 0;
    color: #fef1de;
    font-size: 10px;
    letter-spacing: 1px;
    font-weight: 700;
    line-height: 44px;
    text-align: center;
    pointer-events: none;
}

.time-divider {
  color:#54c6c6;
}

.xs .time-divider, .xs .jp-duration {
  display: none;
}

.jp-audio  svg {
  fill: currentColor;
  width: 16px;
  height: 16px;
/*  margin-left: 5px;
  margin-top: 5px;*/
}

a.action-btn {
  -webkit-flex: 0 0 44px;
      -ms-flex: 0 0 44px;
          flex: 0 0 44px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  background: #3d404d;
  text-align: center;
  color: rgba(255,255,255,.5);
}

a.action-btn:hover {
  background: #384f9e;
  color:white;
}

a.action-btn svg {
  margin:0 auto;
}



.jp-spacer {
  width: 2px;
  min-width: 2px;
}


