<%= form_for Comment.new, :url => klu_comments_path(:klu_id => commentable), :class => "form-vertical" do |f| %>
	<div class="control-group">
		<div class="controls">
			<%= f.text_area :content, :class => 'text-area span12', :rows => 1, :placeholder => cmd || 'write something' %>
		</div>
	</div>
	<div>
		<%= button_tag t('venues.venue_form.save_comment'), :type => "submit", :class => "btn btn-primary btn-mini pull-right"%>
	</div>
<% end %>