
<%= form_for @comment, :url => venue_comments_url(:venue_id => venue), :class => "form-vertical" do |f| %>
	<div class="control-group">
		
		<div class="controls">
			<%= f.text_area :content, :class => 'text-area span12', :rows => 1, :placeholder => I18n.t('venues.venue_form.write_a_comment') %>
		</div>
	</div>
	<div>
		<%= button_tag t('venues.venue_form.save_comment'), :type => "submit", :class => "btn btn-mini pull-right"%>
	</div>
<% end %>

