<div class="help-text" style="left:18px; top:207px;">
  Dein erstes <strong>Frage-KluuU</strong>. <br>
  Übrigens: KluuUs sind Gesprächsthemen.<br>

  Veröffentliche jetzt Dein eigenes Thema<br>
  und finde Deinen Gesprächspartner.<br>
  <%= link_to "-> Frage-KluuU ? erstellen", new_user_klu_path( :user_id => user) %><br>
  <a href="#" class="help-text-close">
  	&times;
  </a>
</div>