<div class="help-text" style="right: 18px; top:107px">
  <strong>Deine Matches</strong>.<br>
  Hier findest Du KluuUs, die zu Dir passen.<br>
  Klicke auf das KluuU, um mehr über den <br>
  Inhalt und den Gesprächspartner zu erfahren.<br>
</div>