<div class="help-text" style="left:630px; top:100px;">
	<div class="help-text-arrow arrow-left"></div>
Unter <strong>Neuigkeiten</strong> findest Du wichtige Informationen
rund um Deine KluuUs und Fragen sowie zu Nutzern, denen Du folgst.<br>

Wenn Du z.B. einen <i class="icon-bullhorn"> </i> <%= link_to 'Status', new_user_status_update_path(:user_id => user) %> formulierst, <br>
können Deine Follower dieses unter <strong>Neuigkeiten</strong> sehen. Veröffentliche jetzt einen  <i class="icon-bullhorn"> </i> <%= link_to 'Status', new_user_status_update_path(:user_id => user) %>.
  <a href="#" class="help-text-close">
  	&times;
  </a>
</div>