<div class="help-text" style="left:25px; top:347px;">
	<div class="help-text-arrow arrow-top"></div>
  Deine erste <strong>Frage</strong>. <br>
  Fragen sind eine einfache Möglichkeit, <br>
  passende Gesprächspartner zu finden.

  Veröffentliche eine neue <%= link_to "Frage", new_user_klu_path( :user_id => user) %> !
  <a href="#" class="help-text-close">
  	&times;
  </a>
</div>