<div class="help-text" style="left:30px; top:310px">
	<div class="help-text-arrow arrow-top"></div>
Der KluuU Customer Service folgt Dir schon.
Wenn Du eine Frage hast, schreibe uns eine Nachricht oder sprich mit uns über Video Call.
  <a href="#" class="help-text-close">
  	&times;
  </a>
</div>