<div class="help-text" style="right:0; bottom:140px">
  <strong>Help:</strong>
  Unser Ziel ist es, Dich ins Gespräch zu bringen.<br>
  <strong>Video-Chat</strong> ist dafür die ideale Technik.<br>

  Übrigens: Du kannst auf KluuU <strong>Geld verdienen</strong> <br>
  <%= link_to "-> Finanzen", user_balance_account_path(:user_id => user) %><br>
  <a href="#" class="help-text-close">
  	&times;
  </a>
</div