<div class="help-text" style="left:25px; top:347px;">
	<div class="help-text-arrow arrow-top"></div>
  Deine erste <strong>Frage</strong>. <br>
  Das ist ein Beispiel für eine Frage,<br>
  wie Du sie auf KluuU stellen kannst.

  Stell Deine eigene <%= link_to "Frage", new_user_klu_path( :user_id => user) %> !
  <a href="#" class="help-text-close">
  	&times;
  </a>
</div>