<div class="help-text" style="right:0; bottom:140px">
  <strong>Help:</strong>
  Its our goal to get you in contact with other people.<br>
  We're convinced, that <strong>Video Chat</strong> is the best medium to achieve this objective.<br>

  By the way: You can <strong>earn money</strong> on KluuU!<br>
  <%= link_to "finances", user_balance_account_path(:user_id => user) %><br>
  <a href="#" class="help-text-close">
  	&times;
  </a>
</div>