<div class="help-text" style="left:270px; top:110px;">
	<div class="help-text-arrow arrow-left"></div>
Du hast Geld auf KluuU verdient? 
Dann zahle Dir Deine Umsätze über diesen Button aus. 
<strong>Hinweis</strong>: Wenn Du Geld verdienst, zahlst Du eine kleine Gebühr an die Webseite KluuU.
Du möchtest mehr erfahren? Klicke hier.  (link Tutorial)
  <a href="#" class="help-text-close">
  	&times;
  </a>
</div>