<div class="help-text" style="left:270px; top:110px;">
	<div class="help-text-arrow arrow-left"></div>
Finde KluuUs, die Dir gefallen und klicke
auf das <i class="icon-bookmark"> </i> Lesezeichen-Icon.
Auf diese Weise hast Du sie gespeichert.
Deine Lesezeichen sind öffentlich, daher auch auf Deinem <%= link_to 'Profil', user_path( user) %> zu sehen.
  <a href="#" class="help-text-close">
  	&times;
  </a>
</div>