<div class="help-text" style="left:25px; top:347px;">
	<div class="help-text-arrow arrow-top"></div>
  Your first <strong>Question</strong>. <br>
  This is an example for how to ask a Question on KluuU.<br>
  
  Ask your own <%= link_to "Question", new_user_klu_path( :user_id => user) %> !
  <a href="#" class="help-text-close">
  	&times;
  </a>
</div>