<div class="help-text" style="left: 760px; top:140px">
	<div class="help-text-arrow arrow-left"></div>
  <strong>Deine Matches</strong><br>
	Auf dieser Seite findest Du immer neue Matches.<br>
	Matches sind KluuUs oder Fragen anderer Nutzer, die zu Deinen Inhalten passen.
  <a href="#" class="help-text-close">
  	&times;
  </a>
</div>