<div class="help-text" style="left:20px; top:200px;">
	<div class="help-text-arrow arrow-top"></div>
You need some credit to call a charged KluuU. After paying in you'll be able to benefit from e.g. charged classes or consultation KluuUs. Click here to pay in credit.
  <a href="#" class="help-text-close">
  	&times;
  </a>
</div>