<div class="help-text" style="left:500px; top:200px;">
	<div class="help-text-arrow arrow-left"></div>
Hier werden alle Nachrichten gespeichert, die Du bekommst und absendest.
Ist ein Nutzer gerade nicht online hast Du die Möglichkeit, diesem eine Nachricht zu schreiben.
Ist der Nutzer online, kannst Du mit ihm Textchatten.
  <a href="#" class="help-text-close">
  	&times;
  </a>
</div>