<div class="help-text" style="left:270px; top:110px;">
	<div class="help-text-arrow arrow-left"></div>
You earned money on KluuU? 
Over this button you can check out your earnings. 
<strong>Note</strong>: If you charge money for a KluuU, a small percentage of the charge is deducted as remuneration for KluuU.
  <a href="#" class="help-text-close">
  	&times;
  </a>
</div>