<div class="help-text" style="left: 760px; top:140px">
	<div class="help-text-arrow arrow-left"></div>
  <strong>Your Matches</strong><br>
	Matches are KluuUs or Questions from other users. <br>
	You'll find new matches on this page.
  <a href="#" class="help-text-close">
  	&times;
  </a>
</div>