<div class="help-text" style="left:630px; top:310px;">
	<div class="help-text-arrow arrow-top"></div>
Have a look around KluuU and discover interesting people. 
You'll find the follow button on each profile. 
Your list of followers is public.

  <a href="#" class="help-text-close">
  	&times;
  </a>
</div>