<div class="help-text" style="right: 0px; top:140px">
	<div class="help-text-arrow arrow-left"></div>
  <strong>Deine Matches</strong>.<br>
  Hier findest Du KluuUs, die zu Dir passen.<br>
  Klicke auf das KluuU, um mehr über den <br>
  Inhalt und den Gesprächspartner zu erfahren.<br>
  <a href="#" class="help-text-close">
  	&times;
  </a>
</div>