<div class="help-text" style="left:630px; top:310px;">
	<div class="help-text-arrow arrow-top"></div>
Schau Dich auf KluuU um und entdecke
interessante Leute.
Die Liste Deiner Followers ist öffentlich.

  <a href="#" class="help-text-close">
  	&times;
  </a>
</div>