<div class="help-text" style="left:240px; top:330px;">
	<div class="help-text-arrow arrow-top"></div>
Anybody can charge for their KluuU. Just go to the edit page for your KluuU and set a price.
  <a href="#" class="help-text-close">
  	&times;
  </a>
</div>