<div class="help-text" style="left:500px; top:200px;">
	<div class="help-text-arrow arrow-left"></div>
This is where all messages you send and receive are saved. 
If a user isn't online, you can send them a message. 
If a user is online, you can chat with them.
  <a href="#" class="help-text-close">
  	&times;
  </a>
</div>