<div class="help-text" style="left:30px; top:310px">
	<div class="help-text-arrow arrow-top"></div>
The KluuU Customer Service is already following you.
If you've got a question for us, just call via Video Chat.
  <a href="#" class="help-text-close">
  	&times;
  </a>
</div>