<div class="help-text" style="left:20px; top:200px;">
	<div class="help-text-arrow arrow-top"></div>
Du benötigst ein Prepaid-Guthaben, um
auf KluuU.com kostenpflichtigen Unterricht zu nehmen, oder Dich beraten zu lassen.

Klicke hier, um Dein Prepaid-Guthaben aufzuladen.
  <a href="#" class="help-text-close">
  	&times;
  </a>
</div>