<div class="help-text" style="left:270px; top:110px;">
	<div class="help-text-arrow arrow-left"></div>
Find KluuUs you like and click on the <i class="icon-bookmark"> </i> bookmark icon to save them.
Your bookmarks are public, so they are visible on your <%= link_to 'profile', user_path( user) %>.
  <a href="#" class="help-text-close">
  	&times;
  </a>
</div>