<div class="help-text" style="left:20px; top:200px;">
	<div class="help-text-arrow arrow-top"></div>
Du benötigst ein Guthaben, um ein 
kostenpflichtes KluuU in Anspruch zu nehmen. Lade Dein Konto hier auf,
um kostenpflichtigen
Unterricht zu nehmen, oder Dich beraten zu lassen.
Klicke hier, um Dein Pre-Paid-Guthaben aufzuladen.
  <a href="#" class="help-text-close">
  	&times;
  </a>
</div>