<div class="help-text" style="left:240px; top:330px;">
	<div class="help-text-arrow arrow-top"></div>
Jeder hat die Möglichkeit, sein KluuU kostenpflichtig anzubieten und Geld zu verdienen.
Gehe dafür in den Bearbeitungsmodus Deines KluuUs und stelle den Preis ein.
  <a href="#" class="help-text-close">
  	&times;
  </a>
</div>