<div class="help-text" style="left:630px; top:100px;">
	<div class="help-text-arrow arrow-left"></div>
In <strong>News</strong> you'll find important information about your own KluuUs and Questions, and about users you are following. <br>

For example, when you post a <i class="icon-bullhorn"> </i> <%= link_to 'status', new_user_klu_path( :user_id => user) %>, <br>
your followers can see it in their <strong>News</strong>.  
<%= link_to 'status', new_user_klu_path( :user_id => user) %> ?.
  <a href="#" class="help-text-close">
  	&times;
  </a>
</div>