-#featured venues
- if !Venue.featured.first.nil?
  %hr
  %br/
  %br/
  %br/
  .row-fluid.featured-box
    .span4.featured-arrow-box
      .featured-arrow-inside
        .featured-arrow-text= t('.featured_venue')
    .span8
      - venue = Venue.featured.first
      = render(:partial => 'venues/venue_big', :locals => {:venue => venue})
  %br/
  %br/   

-#upcoming venues
%hr
%br/
%br/
.row-fluid
  .span12
    %header.lp-upcoming-header
      = t('.upcoming_venues')
.row-fluid
  .span12
    - venues = Venue.not_past.upcoming_first - [venue]
    - venues.each do |venue|
      = render(:partial => 'venues/venue_big', :locals => {:venue => venue})