<div class="page-header">
	<h1><%= t('.search_results') %></h1>
</div>


<div class="search row-fluid">
	<% @klus.each do |klu| %>
		<% if klu.instance_of?(Kluuu) %>
			<%= render(:partial => 'klus/small_kluuu', :locals => {:klu => klu}) %>
		<% else %>
			<%= render(:partial => 'klus/small_no_kluuu', :locals => {:klu => klu}) %>
		<% end %>
	<% end %>
</div>
