- content_for :title do
  = t('.title', query: @query)
#search-results-count.text-center
  %p.lead= t('.results', count: @talks.count, query: @query).html_safe

- if @talks.any?
  .row.collapse
    .large-12.columns
      .result-container.clearfix
        = render partial: "shared/talk_card", collection: @talks
  .row.clearfix.text-center              
    = will_paginate @talks
- else 
  .row.collapse.top-margin-action-bar