- rememberable ||= @reminder.rememberable
= link_to [ rememberable, :reminders ], method: 'post', class: "link-remember", remote: true do
  %span.icon-star-empty.qa-icon-star-empty{ title: t('.favorite') }
