= form_for article, :url => venue_articles_url(:venue_id => venue), :html => {:class => "clearfix"} do |f|
  
  .contribution-left
    = image_tag guest_or_current_user.account.portrait.url(:thumb), :class => "img-polaroid pull-left"
  .contribution-right
    .control-group
      .controls
        = f.text_area :content, :rows => 1, :placeholder => t('.write_an_article')
    %div
      = button_tag t('.save_article'), :type => "submit", :class => "btn btn-mini pull-right"
