.row.clearfix
  .medium-8.medium-offset-2.columns(style='background: papayaWhip')
    %h1= t('.streamboxxes')
    %ul
      - @devices.each do |device|
        %li= link_to device.name, device_path(device.identifier)
