<%= form_for [guest_or_current_user, @status_update], :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <div class="controls">
      <%= f.text_area :content, :class => 'text_area', :rows => 3, :maxlength => 200 %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit t('.update_status'), :class => 'btn btn-primary' %>
  </div>
<% end %>
