<h3><%= t('.title') %></h3>

<p>
	<%= t('.these_are_your_status_updates', :name => @user.firstname ) %>
</p>
<br>
<div class="control-group">
	<%= link_to new_user_status_update_path, :class => 'btn btn-primary' do %>
		<%= t('.new_status')%>
	<% end %>
</div>
