 <%- model_class = StatusUpdate -%>
<section class="status status-site">
	<% if @user == current_user %>
		<aside class="status-new-link">
			<%= link_to t('.new_status_update'), new_user_status_update_path, :class => 'btn btn-primary' %>		
		</aside>
	<% end %>
	<ul class="unstyled status-list">
		<% @status_updates.each do |status_update| %>
			<li class="status-single">
				<%= render(:partial => "status_updates/status_update", :locals => {:status_update => status_update}) %>
			</li>
		<% end %>	
	</ul>
</section>