<section class="status-updates">
  <%- model_class = StatusUpdate -%>
    <h4><%=t '.title', :default => t('helpers.titles.new', :model => model_class.model_name.human,
                                   :default => "New #{model_class.model_name.human}") %></h4>
  <%= render :partial => 'form' %>
</section>