<article class="well well-large">
	<h2> Terms of use</h2>

	<h3>General information</h3>
	<p>
		The website www.KluuU.com (hereinafter referred to as “website”) is operated by kuurz & lumpur AG, Zurich, Switzerland 
		(hereinafter referred to as “operator”). These terms of use regulate the legal relationship between the operator and the 
		users of this website (hereinafter referred to as “users” or “you”). The website is open to everyone. However, the use 
		of certain services is reserved for registered users.
	</p>
	<p>
		By visiting this website you accept the present terms of use. If you do not agree with these terms of use, your sole 
		recourse is to leave the website immediately.
	</p>
	<h3> Modifications of the website</h3>
	<p>
		The operator hereby reserves the right to change and temporarily or completely discontinue the content, 
		composition and the function of the website at any time without prior notification as well as attach certain 
		functions to the fulfillment of distinctive conditions. The operator may partially or completely block the 
		access to individual users.
	</p>
	<h3>Disclaimer</h3>
	<p>
		The operator aims to keep the information on the website up-to-date. However, the operator does not assume 
		any liability concerning the completeness, correctness, preciseness or suitability of the information presented. 
		Utilization of the contents provided on the website is at the sole risk of the user. The operator excludes 
		liability for the access or use of this website and of the therein found information, data and services 
		including information, data and services publicized on the website by service providers and third parties. 
		Liability for damages due to computer viruses, spyware and other malicious computer programs is excluded.
	</p>
	<h3>Intellectual Property</h3>
	<p>
		The entire form and all content of the website (including texts, pictures, graphics, sounds and video 
		information, names, companies, domains, titles, logos, etc.) are legally protected and may not be copied, 
		modified, submitted, reproduced or used otherwise for commercial or public purposes. All rights to existing 
		intellectual property or to such created during the fulfilment of contract remain with the operator. If you want 
		to use texts, pictures, etc., please contact the operator.
	</p>
	<p>
		The operator seeks that the information publicised on the website does not infringe rights to intellectual property 
		of third parties. If you want to report such an infringement, you may contact the operator.
	</p>
	<h3>Links to other websites</h3>
	<p>
		The website may contain links to other websites. Third parties operate these sites; the operator is not responsible 
		for its content, which is accessible via such links. The operator rejects all liability relating to the linked 
		sites and its owners’ behavior.
	</p>
	<h3>Data protection</h3>
	<p>
		Certain data may be collected in relation to the user and his/her use of the website (e.g. IP-address, browser type, 
		browser version, accessed content, etc.). These data may be evaluated internally, e.g. for statistical purposes or 
		to improve function and content of the website.
	</p>
	<p>
		The operator is entitled to transmit the data collected to third parties in the context of the declared purpose.
	</p>
	<h3>Cookies</h3>
	<p>
		Most internet-providers use cookies.
	</p>
	<p>
		KluuU uses so-called session cookies. Session cookies authenticate the user and help make the website more useful. 
		Session cookies are deleted when the browser is closed.
	</p>
	<p>
		You can determine in your browser software, how your computer shall accept cookies. If you do not accept session 
		cookies, you will not be able to register with KluuU.
	</p>
	<h3>Change of terms of use</h3>
	<p>
		The operator may change these terms of use at any time without prior notification.
	</p>
	<h3>Applicable Law and place of Jurisdiction</h3>
	<p>
		These terms of use and the use of the website are subject to Swiss law. Place of jurisdiction for any kind of 
		dispute is the residence of the operator. The operator is authorized to take legal action against users in their residence.
	</p>
</article>