<article class="well well-large">
	<h2>Vereinbarung für registriere Benutzer von www.kluuu.com</h2>

	<h3>Allgemeines</h3>

	<p>
		Durch Ihre Registrierung bei www.kluuu.com (nachfolgend „Website“ genannt) kommt zwischen Ihnen 
		(nachfolgend „registrierter Benutzer“ oder „Sie“ genannt) und der kuurz & lumpur AG (nachfolgend „Betreiberin“ genannt) 
		die vorliegende Vereinbarung zu Stande. Mit Ihrer Registrierung akzeptieren Sie die nachfolgenden Bestimmungen.
	</p>
	<p>
		Die <%= link_to("allgemeinen Nutzungsbedingungen", txt_agb_path() ) %> der Website sind integraler Bestandteil der vorliegenden 
		Vereinbarung. Bitte lesen Sie die vorliegende Vereinbarung sowie die allgemeinen Nutzungsbedingungen der Website 
		durch, bevor Sie sich registrieren und brechen Sie die Registrierung ab wenn Sie nicht einverstanden sind.
	</p>
	<h3>Erstellen Ihres Profils</h3>
	<p>
		Bei der Registrierung muss ein Name gewählt werden. Dies kann Ihr echter Name oder ein Pseudonym sein. Das Vortäuschen 
		einer falschen Identität ist nicht erlaubt. Nicht erlaubt sind Namen von prominenten Personen, lebend oder tot. Die 
		Betreiberin behält sich bei Zuwiderhandlung vor, Profile zu löschen.
	</p>
	<h3>Anbieten von KluuUs</h3>

	<p>
		Registrierte Benutzer haben die Möglichkeit, auf der Website Dienstleistungen anzubieten und diese per Videochat 
		zu vermitteln (nachfolgend „KluuU“ genannt). KluuUs können gratis (nachfolgend „GratisKluuU“ genannt) oder gegen 
		Bezahlung (nachfolgend „zahlungspflichtiger KluuU“ genannt) angeboten werden. Mit dem Anbieten eines KluuUs werden 
		Sie zum Anbieter (nachfolgend „Anbieter“ genannt).
	</p>
	<p>
		Die Inanspruchnahme von KluuUs ist ebenfalls registrierten Benutzern vorbehalten. Und, so fern der Anbieter dieses 
		zulässt und es sich um ein GratisKluuU handelt, kann auch ein nicht registrierten Nutzern ein KluuU in Anspruch 
		nehmen. Wer einen KluuU in Anspruch nimmt wird zum Kunden (nachfolgend „Kunde“ genannt).
	</p>

	<h3>Pflichten des Anbieters</h3>
	<p>
		Der Anbieter trägt die alleinige Verantwortung für seine KluuUs. Der Anbieter verpflichtet sich, seinen KluuU 
		nach bestem Wissen und Gewissen zu vermitteln. KluuUs dürfen nicht gegen gesetzliche Bestimmungen, diese 
		Vereinbarung sowie gesetzliche und vertragliche Pflichten gegenüber Dritten (insbesondere dem Kunden) verstossen.
	</p>
	<p>
		Nicht erlaubt sind insbesondere pornographische, rassistische, zu Gewalt und Terror aufrufende oder unterstützende, 
		persönlichkeitsverletzende, irreführende, verleumderische, betrügerische oder in sonstiger Weise rechtswidrige KluuUs.
	</p>
	<p>
		Nicht erlaubt ist zudem die Verbreitung von bösartigem Code wie Viren, Würmer, Trojanische Pferde oder andere 
		potenziell schädliche Programme sowie die Übertragung und Verbreitung von Junk-Mails, Kettenbriefen oder 
		unaufgeforderten Massenmails (Spam).
	</p>
	<p>
		Für den Fall einer Zuwiderhandlung behält sich die Betreiberin vor, KluuUs zu löschen und Anbieter zu sperren 
		sowie Anbieter haftbar zu machen und der Strafverfolgung zu übergeben.
	</p>
	<h3>Zahlungspflichtige KluuUs / Bezahlsystem</h3>
	</p>
	<p>
		Zahlungspflichtige KluuUs setzen ein Guthaben voraus. Das Guthaben setzt sich zusammen aus dem Prepay-Betrag 
		und dem Gewinn. Die Betreiberin stellt registrierten Benutzern eine Übersicht über ihr Guthaben zur Verfügung.
	</p>
	<p>
		Ein Prepay-Betrag kann über PayPal erworben werden. Eine Rückerstattung des Prepay-Betrags ist ausgeschlossen.
	</p>
	<p>
		Gewinn entsteht beim Anbieter, wenn ein Kunde zahlungspflichtige KluuUs des Anbieters in Anspruch nimmt. 
		Gewinn kann ausbezahlt oder für die Inanspruchnahme von zahlungspflichtigen KluuUs verwendet werden.
	</p>
	<h3>Tarif</h3>

	<p>
		Der Anbieter kann seine zahlungspflichtigen KluuUs zum einem Tarif zwischen 0.10€ und maximal 5€ pro 
		Minute und einem Fixpreis zwischen 0.10€ und maximal 50€ pro Anruf anbieten.
	</p>
	<h3>Abrechnung und Gebühr </h3>
	</p>
	<p>
		Kostenpflichtige Angebote sind stets 5 Minuten gratis. Erst nach Ablauf der ersten 5 Minuten setzt die 
		Zahlung ein. Beendet der Kunde das Gespräch vor Ablauf der 5 Minuten, entstehen ihm keine Kosten.
	</p>
	<p>
		Die  Zeit beginnt zu laufen, sobald Anbieter und Kunde sich im Videochat befinden. Durch den Eintritt 
		in das Gespräch bestätigt der Kunde die Bezahlung und der Kunde anerkennt den vereinbarten Tarif ohne 
		weitere Bedingungen. Der Anbieter kann die zahlungspflichtige Zeit mit dem Hold-Button jederzeit unterbrechen 
		und wieder starten. Der Kunde kann die zahlungspflichtige Zeit jederzeit anhalten, in dem er das Gespräch 
		beendet. Angefangene Minuten werden voll berechnet. Die Betreiberin bemüht sich um eine möglichst genaue 
		Abrechnung. Technische Schwierigkeiten können eine sekundengenaue Abrechnung beeinträchtigen.
	</p>
	<p>
		Die Bruttoeinnahmen aus einer zahlungspflichtigen KluuU Session berechnen sich aus dem Tarif multipliziert 
		mit der Anzahl angefangener Minuten (Bruttoeinnahmen = Tarif * angefangene Minuten).
	</p>
	<p>
		Für zahlungspflichtige KluuUs verrechnet die Betreiberin dem Anbieter eine Gebühr. Das Erstellen von 
		KluuUs unterliegt keiner Gebühr. Die Gebühr fällt an, wenn ein Kunde einen zahlungspflichtigen KluuU 
		in Anspruch nimmt. Die Höhe der Gebühr beträgt: 20 % der Bruttoeinnahmen
	</p>
	<h3>Gewinn und Auszahlung des Gewinns</h3>
	<p>
		Der Gewinn des Anbieters berechnet sich aus den Bruttoeinnahmen abzüglich der Gebühr 
		(Gewinn = Bruttoeinnahmen – Gebühr).
	</p>
	<p>
		Der Anbieter kann sich maximal einmal monatlich seinen Gewinn auszahlen lassen. Die Auszahlung muss 
		vom Anbieter beantragt werden.
	</p>
	<p>
		Der Anbieter benötigt ein PayPal Konto (www.paypal.com) auf welchen Gewinne ausbezahlt werden. 
		Andere Auszahlungsmöglichkeiten sind ausgeschlossen. Gewinn wird nur ausbezahlt, sofern dessen Stand 
		mindestens 20€ beträgt. Liegt der Stand tiefer, wird solange gewartet, bis der Gewinn 20€ erreicht. 
		Die Auszahlung des Gewinns kann ab dem Zeitpunkt der Beantragung bis zu zwei Wochen in Anspruch nehmen.
	</p>
	<h3>Steuerpflicht</h3>
	<p>
		Der Anbieter ist dafür verantwortlich seinen erzielten Verdienst zu versteuern. Der Anbieter anerkennt, 
		dass die Betreiberin gegenüber Steuerbehörden auskunftspflichtig ist und die Auskunftspflicht auch 
		Informationen über den Anbieter betreffen kann.
	</p>
	<h3>Technische Infrastruktur</h3>
	<p>
		Die Betreiberin ist bemüht, den Betrieb und die Funktionen der Website störungsfrei und ohne Unterbrechungen 
		zu gewährleisten. Wartungsarbeiten, Störungsbehebungen, der Ausbau der Dienstleistungen, die Abhängigkeit 
		von Dritten (bspw. Internetprovider) etc. können vorübergehende Betriebsunterbrechungen bewirken.
	</p>
	<p>
		Als Anbieter oder Kunde stellen Sie sicher, dass Sie über eine leistungsfähige Infrastruktur (Internetanschluss, 
		Hardware etc.) verfügen, welche die qualitativ einwandfreie, störungsfreie und sichere Übermittlung von KluuUs 
		gewährleistet. Die Betreiberin empfiehlt allen Anbietern, mindestens 15 Minuten vor Antritt einer KluuU Session 
		die Internetleitung zu prüfen und einen Testanruf zu tätigen.
	</p>
	<h3>Promotion</h3>
	<p>
		Die Betreiberin behält sich das Recht vor, Hinweise auf KluuUs ohne Zustimmung des Anbieters auf der Startseite 
		der Website zu platzieren. Wünscht der Anbieter dies nicht, kann er von der Betreiberin die Entfernung verlangen.
	</p>
	<p>
		Hinweise auf KluuUs können ohne Zustimmung des Anbieters auf Plattformen Dritter (bspw. Facebook, Tumblr, 
		Twitter etc.) gepostet, an diese weitergeleitet, mit diesen verlinkt oder anderweitig verbunden werden.
	</p>
	<h3>Haftung</h3>
	<p>
		Die Betreiberin ist nicht verantwortlich für das Verhalten von Anbietern. Jegliche Garantie oder Haftung 
		ist ausgeschlossen. Insbesondere übernimmt die Betreiberin keine Garantie oder Haftung im Zusammenhang mit:
		<ul>
			<li>
				den von Anbietern angebotenen, versprochenen oder erbrachten Dienstleistungen
			</li>
			<li>
				Inhalten von KluuUs
			</li>
			<li>
				der Einordnung von KluuUs im richtigen Bereich
			</li>
			<li>
				den Profilangaben von Anbietern
			</li>
		</ul>
	</p>
	<p>
		Die Betreiberin bietet keine Garantie für eine einwandfreie Funktion der Abrechnung. Jegliche Haftungsansprüche 
		in diesem Zusammenhang sind ausgeschlossen.
	</p>
	<p>
		Die Betreiberin gewährt keine Garantie oder Haftung dafür, dass der registrierte Benutzer in die Lage versetzt 
		wird, den vom ihm beabsichtigten wirtschaftlichen oder anderen Zweck zu erreichen.
	</p>
	<p>
		Die Betreiberin bietet keine Garantie für eine einwandfreie Funktion und die ständige Verfügbarkeit der Website.
		 Jegliche Haftungsansprüche in diesem Zusammenhang sind ausgeschlossen.
	</p>
	<p>
		Die Betreiberin übernimmt keine Haftung für die missbräuchliche Nutzung ihrer Kommunikationsinfrastruktur und 
		Benutzerdaten durch Dritte. Die Betreiberin übernimmt ebenfalls keine Haftung für Schäden, die registrierten 
		Benutzern wegen Datenverlust (Verlust eines Profils oder von KluuUs etc.) oder der Unmöglichkeit, Zugang zum 
		Internet zu erhalten oder Informationen zu senden oder zu empfangen oder Dienstleistungen zu erbringen oder 
		zu empfangen, entstehen.
	</p>
	<p>
		Der registrierte Benutzer haftet gegenüber der Betreiberin für sämtliche Schäden (inkl. mittelbarer Schaden, 
		Folgeschäden, entgangener Gewinn), die auf die Verletzung seiner vertraglichen und gesetzlichen Pflichten 
		zurückzuführen sind.
	</p>
	<h3>Anwendbares Recht und Gerichtsstand</h3>
	<p>
		Die Nutzung der Website untersteht Schweizer Recht. Gerichtsstand für jegliche Streitigkeiten ist der Sitz 
		der Betreiberin. Die Betreiberin ist berechtigt, den registrierten Benutzer an dessen Domizil zu belangen.
	</p>
</article>
