<article class="well well-large">
	<h2>Nutzungsbedingungen von www.kluuu.com</h2>

	<h3>Allgemeines</h3>

	<p>
		Die Website www.kluuu.com (nachfolgend „Website“ genannt) wird von der kuurz & lumpur AG (nachfolgend „Betreiberin“ genannt) betrieben.
		Diese Nutzungsbedingungen regeln das Rechtsverhältnis zwischen der Betreiberin und den Besuchern der Website (nachfolgend "Besucher" oder „Sie“ genannt).
		Der Besuch der Website steht jedermann offen. Die Nutzung bestimmter Dienstleistungen ist jedoch registrierten Benutzern vorbehalten.
	</p>
	<p>
		Mit dem Besuch der Website akzeptieren Sie die vorliegenden Nutzungsbedingungen. Sollten Sie diese Bestimmungen nicht akzeptieren, dann verlassen Sie bitte die Website unverzüglich.
	</p>

	<h3>Änderungen der Website</h3>
	<p>
		Die Betreiberin behält sich vor, den Inhalt, den Aufbau und die Funktionen der Website jederzeit und ohne Vorankündigung zu ändern, vorübergehend oder vollständig
		einzustellen sowie einzelne Funktionen an die Erfüllung bestimmter Voraussetzungen zu knüpfen. Die Betreiberin kann den Zugang für einzelne Besucher teilweise oder ganz sperren.
	</p>

	<h3>Haftungsausschluss</h3>
	<p>
		Die Betreiberin ist bestrebt, die Informationen auf der Website auf dem neuesten Stand zu halten. Gleichwohl kann keine Garantie für die Korrektheit und
		Aktualität der dargestellten Informationen übernommen werden. Sie nutzen diese Informationen oder unterlassen deren Nutzung in eigener Verantwortung.
		Die Betreiberin schliesst die Haftung aus dem Zugriff oder der Nutzung dieser Website und der darin enthaltenen Informationen, Angaben und Dienstleistungen,
		einschliesslich solcher von Drittpersonen, im gesetzlich zulässigen Rahmen aus. Die Haftung für durch Computerviren, Spionageprogramme und andere schädliche
		Computerprogramme verursachte Schäden wird ausgeschlossen.
	</p>
	<h3>Eigentum</h3>
	<p>
		Die gesamte Form und alle Inhalt der Website (inklusive Text-, Bild-, Ton- und Filminformationen, Namen, Firmen, Domains, Titel, Logos usw.)
		sind rechtlich geschützt und dürfen weder für kommerzielle noch öffentliche Zwecke kopiert, modifiziert, übermittelt, reproduziert oder auf irgend eine andere
		Weise verwendet werden. Alle Rechte an bestehendem oder bei der Vertragserfüllung entstehendem geistigen Eigentum verbleiben bei der Betreiberin. Sofern Sie Texte,
		Bilder usw. nutzen möchten, können Sie sich mit der Betreiberin in Verbindung setzen.
	</p>
	<p>
		Die Betreiberin unternimmt alles dafür und geht nach bestem Wissen und Gewissen davon aus, dass keine Rechte an geistigem Eigentum von Dritten verletzt werden.
		Falls Sie trotzdem eine Verletzung von solchen Rechten melden möchten, können Sie sich mit der Betreiberin in Verbindung setzen.
	</p>
	<h3>Links zu anderen Websites</h3>
	<p>
		Die Website kann Links zu anderen Websites enthalten. Diese Seiten werden von Dritten betrieben und die Betreiberin hat keinen Einfluss darauf.
		Die Betreiberin distanziert sich in aller Form vom Inhalt verlinkter Seiten und lehnt jegliche Haftung in Zusammenhang mit verlinkten Seiten sowie
		das Verhalten deren Betreiber ab.
	</p>
	<h3>Datenschutz</h3>
	<p>
		Beim Besuch der Website können bestimmte Daten im Zusammenhang mit dem Besucher und seiner Nutzung der Website (z.B. IP-Adresse, Browsertyp, Browserversion,
		aufgerufene Inhalte etc.) erhoben werden. Diese Daten werden ausgewertet, z.B. zu statistischen Zwecken und um Funktion und Inhalt der Website zu verbessern.
	</p>
	<p>
		Die Betreiberin ist berechtigt, die erhobenen Daten im Rahmen des angegeben Zwecks an Dritte weiterzugeben.
	</p>

	<h3>Cookies</h3>
	<p>
		KluuU verwendet sogenannte Cookies. Cookies werden von den meisten Internet-Diensten verwendet und erlaubt KluuU Ihren Computer zu erkennen,
		wenn Sie wieder unsere Webseite besuchen. Cookies sind Teil Ihrer Browser-Software und speichern Angaben über die Nutzung von Webseiten auf Ihrem Computer.
	</p>
	<p>
		Sie können in Ihrer Browser-Software selber festlegen, inwiefern Ihr Computer Cookies akzeptieren soll. Wenn Sie Cookies in Ihrer Software deaktivieren,
		können Sie unsere Webseite gleichwohl besuchen. Es ist jedoch möglich, dass gewisse Funktionen nicht mehr im gleichen Umfange genutzt werden können oder
		der Besuch nicht mehr so komfortabel ist. – Sie haben jederzeit die Möglichkeit Cookies von Ihrer Festplatte zu löschen. – Wenn Sie Cookies deaktivieren
		oder von Ihrer Festplatte löschen, verhindern Sie, dass bestimmte Daten über die Nutzung der Webseite an Google übertragen werden.
	</p>
	<h3> Änderungen dieser Nutzungsbedingungen</h3>
	<p>
		Die Betreiberin kann diese Nutzungsbedingungen jederzeit und ohne Vorankündigung ändern.
	</p>

	<h3>Anwendbares Recht und Gerichtsstand</h3>
	<p>
		Die Nutzung der Website untersteht Schweizer Recht. Gerichtsstand für jegliche Auseinandersetzungen ist der Sitz der Betreiberin. Die Betreiberin ist berechtigt, den Kunden an dessen Domizil zu belangen.
	</p>
</article>