.avatar{
  display: inline-block;
  margin: 10px 3px;
  vertical-align: top; 

  .avatar-box{    
    position:relative;
    background: #aaa;
    padding: 10px 10px 3px 10px;
    font-size: 0.8rem;
    .avatar-name{
      padding:5px 0;
      color: black
    }

    .host-banner{
      width: 50px;
      height: 50px;
      position:absolute;
      top: 0;
      left: 0;
      overflow: hidden;
      span{
        @include rotate(-45);
        display: block;
        margin: 10px 0 0 -14px;
        background: $brand-color-green;
        font-family: 'eaglebook'
      }
    }

    .mic-state-action{
      color: black;
      background: #eee;;
      position: absolute;
      top: 80px;
      left: 45px;
      height: 30px;
      width: 30px;
      i{
        font-size:1.5rem;
        line-height: 2rem;
      }
      @include opacity(0);
    }

/*    &:hover,&:focus{
      .mic-state-action{
        @include opacity(1);
      }
    }*/
  }

  .host-actions{
    margin-top: 2px;
    background: #aaa;
    .guest-demote-link{
      padding:5px 0;
      color: red;
      font-size: 0.8rem;
      cursor: pointer;
    }
    .guest-promote-link{
      padding:5px 0;
      color: red;
      font-size: 0.8rem;
      cursor: pointer;
    }
  }

}