.avatar{
  position:relative;
  display: inline-block;
  vertical-align: top;

  .avatar-image{
    position:relative;
    display: inline-block;
    overflow:hidden;
    .avatar-bg{
      fill: white;
    }
  }

  .avatar-name{
    padding:2px 0;
    color: white;
    font-family: $brand-font-bold;
    font-size: rem-calc(12);
  }

}