.comment-item{
  border-bottom: 0px solid #333;
  .comment-left-box{
    padding-top: 8px;
  }
  .comment-right-box{
    padding-left: 60px;
  }
  .comment-author{
    font-weight: bold;
    font-size: 0.7rem;
  }
  .comment-date{
    font-size: 0.7rem;
  }
}

.comment-form{
  position: relative;
  z-index: 2;
  height: 110px;
  label{
    display: none
  }
  .comment-right-box{
    position: absolute;
    left: 60px;
    top: 0;
    right: 0;
    #comment_content{
      height: 70px;
    }
    .button{
      position: absolute;
      right: 0px;
      bottom: -12px;
    }
  }
}