footer{
  margin-top: 30px;
  ul{
    display: inline-block;
    h6{
      font-size: rem-calc(12);
      color: #000;
    }
    li{
      min-width: 80px;
      vertical-align: top;
      display: inline-block;
      text-align: left;
      font-size: rem-calc(12);
      color: rgba(0,0,0,0.5);
      a{
        color: inherit;
        display: inline-block;
        font-family: $brand-font-bold;
      }
    }
  }
  .vr-copyright{
    font-size: rem-calc(12);
    color: rgba(0,0,0,0.3);
    font-family: $brand-font-light;
  }
}
