footer{
	margin-top: 30px;
	.footer-list{
		h6{
			color: lighten($color-black-title, 40%);
			font-size: rem-calc(10);
			margin:0;
			line-height: 1.4
		}
		> li{
			display: inline-block;
			margin: 0 10px;
			padding: 0;
			text-align: left;
			vertical-align: top;
		}
		> li,a{
			font-size: rem-calc(10);
			color: lighten(black, 50%)
		}
	}
}