.header-block { // for fullsize background
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #f5f5f5;
  padding-top: 55px;
  color: #fff;
  border-bottom:1px solid rgba(0,0,0,1);
}