.how-to-use-vr-dropdown{
  position: relative;
  background: $brand-color-green;
  height:0;
  overflow: hidden;
  @include transition(height 0.5s);
  .row{
    padding-top: 30px;
    padding-bottom: 30px;
    h3{
      color: white;
    }
    p{
      font-family: 'eaglelight';
      color: white;
      margin: 0
    }
  }
  .close-x{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: rem-calc(20);
    color: white;
    cursor: pointer;
  }
}