.how-to-use-vr-dropdown{
  position: relative;
  background: $brand-color-green;
  padding: 30px;
  height:0;
  @include transition(height 0.5s);
  h3{
    color: white;
  }
  p{
    font-family: 'eaglelight';
    color: white;
  }
  .close-x{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: rem-calc(20);
    color: white;
  }
}