.icecast_instructions {

    background-color: $brand-color-yellow;
    color: black;
    padding: 10px;
    margin: 10px 0;
    border: 10px dashed;

    h1 {
        color: black;
    }

    table {
        margin: 10px auto;
    }

    td {
        text-align: left;
    }

}
