.registrations-create{
  .registrations-title{
    color: #000;
  }
}

.signup-facebook{
  background: #3D5A9A;
  padding: 6px 10px 7px 5px;
  color: white;
  font-family: $brand-font-bold;
  font-size: rem-calc(14);
  &:hover,&:focus{
    color: white
  }
}

.registrations-new{
  .user_accept_terms_of_use{
    a{
      color: $brand-color-green;
      &:hover{
        text-decoration: underline
      }
    }
  }
}