#social_share {
  position: absolute;
  right: 20px;
  top: 39px;
  .share{
    display: block;
    height: 23px;
    width: 23px;
    a{
      position:relative;
      color:white;
      &:hover,&:focus{
        color:$brand-color-green;
      }
      span[class^="icon-"]{
        font-size: rem-calc(10);
        position:absolute;
        top: 6px;
        left: 5px;
        text-shadow: 0 0 1px rgba(0,0,0,0.5);
      }
      span.icon-octagon{
        font-size: rem-calc(21);
        top: 0;
        left: 0;
      }
    }
  }
}
