.talk-small-box{
  height: 196px;
  position: relative;
  overflow: hidden;

  @include transition(background, 0.15s, ease-in-out);
/*  &:hover, &:focus{
    background: $brand-color-green;
  }*/
  border-bottom: 4px solid $color-black-title;
  margin-bottom: 18px;
  .breadcrumbs-box{
    a{
      font-family: 'eaglelight';
      font-size: rem-calc(13);
      width:46%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      height: 24px;
      margin-bottom: 5px;
      display: block;
      border-bottom: 4px solid $color-black-title;
      span[class^="icon-"]{
        font-size: rem-calc(11);
        vertical-align: middle;
        position: relative;
        top: 1px;
        margin-right: 1px;
        line-height: 20.8px;
      }
    }
  }
  .top-image{
    height: 52px;
    width: 100%;
    background-position: center center;
    background-size: 100%;
    margin-bottom: 2px;
  }

  .datetime{
    font-family: 'eaglelight';
    font-size: rem-calc(13);
    color: white;
    background: black;
    line-height: 1;
    display: inline;
    padding: 1px 3px 0;
    .time{
      font-family: 'eaglebook';
      font-size: rem-calc(13);
    }
  }
  .title{
    line-height: 1rem;
    font-family: 'eaglebook';
    font-size: rem-calc(15);
    margin: 0 0 -1px 0;
    line-height: 1.15;
    color: $color-black-title;
  }
  .teaser{
    font-size: rem-calc(13);
    font-family: 'eaglelight';
    line-height: 1.1;
    display: inline-block;
    overflow: hidden;
    .points{
      position: absolute;
      bottom: 2px;
      right:0;
      width:15px;
      text-align: right;
      @include linear-gradient(rgba(254,241,222,0), $brand-color-creme, $brand-color-creme, $brand-color-creme);
    }
  }
  &.box-grey{
    border-bottom: none;
    .breadcrumbs-box{
      a{
        color: $brand-color-yellow;
        background: #666059;
        height: 23px;
        padding: 3px 6px;
        border-bottom: none;
        width: 49%;
      }
    }
    .text-box{
      height: 110px;
      margin-top: 5px;
      background: #666059;
      padding: 4px 6px;
      .datetime{
        background: transparent;
      }
      .title{
        color: $brand-color-yellow;
      }
      .teaser{
        color: white;
        background: #666059;
      }
    }
    &:after{
      content: '';
      height:17px;
      width: 100%;
      display: block;
      position: absolute;
      bottom: 0;
      left:0;
      @include vertical-gradient(rgba(102, 96, 89, 0), #666059);
    }
  }
  &.box-black{
    border-bottom: none;
    background: black;
    .breadcrumbs-box{
      a{
        color: white;
        background: black;
        height: 23px;
        padding: 3px 6px;
        border-bottom: none;
        width: 48%;
      }
    }
    .top-image{
      margin-bottom: 0;
    }
    .text-box{
      height: 110px;
      margin-top: 0px;
      background: black;
      padding: 3px 6px;
      .datetime{
        background: black;
        padding-left: 0;
        padding-top: 0;
      }
      .title{
        color: white;
      }
      .teaser{
        color: white;
        background: black;
      }
    }
    &:after{
      content: '';
      height:17px;
      width: 100%;
      display: block;
      position: absolute;
      bottom: 0;
      left:0;
      @include vertical-gradient(rgba(0,0,0, 0), black);
    }
  }
  &.box-transparent{
    &:after{
      content: '';
      height:17px;
      width: 100%;
      display: block;
      position: absolute;
      bottom: 0;
      left:0;
      @include vertical-gradient(rgba(254,241,222, 0), #feeed7);
    }    
  }
}