.talks-small-block-grid{
  @include block-grid(
    $per-row: 3,
    $spacing: 10px,
    $base-style: true
  )
}
@media #{$small-only} {
  .talks-small-block-grid{
    @include block-grid(
      $per-row: 2,
      $spacing: 10px,
      $base-style: true
    )
  }
}

.talk-small-box{
  height: 196px;
  position: relative;
  overflow: hidden;

  @include transition(background 0.15s ease-in-out);
  &:hover, &:focus{
    background: darken($brand-color-creme, 3%);
  }
  border-bottom: 4px solid $color-black-title;
  margin-bottom: 18px;
  .breadcrumbs-box{
    a{
      font-family: $brand-font-light;
      font-size: rem-calc(13);
      width:46%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      height: 24px;
      margin-bottom: 5px;
      display: block;
      border-bottom: 4px solid $color-black-title;
      span[class^="icon-"]{
        font-size: rem-calc(11);
        vertical-align: middle;
        position: relative;
        top: 1px;
        margin-right: 1px;
        line-height: 20.8px;
      }
      &:hover, &:focus{
        .link-text{
          text-decoration: underline;
        }
      }
    }
  }
  .top-image{
    height: 52px;
    width: 100%;
    background-position: center center;
    background-size: 100%;
    margin-bottom: 2px;
  }

  .datetime{
    font-family: $brand-font-light;
    font-size: rem-calc(13);
    color: white;
    background: black;
    line-height: 1;
    display: inline;
    padding: 1px 3px 0;
    .time{
      font-family: $brand-font-bold;
      font-size: rem-calc(13);
    }
  }
  .title{
    line-height: 1rem;
    font-family: $brand-font-bold;
    font-size: rem-calc(15);
    margin: 0 0 -1px 0;
    line-height: 1.15;
    color: $color-black-title;
  }
  .teaser{
    font-size: rem-calc(13);
    font-family: $brand-font-light;
    line-height: 1.1;
    display: inline-block;
    overflow: hidden;
  }
  &.box-transparent{
    &:after{
      content: '';
      height:17px;
      width: 100%;
      display: block;
      position: absolute;
      bottom: 0;
      left:0;
      @include vertical-gradient(rgba(254,241,222, 0), #feeed7);
    }
  }

  // GREY BOX
  &.box-grey{
    border-bottom: none;
    .breadcrumbs-box{
      a{
        color: $brand-color-yellow;
        background: #666059;
        height: 23px;
        padding: 3px 6px;
        border-bottom: none;
        width: 49%;
      }
    }
    .text-box{
      height: 110px;
      margin-top: 5px;
      background: #666059;
      padding: 4px 6px;
      @include transition(background 0.15s ease-in-out);
      .datetime{
        background: transparent;
      }
      .title{
        color: $brand-color-yellow;
      }
      .teaser{
        color: white;
      }
    }
    &:after{
      content: '';
      height:17px;
      width: 100%;
      display: block;
      position: absolute;
      bottom: 0;
      left:0;
      @include vertical-gradient(rgba(102, 96, 89, 0), #666059);
    }
    &:hover, &:focus{
      .breadcrumbs-box a,
      .text-box{
        background: darken(#666059, 5%);
      }
    }
  }

  // BLACK BOX
  &.box-black{
    border-bottom: none;
    background: black;
    &:hover, &:focus{
      background: lighten(black, 15%);
    }
    .breadcrumbs-box{
      a{
        color: white;
        background: transparent;
        height: 23px;
        padding: 3px 6px;
        border-bottom: none;
        width: 48%;
      }
    }
    .top-image{
      margin-bottom: 0;
    }
    .text-box{
      height: 110px;
      margin-top: 0px;
      padding: 3px 6px;
      .datetime{
        background: black;
        padding-left: 0;
        padding-top: 0;
      }
      .title{
        color: white;
      }
      .teaser{
        color: white;
      }
    }
    &:after{
      content: '';
      height:17px;
      width: 100%;
      display: block;
      position: absolute;
      bottom: 20px;
      left:0;
      @include vertical-gradient(rgba(0,0,0, 0), black);
    }
  }


  &.box-slim{
    border-bottom: none;
    .talk-small-padding{
      position: relative;
      background: black;
      .breadcrumbs-box{
        display: none;
      }
      .top-image{
        margin-bottom: 0;
      }
      .text-box{
        height: 131px;
        margin-top: 0px;
        padding: 3px 6px;
        .datetime{
          background: black;
          padding-left: 0;
          padding-top: 0;
        }
        .title{
          color: $brand-color-yellow;
        }
        .teaser{
          color: white;
        }
        &:after{
          content: '';
          height:17px;
          width: 100%;
          display: block;
          position: absolute;
          bottom: 0;
          left:0;
          @include vertical-gradient(rgba(0,0,0, 0), black);
        }
      }
    }
    &:hover, &:focus{
      .talk-small-padding{
        background: lighten(black, 15%);
        .text-box:after{
          @include vertical-gradient(rgba(38,38,38, 0), rgba(38,38,38, 1));
        }
      }
    }
  }
  &.box-live{
    border-bottom: none;
    .talk-small-padding{
      position: relative;
      .breadcrumbs-box{
        display: none;
      }
      .top-image{
        margin-bottom: 0;
      }
      .text-box{
        height: 131px;
        margin-top: 0px;
        padding: 3px 6px;
        overflow: hidden;
        .datetime{
          display: none;
        }
        .title{
          color: $color-black-title;
          font-size: rem-calc(24);
          line-height: 1;
          margin-top: 2px;
        }
        .teaser{
          color: $color-black-title;
          display: none;
        }
        &:after{
          content: '';
          height:17px;
          width: 100%;
          display: block;
          position: absolute;
          bottom: 46px;
          left:0;
          @include vertical-gradient(rgba(254,241,222, 0), #feeed7);
        }
      }
    }
    .tune-in{
      display: block;
      position: absolute;
      bottom:0;
      height: 46px;
      background: $brand-color-red;
      color: white;
      font-family: 'eaglebook';
      font-size: rem-calc(20);
      padding: 8px 0 6px 0;
      width: 100%;
      text-align: center;
    }
  }
}
