// MEDIUM TALK BOX
.talk-medium-box{
  position: relative;
  background: #F0F0F0;
  border: 1px solid #D4D4D2;
  padding: 7px 10px;
  margin:0 31px 4px 0 !important;

  .talk-medium-text-box{
    padding-left: 12px !important;
    .talk-datetime{
      font-size: 0.7rem;
    }
    .talk-title{
      font-weight: bold;
      line-height: 1rem;
      margin-bottom:3px;
    }
    .talk-teaser{
    	 line-height: 1rem;
      a{ 
        font-size: 0.75rem;
      }
      .read-more-link{
        text-decoration: underline;
        text-weight: bold;
      }
    }
  }
  .box-actions{
    position: absolute;
    right: -42px;
    top: -8px;
    a{
      display: block;
      width: 30px;
      height: 30px;
      padding:0;
      text-align: center;
      background: #F0F0F0;
      border:1px solid #D4D4D2;
      color: #000;
      .fi-x{
        padding-top:4px;
        font-size:1rem;
        display:inline-block;
      }
    }
  }
}