.talk-live-box{
  min-height: 222px;
  position: relative;
  overflow: hidden;
  margin-bottom: 18px;
  .left-box{
    position: absolute;
    top:0;
    left:0;
    @media #{$small-only} {
      position: static;
    }
  }
  .right-box{
    padding-left: 352px;
    @media #{$small-only} {
      padding: 10px 0 0 0;
    }
    .text-link{
      position: relative;
      margin-top: -4px;
      display: block;
      .title{
        font-family: $brand-font-bold;
        font-size: rem-calc(24);
        margin: 0 0 18px 0;
        line-height: 1.3;
        color: $color-black-title;
      }
      .tune-in{
        background: $brand-color-red;
        font-family: $brand-font-bold;
        font-size: rem-calc(19);
        color: white;
        width: 100%;
      }
      .speakers-box{
        .speakers-title{
          font-family: $brand-font-bold;
          font-size: rem-calc(24);
        }
        p{
          font-family: $brand-font-light;
          font-size: rem-calc(20);
        }
      }
    }
  }
}