.tooltip-simple {
  position: relative;
  cursor: default !important;
  color: white;
  display: inline-block;
  &:hover{
    color: inherit
  }
}

.tooltip-simple > .tooltip-overlay {
  color: #555;
  text-align: left;
  font-family: Helvetica;
  font-size: rem-calc(12);
  line-height: 1.2;
  background: white;
  border: 1px solid rgba(0,0,0,0.5);
  border-radius: 3px;
  position: absolute;
  z-index: 1000;
  width: 200px;
  top: 30px;
  left: -100px;
  padding: 8px 10px;
  visibility:hidden;
  @include opacity(0);
  @include transition('opacity 0.2s linear');
}

.tooltip-simple > .tooltip-overlay:after {
  content: "";
  position: absolute;
  top:-8px;
  left: 50%;
  margin-left: -5px;
  width:14px;
  height: 14px;
  background: white;
  @include rotate(45);
  z-index: 1;
  border-left: 1px solid #888;
  border-top: 1px solid #888;
}

.tooltip-simple:hover > .tooltip-overlay {
  visibility: visible;
  @include opacity(1);
}