.top-bar-box{
  margin-bottom:-55px !important;
  max-width: rem-calc(700);

  .top-bar {
    z-index: 2;
  }

  .user-link{
    font-family:$brand-font-bold;
    font-size: rem-calc(12);
  }

  .user-link-dropdown{
    a{
      font-family:$brand-font-bold;
      font-size: rem-calc(12px)
    }
  }

  .avatar{
    margin-top: 7px;
    margin-right: 4px;
    .avatar-image{
      display: block
    }
  }

  .top-bar-vr-logo{
    position: absolute;
    top:0;
    left: 50%;
    margin-left: -40px;
    width:80px;
    height: 36px;
    overflow: hidden;
    .icon-vr-logo{
      position: relative;
      color: white;
      top: -6px;
      font-size: rem-calc(46);
    }
  }

  .top-bar-search-box{
    position: relative;
  }

  .top-bar-search-field{
    width: 100px;
    &:focus{
      width:150px;
    }
    background: #000 !important;
    padding-left: 30px !important;
    color: #fff !important;
    font-family: $brand-font-bold;
    font-size: rem-calc(12);
    border-style: none !important;
    @include placeholder{
      color: #ddd;
    }
    &:hover,
    &:focus{
      background: #333 !important;
      border-style: none !important;
      outline-style: none !important;
      @include box-shadow(0,0,0,#000);
      color: #fff
    }
  }

  .search-lupe{
    .icon-magnifying-glass{
      color: #ddd
    }
    position: absolute;
    left: 2px;
    top: 6px;
    background: none;
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
    display: inline;
    &:hover,
    &:focus{
      background:none;
      .icon-magnifying-glass{
        color: #fff
      }
    }
  }

}
