// MEDIUM TALK BOX
.user-medium-box{
  .avatar-bg{
    fill: white
  }
  .avatar-name{
    color: $color-black-title !important;
  }
  position: relative;
  background: #F0F0F0;
  border: 1px solid #D4D4D2;
  @include transition(background, 0.15s, ease-in-out);
  &:hover, &:focus{
    background: $brand-color-green;
  }
  padding: 7px 10px;
  margin:0 31px 4px 0 !important;

  .about-box{
    padding-left: 12px !important;
    .user-about{
      p{

      }
    }
  }
}