.talkbox-container {
  padding: 6px;
}

$font-size: 17px;
$line-height: 1.1;
$lines-to-show: 2;
.talkbox {
  background: white;
  padding: 12px;
  transition: background .2s ease;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
  &:hover {
    background: $beige;
  }
  .user-info {
    padding-top: 4px;
  }
  .avatar {
    width: 32px;
    float: left;
    padding-top: 6px;
  }
  .meta {
    float: left;
    padding-top: 8px;
    color: #999;
    margin-left: 4px;
    p a,
    p {
      font-size: rem-calc(12);
      line-height: rem-calc(14);
      margin: 0;
      padding: 0;
      .play-arrow {
        margin-left: 12px;
        margin-right: -2px;
        margin-top: -2px;
      }
    }
  }
  img {
    margin-bottom: 0;
  }
  .link-text {
    //font-family: $body-font;
    font-family: georgia;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 3px;
  }
  .title a {
    // font-family: $headline-font;
    display: block;
    color: $dark;
    /* Fallback for non-webkit */
    display: -webkit-box;
    max-width: 400px;
    height: $font-size*$line-height*$lines-to-show;
    /* Fallback for non-webkit */
    margin: 0;
    font-size: $font-size;
    line-height: $line-height;
    -webkit-line-clamp: $lines-to-show;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 8px;
    margin-bottom: 0;
  }
}
