.venue-medium-box{
  .link-venue{
    display: block;
    .venue-title{
      font-size: rem-calc(30);
      line-height: 0.9;
      margin-bottom:5px;
      color: $color-black-title;
      @extend .ellipsis;
    }
    .venue-teaser{
      font-family: $brand-font-light;
      font-size: rem-calc(18);
      color: $color-black-title;
      line-height: 1.1;
      height: 40px;
      overflow: hidden;
      margin-bottom: 3px;
    }
  }

  .action-box{
    li{
      padding-bottom: 0;
    }
    .black-background-box{
      display: inline-block;
      background: black;
      padding: 0 12px;
      height: 40px;
      width: 100%;
      img{
        width: 100%;
      }
      a{
        display: inline-block;
        height: 40px;
        vertical-align: top;
        color: white;
        text-align: center;
        font-family: $brand-font-bold;
        font-size: rem-calc(15);
        padding: 14px 0 0 0;
        line-height: 1;
        &:first-child{
          margin-right: 7px;
        }
        &:nth-child{
          margin-left: 7px;
        }
      }
      .icon-mic{
        display: inline-block;
        color: white;
        margin: 5px 0;
        font-size: rem-calc(24);
        height: 40px;
        line-height: 1;
      }
    }
  }
}