// MEDIUM TALK BOX
.venue-medium-box{
  margin-bottom: 10px !important;
  .venue-text-bg{
    background-size: 50%;
    background-position: center center;
    background-repeat: no-repeat;    
  }
  .venue-text-box{
    padding: 19px 0 11px 0;
    background-color: $venue-medium-box-background-color;
    .venue-title{
      font-size: rem-calc(20);
      line-height: 1rem;
      margin-bottom:10px;
    }
    .venue-teaser{
      line-height: 1rem;
    }
    p{
      color: white
    }
  }

  .action-box{
    .button-venue-box{
      display:inline-block;
      @include button(rem-calc(6), #000);
      color: $brand_color_creme;
      font-family: 'eaglebook';
      font-size: rem-calc(13);
      &:hover,&:focus{
        color: $brand_color_creme;
        background: #333;
      }
      &:nth-child(2){
        position: relative;
        left: -4px
      }
    }
  }
}

