// VOICE REPUBLIC JPLAYER

div.jp-audio{
	line-height:1.6;
	background-color:rgba(0,0,0,0.3);
	width:100%;
}

div.jp-interface {
	position: relative;
	width:100%;
	height:40px;
}

/* @group CONTROLS */

ul.jp-controls {
	list-style-type:none;
	margin:0;
	padding: 0;
	overflow:hidden;
}

ul.jp-controls li {
	display:inline-block;
}

ul.jp-controls a {
	display:block;
	overflow:hidden;
}
a.jp-play,
a.jp-pause {
	width:40px;
	height:40px;
	font-size: 1.4rem;
	color:green;
}

/* @end */

/* @group progress bar */

div.jp-progress {
	overflow:hidden;
	background-color: #ddd;
}
div.jp-progress {
	position: absolute;
	top:32px;
	height:15px;
}
div.jp-progress {
	left:0;
	width:100%;
}

/* BACKGROUND SEEKBAR */
div.jp-seek-bar {
	background: #000;
	width:0px;
	height:100%;
	cursor: pointer;
}

/* SEEKBAR FROM START TO ACTUAL TALK TIME */
div.jp-play-bar {
	background: linear-gradient(to right,rgba(0,0,0,0),green, green);
	width:0px;
	height:100%;
}

/* The seeking class is added/removed inside jPlayer */
div.jp-seeking-bg {
	background: image-url("player.blue.monday.seeking.gif");
}

/* @end */



/* @group current time and duration */

div.jp-time-holder {
	position:absolute;
	top:50px;
}
div.jp-time-holder {
	left:0px;
	width:100%;
}

div.jp-current-time,
div.jp-duration {
	width:60px;
	font-size:.64em;
	font-style:oblique;
	margin-left: 5px;
}
div.jp-current-time {
	float: left;
	display:inline;
}
div.jp-duration {
	float: right;
	display:inline;
	margin-right: 5px;
	text-align: right;
}

/* @end */



.jp-no-solution {
	padding:5px;
	font-size:.8em;
	background-color:#eee;
	border:2px solid #009be3;
	color:#000;
	display:none;
}

.jp-no-solution a {
	color:#000;
}

.jp-no-solution span {
	font-size:1em;
	display:block;
	text-align:center;
	font-weight:bold;
}
