.button-embed,
.button-podcast{
  display: inline-block;
  position: relative;
  font-size: rem-calc(11px);
  border: 1px solid white;
  padding: 0px 6px 3px 6px;
  background: $brand-color-green;
  color:white;
  border-radius: 3px;
  @include box-shadow(0, 0, 3px, rgba(0,0,0,0.5));
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05), -1px -1px 1px rgba(0, 0, 0, 0.05);
  .icon-code{
    font-size:rem-calc(14);
    line-height: 1
  }
  .icon-podcast{
    font-size: rem-calc(10);
    top:2px;
  }
  &:hover{
    color:white;
    background: darken($brand-color-green, 10%);
  }
  &:active{
    background: darken($brand-color-green, 20%);
  }
}


.button-vr{
  @include button(rem-calc(15),#000);
  border-color: $brand-color-green;
  padding: rem-calc(12) rem-calc(20) rem-calc(11) rem-calc(20);
  color: $brand-color-green;
  font-family: $brand-font-bold;
  &.button-full-size{
    width: 100%;
  }
  @include transition(all 0.1s ease-in-out);
  &:hover, &:focus, &:active{
    background: lighten(#000, 10%);
    color: $brand-color-green;
  }
  &.facebook {
    background-color: #3B5999;
    border: none;
    color: white;
    font-size: rem-calc(14)
  }

}

.button-live{
  border-color: $brand-color-red;
  color: $brand-color-red;
  &:hover, &:focus, &:active{
    color: $brand-color-red;
  }
}

.link-delete{
  margin-top: 19px;
  color: $color-black-title;
  &:hover,&:focus{
    color: darken($brand-color-green, 5%);
  }
  font-family: $brand-font-bold;
  font-size: rem-calc(14)
}

.button-standard{
  @include button(rem-calc(11),#ddd);
  padding-right: 20px;
  padding-left: 20px;
  border:none;
  color: #333;
  font-size: rem-calc(11);
  margin-bottom: 2px;
}

.button-standard-small{
  @include button(rem-calc(3),#ddd);
  padding-right: 10px;
  padding-left: 10px;
  border:none;
  color: #333;
  font-size: rem-calc(11);
  margin-bottom: 2px;
}

.button-save{
  @include button(rem-calc(3),$color-black-title);
  font-family: $brand-font-bold;
  font-size: rem-calc(23);
  padding: 6px 21px 4px 21px;
  line-height: 1;
  border:none;
  color: white;
  &:hover{
    color: white;
    background: lighten($color-black-title, 15%);
  }
  &:focus,&:active{
    color: #C9C9C9;
    background: grey;
    outline: none;
  }
}

.button-cancel{
  font-family: $brand-font-bold;
  font-size: rem-calc(23);
  padding: 7px 0 0 10px;
}