.new_talk,
.edit_talk,
.new_series,
.edit_series,
.new_user,
.edit_user{
  .form-top-box{
    margin-top: 55px;
    padding:0px 10px 0px 10px;
    background: rgba(0,0,0,0.20);
    .title-box{
      margin: 20px 0 14px 0;
      h2{
        position: relative;
        left: -9px;
        line-height: 1;
        display: inline-block;
        color: $color-black-title;
        font-size: rem-calc(19);
        border-bottom: 3px solid $color-black-title;
        margin: 0;
      }
      .help-text{
        font-family: $brand-font-light;
        font-size: rem-calc(14);
        line-height:1;
        margin-top: 4px;
      }
    }
    label{
      font-size: rem-calc(14);
      font-family: $brand-font-light;
      color: $color-black-title;
    }

    .text-area{
      height:300px;
    }
  }
  .form-save-row{
    padding:35px 16px 27px 16px;
    background: rgba(0,0,0,0.20);
  }
}