// VOICE REPUBLIC JPLAYER

div.jp-audio{
  line-height:1.6;
  width:100%;
}

div.jp-interface {
  position: relative;
  width:100%;
  height:44px;
}

/* @group CONTROLS */

ul.jp-controls,
ul.outside-controls {
  list-style-type:none;
  padding: 0;
  overflow:hidden;
}

ul.jp-controls li {
  display:inline-block;
}

ul.jp-controls a {
  margin:5px 0 0 0;
  display:block;
  overflow:hidden;
}
a.jp-play,
a.jp-pause {
  width:40px;
  height:25px;
  span{
    font-size: rem-calc(16);
    text-shadow: 0 0 2px rgba(0,0,0,0.2);
  }
  color:$brand-color-green;
}

ul.outside-controls{
  position: absolute;
  top: -94px;
  left: 29px;
  margin:0;
  span{
    padding-left: 10px;
    font-size: rem-calc(68);
    transition: text-shadow 0.25s;
    -moz-transition: text-shadow 0.25s;
    -webkit-transition: text-shadow 0.25s;
    -ms-transition: text-shadow 0.25s;
    &:hover,&:focus{
      text-shadow: 0 0 10px rgba(0,0,0,0.6);
    }
  }
}

@media screen and (max-width: 700px) {
  ul.outside-controls{
    display: none;
  }
}

/* @end */

/* @group progress bar */

div.jp-progress {
  position: absolute;
  top:30px;
  height:16px;
  overflow:hidden;
  background-color: darken($brand-color-green,45%);
  left:0;
  width:100%;
}

/* BACKGROUND SEEKBAR */
div.jp-seek-bar {
  background: #000;
  width:0px;
  height:100%;
  cursor: pointer;
}

/* SEEKBAR FROM START TO ACTUAL TALK TIME */
div.jp-play-bar {
  background: linear-gradient(to right,rgba(0,0,0,0),$brand-color-green, $brand-color-green);
  width:0px;
  height:100%;
}

/* The seeking class is added/removed inside jPlayer */
div.jp-seeking-bg {
  background: url("assets/player.blue.monday.seeking.gif");
}

/* @end */



/* @group current time and duration */

div.jp-time-holder {
  position:absolute;
  top:10px;
  left:0px;
  width:100%;
}

div.jp-current-time,
div.jp-duration {
  width:60px;
  font-family: 'eaglelight';
  font-size:rem-calc(12);
  margin-left: 10px;

}
div.jp-current-time {
  float: left;
  display:inline;
}
div.jp-duration {
  float: right;
  display:inline;
  margin-right: 10px;
  text-align: right;
}

/* @end */

.jp-no-solution {
  padding:5px;
  font-size:.8em;
  background-color:#eee;
  border:2px solid #009be3;
  color:#000;
  display:none;
}

.jp-no-solution a {
  color:#000;
}

.jp-no-solution span {
  font-size:1em;
  display:block;
  text-align:center;
  font-weight:bold;
}
