// VOICE REPUBLIC JPLAYER

div.jp-audio{
  line-height:1.6;
  width:100%;
}

div.jp-interface {
  position: relative;
  width:100%;
  height:44px;
}

/* @group CONTROLS */

ul.jp-controls,
ul.outside-controls {
  list-style-type:none;
  padding: 0;
  overflow:hidden;
  text-align:center;
  position:relative
}

ul.jp-controls li {
  display:inline-block;
}

ul.jp-controls a {
  margin:5px 0 0 0;
  display:block;
  overflow:hidden;
}
a.jp-play,
a.jp-pause {
  width:40px;
  height:25px;
  span{
    font-size: 16px;
    text-shadow: 0 0 2px rgba(0,0,0,0.2);
  }
  color:$brand-color-green;
}

ul.outside-controls{
  position: absolute;
  top: -94px;
  left: 29px;
  margin:0;
  .jp-play,
  .jp-pause{
    height: 80px;
    width: 80px;
    display: block;
    .icon-octa-full,
    .icon-play-octa,
    .icon-pause-octa{
      position: absolute;
      left:0;
      top:0;
      padding-left: 10px;
      padding-right: 10px;
      font-size: 68px;
      transition: all 0.15;
      -moz-transition: all 0.15;
      -webkit-transition: all 0.15;
      -ms-transition: all 0.15;
    }
    .icon-octa-full{
      color: $brand-color-green;
    }
    .icon-play-octa,
    .icon-pause-octa{
      color: white;
    }
  }
  &:hover{
    .jp-play,
    .jp-pause{
      .icon-octa-full{
        color: darken($brand-color-green, 10%);
        text-shadow: 0 0 20px rgba(0,0,0,0.6);
      }
    }
  }
  &:active{
    .jp-play,
    .jp-pause{
      .icon-octa-full{
        color: darken($brand-color-green,20%);
        text-shadow: 0 0 20px rgba(0,0,0,0.6);
      }
      .icon-play-octa,
      .icon-pause-octa{
        color: white;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  ul.outside-controls{
    display: none;
  }
}

/* @end */

/* @group progress bar */

div.jp-progress {
  position: absolute;
  top:30px;
  height:16px;
  overflow:hidden;
  background-color: rgba(0,0,0,0.5);
  border-top: 1px solid $brand-color-green;
  left:0;
  width:100%;
}

/* BACKGROUND SEEKBAR */
div.jp-seek-bar {
  width:0px;
  height:100%;
  background: rgba(0,0,0,0.5);
  cursor: pointer;
}

/* SEEKBAR FROM START TO ACTUAL TALK TIME */
div.jp-play-bar {
  background: linear-gradient(to right,rgba(0,0,0,0),$brand-color-green, $brand-color-green);
  width:0px;
  height:100%;
}

/* The seeking class is added/removed inside jPlayer */
div.jp-seeking-bg {
  background: url("/images/loading.gif");
}

/* @end */



/* @group current time and duration */

div.jp-time-holder {
  position:absolute;
  top:10px;
  left:0px;
  width:100%;
}

div.jp-current-time,
div.jp-duration {
  width:60px;
  font-family: $brand-font-bold;
  font-size:11px;
  margin-left: 10px;
  color: white;

}
div.jp-current-time {
  float: left;
  display:inline;
}
div.jp-duration {
  float: right;
  display:inline;
  margin-right: 10px;
  text-align: right;
}

/* @end */

.jp-no-solution {
  padding:5px;
  font-size:.8em;
  background-color:#eee;
  border:2px solid #009be3;
  color:#000;
  display:none;
}

.jp-no-solution a {
  color:#000;
}

.jp-no-solution span {
  font-size:1em;
  display:block;
  text-align:center;
  font-weight:bold;
}
