 // TABS Basic configuration in grids_variables_mixins/foundation_and_overrides
.vr-tabs dd{
  top:0;
  &.active a{
    color:#fff;
  }
  a{ 
    padding: 6px 0 4px;
    &:hover,
    &:focus{
      background: rgba(0,0,0,0.7);
      color:#fff;
    }
  }
}

.tabs-content > .content{
  padding: rem-calc(10) 0 !important;
}