-# Since angular's dependency injection decides in what order to
-# resolve dependencies this can totally go into the html page
-# rendered by rails.
%script
  Livepage.factory("config", function() {
  return #{ @talk.config_for(current_user).html_safe };
  });
