.debug
  %ul
    -# %li config: {{ config }}
    -# %li session: {{ session }}
    -# %li session.config: {{ session.config }}
    -# %li session.config.host: {{ session.config.host }}
    -# %li config.host: {{ config.host }}
    -# %li config.title: {{ config.title }}
    -# %li config.teaser: {{ config.teaser }}
    -# %li session.fsm.current: {{ session.fsm.current }}
    -# %li session.users: {{ session.users }}
    -# %li acceptOrDecline: {{ flags.acceptOrDecline }}
    -# %li onair: {{ flags.onair }}
    -# %li config.talk.state: {{ config.talk.state }}
    %li config.user.id: {{ config.user.id }}
    %li config.user.role: {{ config.user.role }}
    %li session.listeners(): {{ session.listeners() }}
    %li session.users: {{ session.users }}
