.row(style='margin-top: 75px; padding-top: 20px; margin-bottom: -30px; background-color: rgba(0,0,0,0.1)')
  .medium-12.columns.eagle
    %p
      You’re about to create a free test talk. No credits will be
      deducted from your account.

    %p
      Test talks have all the same features as regular talks, but they
      will only be saved on your profile for 24 hours. After that the
      talk will be automatically deleted.

    %p Happy testing!
