.row(style='margin-top: 80px; background-color: DeepSkyBlue; padding-top: 20px; border: 2px solid blue; border-radius: 10px; margin-bottom: -30px')
  .medium-12.columns
    %p
      You are about to create a free test talk. No credits will be
      deducted from your account.

    %p
      You will still be able to use all features, including live
      streaming, recording, archiving, you even can invite guest speakers,
      or promote guests to speakers spontaneously - just as you would host
      a regular talk on Voice Republic.

    %p
      Test talks will neither show up as live talks on our front page nor
      will they appear among popular and recent talks in the archive.

    %p
      Additionally test talks will only be available in the archive for 24
      hours. After that the talk will automaticially be deleted.

    %p
      Happy testing.
