.row(style='margin-top: 80px; background-color: DeepSkyBlue; padding-top: 20px; border: 2px solid blue; border-radius: 10px; margin-bottom: -30px')
  .medium-12.columns
    %p
      You’re about to create a free test talk. No credits will be
      deducted from your account.

    %p
      Test talks have all the same features as regular talks, but they
      will only be saved on your profile for 24 hours. After that the
      talk will be automatically deleted.

    %p Happy testing
