.icecast_instructions
  %h1 Hey, look at you, you declined streaming via Flash/RTMP!

  %table
    %tr
      %td(rowspan=5)

        %p
          Great news! This is a chance for you to test our
          experimental support for Icecast. Here are some details
          that might help you setting up your Icecast streaming
          software.

        %p
          %b
            You will still need to press START on this page to make
            the listeners tune into your stream.


        %p Good luck - it's still experimental you know.

      %td Host
      %td= Settings.icecast.host
    %tr
      %td Port
      %td= Settings.icecast.port
    %tr
      %td User
      %td source
    %tr
      %td Password
      %td= Settings.icecast.password
    %tr
      %td Mountpoint
      %td= @talk.id
