= simple_form_for([@venue, @talk]) do |f|
	= render partial: "fields", locals: { f: f, form_title: t('.new_talk') }

	.row
		.medium-10.medium-centered.columns  
			= f.button :submit
			= link_to t('.cancel'), @venue
