<nav>
	<ul class="clearfix">
		<li>
			<%= link_to(kluuus_user_path(:id => user ) ) do %>
			!
			<% end %>
		</li>
		<li>
			<%= link_to(no_kluuus_user_path(:id => user ) ) do %>
			?
			<% end %>
		</li>
		<li>
			<%= link_to( "",  user_status_updates_path(:user_id => user), :class => "icon-align-justify") %>
		</li>
		<li>
			<a href="#" class="icon-star"></a>
		</li>
	</ul>
</nav>