%section.venue-list.row-fluid
  - if @venues.empty?
    .text-align-center.muted
      %br/
      %br/
      = t('.guest_empty_venue', :name => @user.firstname)
      %br/
      %br/
  - else
    = render(:partial => 'venues/venue_big', :collection => @venues, :as => :venue) unless @venues.empty?
  %section
