$brand-color-green: #56B2A7;
$brand-color-creme: #FEF1DE;
$brand-color-cremelight: lighten(#FEF1DE, 3.5%);
$brand-color-red: #F82847;
$brand-color-yellow: #FFFF00;

$color-black-title: lighten(#000, 10%);

$header-box-bg: rgba(0,0,0,0.5);

$form-title-color: white;
$top-bar-padding: 55px;

// USER ABOUT ME
$text-title-font-size: rem-calc(16);

// VENUE
$venue-medium-box-background-color: rgba(0,0,0,0.8);
$venue-medium-actions-color: $brand-color-creme;