// VELVET
/* all app scss styles here */
$red: #F82847;
$yellow: #FDEC03;
$dark: #21273D;
$light-blue: #54C6C6;
$blue: #2C46B0;
$beige: #fef1de;
$purple: #a339cd;
$gray: #edeff4 !default;
$dark-gray: #3b3c3f !default;

$headline-font: 'Eagle-Book',Eagle,'Helvetica Neue', helvetica, arial, sans-serif;
$body-font: 'Helvetica Neue',helvetica, arial, sans-serif;

// End Velvet