@charset "UTF-8";

@font-face {
  font-family: "vr-icons";
  src:font-url("vr-icons.eot");
  src:font-url("vr-icons.eot?#iefix") format("embedded-opentype"),
    font-url("vr-icons.woff") format("woff"),
    font-url("vr-icons.ttf") format("truetype"),
    font-url("vr-icons.svg#vr-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "vr-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "vr-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}





.icon-octagon:before {
	content: "\61";
}
.icon-vr-logo:before {
	content: "\62";
}
.icon-buble-multi:before {
	content: "\63";
}
.icon-calendar:before {
	content: "\64";
}
.icon-bubble:before {
	content: "\65";
}
.icon-mic:before {
	content: "\66";
}
.icon-tw:before {
	content: "\67";
}
.icon-guide:before {
	content: "\68";
}
.icon-people:before {
	content: "\69";
}
.icon-description:before {
	content: "\6a";
}
.icon-google:before {
	content: "\6b";
}
.icon-fb:before {
	content: "\6c";
}
.icon-pause:before {
	content: "\6d";
}
.icon-play:before {
	content: "\6e";
}
.icon-mail:before {
	content: "\6f";
}
.icon-pencil:before {
	content: "\70";
}
.icon-x:before {
	content: "\71";
}
.icon-play-octa:before {
	content: "\72";
}
.icon-octa-full:before {
	content: "\73";
}
.icon-magnifying-glass:before {
	content: "\74";
}
.icon-equalizer:before {
	content: "\75";
}
.icon-cog:before {
	content: "\76";
}
.icon-scissors:before {
	content: "\77";
}
.icon-soundcloud:before {
	content: "\78";
}
.icon-volume-mute:before {
	content: "\79";
}
.icon-volume-mute2:before {
	content: "\7a";
}
.icon-pause-octa:before {
	content: "\41";
}
.icon-download:before {
	content: "\42";
}
.icon-person:before {
	content: "\43";
}
.icon-flyer:before {
	content: "\44";
}
.icon-download-2:before {
	content: "\45";
}
.icon-code:before {
	content: "\46";
}
.icon-ellipsis:before {
	content: "\47";
}
.icon-podcast:before {
	content: "\48";
}
.icon-minus:before {
	content: "\49";
}
.icon-plus:before {
	content: "\4a";
}
.icon-mute:before {
	content: "\4b";
}
.icon-unmute:before {
	content: "\4c";
}
.icon-info:before {
	content: "\4d";
}
.icon-upload:before {
	content: "\4e";
}
.icon-upload-cloud:before {
	content: "\4f";
}
.icon-folder-open:before {
	content: "\50";
}
.icon-twitter-square:before {
	content: "\51";
}
.icon-laptop:before {
	content: "\52";
}
.icon-heart-empty:before {
	content: "\53";
}
.icon-lightbulb:before {
	content: "\54";
}
.icon-chat-bubble:before {
	content: "\55";
}
.icon-information-circle:before {
	content: "\56";
}
.icon-star-empty:before {
	content: "\e600";
}
.icon-star-full:before {
	content: "\e601";
}
