%h3 Voice Republic Pricing


%p Voice Republic's payment concept is as simple as possible:

%p
  keine Abogebühren, keine wiederkehrende Kosten

%p
  keine Unterscheidung zwischen Stream–, Upload–, oder
  Archivierungskosten – der Kauf eines Credits beinhaltet alle
  Features: Live-Streaming oder Upload ins Archiv, diverse
  Share-Optionen: Podcast-download, Embed-Player, digitaler Flyer für
  Twitter, Facebook und Mail-share, etc.

%p Gekaufte Credits verfallen nicht!
