%p Voice Republic's payment concept is as simple as it gets:

%p No subscription fees, no recurring costs.

%p
  No distinction between stream, upload or archiving costs - the
  purchase of a credit includes all features: live streaming or
  uploading to the archive as well as various share options: podcast
  download, embedded player, digital flyer for Twitter, Facebook and
  mail share etc.

%p Credits do not expire!
