- name, qty, amount, total = Pricing::PACKAGES[package]
- price = number_to_currency(total/100.0, unit: '&euro;'.html_safe, format: '%u %n')
- selected = package == 'B5'

%label{ class: selected ? 'selected' : '' }
  .price
    = f.radio_button :product, package, checked: selected
    %p= t('.purchase_count_at_a_price_of_amount', count: qty, amount: price).html_safe
  .price_per_talk
    = "(#{number_to_currency(amount/100.0, unit: '&euro;'.html_safe, format: '%u %n')} per talk)".html_safe
