
.medium-8.medium-offset-2.large-6.large-offset-3.columns.end
	%hr.pricing-hr
	%p.lead= t('.contact_us_for_questions')
	= link_to t('.contact_us'),
	  'mailto:support@voicerepublic.com',
	  title: t('.contact_us'),
	  class: 'button large hollow pricing-support-btn'

