.row(style='margin-top: 100px')
  .large-12.columns
    %h2= t('.headline')
    %p= t('.able_to_create_count_talks', count: current_user.credits)
    = link_to t('.schedule_talk'), new_talk_path, class: 'button vr-button'
    = link_to t('.upload_talk'), new_upload_path, class: 'button vr-button'
