#cta-panel{"data-closable" => ""}
  %p
  	-# TODO: make this a variable:
    Would you like to publish your content on Voice Republic?
    -# TODO: make this optionable? (won't always be a button)
    %a#cta-button.button{:href => "join.html"} Start Now »
  %button.close-button{"aria-label" => "Dismiss alert", "data-close" => "", :type => "button"}
    %span{"aria-hidden" => "true"} ×