.share-panel.hide
  .share-title
    %p share:
  .jp-spacer
  %a.action-btn.share-btn{title: "Twitter"}            
    = naked_icon 'twitter'
  .jp-spacer
  %a.action-btn.share-btn{title: "Facebook"}            
    = naked_icon 'facebook'
  .jp-spacer
  %a.action-btn.share-btn{title: "Email"}            
    = naked_icon 'email'
  .jp-spacer
  %a.action-btn.close-share{title: "Cancel"}            
    ×
  .jp-spacer