<footer>
	<section class="footer-container">
		<div class="pull-left">

			<div class="footer-column">
				<h3>Languages</h3>
				<%= link_to "Deutsch", "pathtolocalde" %>
				<br>
				<%= link_to "English", "pathtolocalen" %>
			</div>

			<div class="footer-column">
				<h3>Company Name</h3>
				Kuurz & Lumpur AG
				
			</div>

			<div class="footer-column">
				<h3>Board of Directors</h3>
				Patrick Frank<br>
				Ole Kretschmann<br>
			</div>

			<div class="footer-column">
				<h3>Address</h3>
				Langstraße 10<br>
				8004 Zürich<br>
				Schweiz<br>
				<a href="mailto:kuurz@kluuu.com">kuurz@kluuu.com</a>
			</div>

			<div class="footer-column">
				<h3>Contact</h3>
				<a href="mailto:lumpur@kluuu.com">lumpur@kluuu.com</a><br><br>

				Website<br>
				<a href="http://www.kluuu.com">http://www.kluuu.com</a>
			</div>

		</div>
		<div class="pull-right">
			&copy; KluuU 2012<br />
			<small><span class="label">rev: <%= git_revision %> - version <%= Kluuu2::VERSION %></span></small>
		</div>
	</section>
</footer>