%footer
  .row.collapse
    .large-12
      %hr
      %ul.inline-list
        %li
          %h6= t('.legal')
          = link_to( t('.terms_of_use'), '#')
          = link_to( t('.terms_and_conditions'), '#')
        %li
          %h6 Board of Directors
          VoiceRepublic Media AG
          %br/
          Patrick Frank
          %br/
          Ole Kretschmann
          %br/
        %li
          %h6 Address
          Langstraße 10
          %br/
          8004 Zürich
          %br/
          Schweiz
          %br/
        %li
          %ul.list-style-type-none
            %li
              %a(href="mailto:service@voicerepublic.com") Contact
            %li
              %a(href='http://blog.voicerepublic.com/about') About
            %li
              %a(href='http://blog.voicerepublic.com/about') Blog
        %li
          %h6 &copy; VoiceRepublic Media AG 2014
          .release= release
