.how-to-use-vr-dropdown.slide-down-close
  .slide-down-content
    .row
      .small-4.columns
        %h3=t('.col1_title')
        %ul.disc
          %li Announce it with ease
          %li Create a talk in minutes
          %li Announce talks with your personalized flyer on Facebook, Twitter or by email
        - link = current_user ? new_talk_path : new_user_session_path
        = link_to t('.create_talk'), link, class: 'button-how-to'

      .small-4.columns
        %h3=t('.col2_title')
        %ul.disc
          %li Get on air in seconds
          %li Connect a microphone or any other audio input
          %li Start streaming
          %li Share the microphone with listeners - open the debate
        -# TODO
        =link_to t('.check_pricing'), 'http://blog.voicerepublic.com/about/pricing/', class: 'button-how-to', target: '_blank'

      .small-4.columns
        %h3=t('.col3_title')
        %ul.disc
          %li after live comes archive
          %li Your live stream will be recorded automatically and instantly available on your profile
          %li Embed recorded talks on your site
          %li Download as a podcast.

  .close-x(data-slide-down=".how-to-use-vr-dropdown")
    = raw '&times;';