.how-to-use-vr-dropdown.slide-down-close
  .slide-down-content
    .row.icons.first
      .small-4.columns
        %span.icon-flyer
      .small-4.columns
        %span.icon-mic
      .small-4.columns
        %span.icon-play-octa

    -# TODO refactor this section out into a language specific partial
    -# everything alse is properly localized
    .row
      .small-4.columns
        %h3 1. Create Talk
        %h4 Announce it with ease
        %ul.disc
          %li Create a talk in minutes
          %li
            Announce talks with your personalized flyer on Facebook,
            Twitter or by email

      .small-4.columns
        %h3 2. Stream Audio
        %h4 Get on air in seconds
        %ul.disc
          %li Connect a microphone or any other audio input
          %li Start streaming
          %li Share the microphone with listeners - open the debate

      .small-4.columns
        %h3 3. Archive on the fly
        %h4 After live comes archive
        %ul.disc
          %li
            Your live stream will be recorded automatically and
            instantly available on your profile
          %li Embed recorded talks on your site
          %li Download as podcast

    .row.buttons.last
      .small-4.columns
        -# TODO this is bad practice: `new_talk_path` should automatically
        -# redirect to `new_user_session_path` for anonymous users
        - link = current_user ? new_talk_path : new_user_session_path
        = link_to t('.create_talk'), link, class: 'button-how-to'
      .small-4.columns
        = link_to t('.check_pricing'), static_pages_pricing_path, class: 'button-how-to'
      .small-4.columns
        = link_to t('.browse_archive'), :talks, class: 'button-how-to'

  .close-x(data-slide-down=".how-to-use-vr-dropdown")
    = raw '&times;';
