<ul class="dropdown-menu" aria-labelledby="dLabel" role="menu" id="notifications-<%= current_user.id %>">
	
	
	<% current_user.notifications.alerts.limit(5).each do |notification| %>
		<li class="menu-item"><%= notification %></li>
	<% end %>
	
</ul>