<ul class="dropdown-menu" aria-labelledby="dLabel" role="menu" id="notifications-<%= current_user.id %>">
	<li class="menu-item">notification-1</li>
	<li class="menu-item">notification-2</li>
	<li class="menu-item">notification-3</li>
</ul>