-# variant -clean means without jingles
- media_links = talk.media_links('-clean')
.vr-player.jp-jplayer{ data: { selector: "#jc-#{talk.id}", mp3: media_links["mp3"], m4a: media_links["m4a"], ogg: media_links["ogg"] } }

.jp-audio{ id: "jc-#{talk.id}" }
  .jp-type-single
    .jp-gui.jp-interface
      .jp-progress
        .jp-seek-bar
          .jp-play-bar
      .jp-volume-bar
        .jp-volume-bar-value
      .jp-time-holder
        .jp-current-time.text-left
        .jp-duration
      %ul.jp-controls
        %li
          %a.jp-pause{ href: "javascript:;", tabindex: "1" }
            %span.icon-pause
        %li
          %a.jp-play{ href: "javascript:;", tabindex: "1" }
            %span.icon-play
    .jp-no-solution
      %span Update Required
      To play the media you will need to either update your browser to
      a recent version or update your
      = succeed "." do
        %a{ href: "http://get.adobe.com/flashplayer/", target: "_blank" }
          Flash plugin
