- target = reminder.rememberable
- case target
- when Talk
  = render partial: 'shared/talk_medium_box', locals: { talk: target, reminder: reminder }
- when nil
  / "Oh mein gott", sagte gott und verpuffte in einem Logikwoelkchen.
- else
  - raise "Hey, you need to implement display of #{target.class.name}"

