- nl = CGI::escapeHTML("\n")
#social_share
  %div
    = t '.promote'
  %span{class: 'facebook share', data: { shareable_id: shareable_id,
    shareable_type: shareable_type } }
  %span{class: 'twitter share', data: { shareable_id: shareable_id,
    shareable_type: shareable_type } }
  %span{class: 'mail share', data: { shareable_id: shareable_id,
   shareable_type: shareable_type } }
    = mail_to "your@friend.com",
      raw(image_tag("social/email.png")),
      subject: t('social_share.mail_subject'),
      body: t('social_share.mail_greeting') + nl + nl + t('social_share.mail_body') + request.original_url + nl + nl + t('social_share.mail_goodbye') + nl + current_or_guest_user.name
