.text-center
  = f.input :avatar, as: :file, wrapper_html: { class: 'inputfile' }, label: t('.choose_file').html_safe, label_html: {class: 'button large hollow btn-purple btn-hover-yellow', id: 'avatar-label'}
  %p.help-text= t('.upload_advice')
%hr