<div id="<%= id %>" style="display: none;">
  <ul class="button-group">
    <li><a class="button tiny" data-wysihtml5-command="fontSize" data-wysihtml5-command-value="x-large">x-large</a></li>
    <li><a class="button tiny" data-wysihtml5-command="fontSize" data-wysihtml5-command-value="large">large</a></li>
    <li><a class="button tiny" data-wysihtml5-command="fontSize" data-wysihtml5-command-value="medium">medium</a></li>
    <li><a class="button tiny" data-wysihtml5-command="bold">bold</a></li>
    <li><a class="button tiny" data-wysihtml5-command="italic">italic</a></li>
    <!-- Some wysihtml5 commands require extra parameters -->
    <li><a class="button tiny" data-wysihtml5-command="foreColor" data-wysihtml5-command-value="red">red</a></li>
    <li><a class="button tiny" data-wysihtml5-command="foreColor" data-wysihtml5-command-value="green">green</a></li>
    <li><a class="button tiny" data-wysihtml5-command="foreColor" data-wysihtml5-command-value="blue">blue</a></li>
  </ul>
  <!-- Some wysihtml5 commands like 'createLink' require extra paramaters specified by the user (eg. href) -->
  <!--
      <a data-wysihtml5-command="createLink">insert link</a>
      <div data-wysihtml5-dialog="createLink" style="display: none;">
        <label>
          Link:
          <input data-wysihtml5-dialog-field="href" value="http://" class="text">
        </label>
        <a data-wysihtml5-dialog-action="save">OK</a> <a data-wysihtml5-dialog-action="cancel">Cancel</a>
      </div>
      -->
</div>