<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
    <%= @header %>
    </p>
    <p>
    <%= raw @content %>
    </p>
    <p>
    <%= @footer %>
    </p>
  </body>
</html>
