<li>
	<span class="label label-info"><%= user.name %>:</span>
	<small class="pull-right"><%= l( Time.now, :format => :short ) %></small>
	<blockquote>
		<%= simple_format(content) %>
	</blockquote>
</li>