<li>
	<span class="label label-info"><%= message.sender.name %>:</span>
	<small class="pull-right"><%= l( message.created_at, :format => :short ) %></small>
	<blockquote>
		<%= simple_format(message.content) %>
	</blockquote>
</li>