%h2
  API Documentation
%p.lead
  Our API connects your website or app to the worldwide conversation
  happening on Voice Republic.

%p
  Our API endpoints are programmed RESTful and provide programmatic access
  to read and write Talks. Author a new Talk, read a users profile and
  more. The REST API identifies applications via an authentication token,
  responses are available in JSON.

= raw(@api_doc)
