foooobar
<div class="control-group">
	<%= f.label :image, :class => 'control-label' %>
	<div class="controls">
		field:
		<%= f.file_field :image %>
	</div>
</div>

<div class="control-group">
	<%= f.label :image_description, :class => 'control-label' %>
	<div class="controls">
		<%= f.text_field :description, :class => 'text_area', :rows => 2 %>
	</div>
</div>