<div class="call-btn btn">

	<%= render :partial => 'video_sessions/new_form', :locals => {:klu => klu} unless current_user.nil? %>
	<%= link_to(image_tag( klu.user.account.portrait.url(:thumb), :class => "img-polaroid"), user_path(:id => klu.user), :class => 'klu-user-image' ) %>
	
	<dl>
		<dt>
			<%#= t('.price') %>
		</dt>
		<dd>
			<%= klu.charge_amount %> €
		</dd>
		<dd>
			<%= klu.available_at_times %>
		</dd>
	</dl>

	<%#= button_to t('Call_now'), new_video_session_path(:klu_id => klu.id), :method => :get, :remote => :true, :class => 'btn call-icon' if current_user.nil? %>

</div><!-- End of call-btn -->