<% begin %>
	<% klu.complementaries.each do |k| %>
		<%= link_to klu_path(:id => k) do %>
      		<%= partial_for_klu(k, :tiny) %>
    	<% end %>
	<% end %>
<% rescue %>
		<span class="label label-warning">running thinking sphinx is mandatory for matches to work...</span>
<% end %>