
<% begin %>
	<% klu.complementaries.each do |k| %>
		<%= partial_for_klu(k, :tiny) %>
	<% end %>
<% rescue %>
		<span class="label label-warning">running thinking sphinx is mandatory for matches to work...</span>
<% end %>