<article class="small-klu klu-layout kluuu">
	<%= link_to( klu_path(:id => klu)) do %>
		<div class="klu-eyecatcher"><%= image_tag(klu.klu_images.first.image.url(:medium)) unless klu.klu_images.empty? %></div>
    <h3 class="no-margin klu-title"><%= klu.title %> </h3>  
	<% end %>
	<%= link_to(image_tag( klu.user.account.portrait.url(:thumb), :class => "img-polaroid"), user_path(:id => klu.user), :class => 'klu-user-image' ) %>
</article>