<article class="status contribution">
  <header>
    <div class="contribution-user-name">
      <%= t('.opinion') %>
    </div>
    <i class="icon-bullhorn contribution-user-image"></i>
  </header>
  <%= limit_words(klu.status_or_about, 15) %>
</article>