<%- model_class = Klu -%>
<div class="page-header">
	<h1><%= @klu.instance_of?(Kluuu) ? "Kluuu" : "NoKluuu" %></h1>
</div>


<%= bookmark_links(current_user, @klu) %>

<% if @klu.instance_of?(NoKluuu )%>
	<%= render(:partial => 'no_kluuu')%>
<% else %>
	<%= render(:partial => 'kluuu')%>
<% end %>

