<div class="venue-edit-ajax">
  <h2>
    <%= t('venues.edit.venue_renew_title') %>
  </h2>


<%= render(:partial => 'change_time_form', :locals => { :venue => venue }) %>
<noscript>
	
</noscript>

</div>