%meta{:content => "317175341661486", :property => "fb:app_id"}/
%meta{:content => t('.join_the_venue', :title => venue.title ), :property => "og:title"}/
%meta{:content => venue.description, :property => "og:description"}/

- if venue.image.nil?
  %meta{:content => "", :property => "og:image"}/
  %link{:href => "", :rel => "image_src"}/
- else
  %meta{:content => 'http://'+ request.host + venue.image.url(:medium), :property => "og:image"}/
  %link{:href => 'http://'+ request.host + venue.image.url(:medium), :rel => "image_src"}/