.group-chat-instance{:id => "group-chat-#{venue.id}"}
  %h3= t('.venue_chat')
  %ul.chat-message.unstyled.scrollable-chat{:id => venue.chat_name}
    / chat-messages to be here. renders chats/_single_chat_message.js.erb
  = render(:partial => 'chats/group_form', :locals => { :venue => venue })

