<%= form_tag( group_chat_info_path(:id => venue) , :remote => true) do |f| %>

<div class="control-group">
	<div class="controls">
		<%= text_field_tag 'chat[body]','', :class => 'text_field input-block-level', :placeholder => t('.your_moderator_message', :default => 'Your moderator message') %>
	</div>
</div>
<div class="btns">
	<%= submit_tag t('.chat_info', :default => 'chat-info'), :class => 'btn btn-small btn-alert  pull-right', :id => "broadcast" %>
</div>

<% end %>
