<% venue = Venue.upcoming %>

<% if venue %>
<section class="lp-venue clearfix">
	<div class="clearfix">
		<div class="pull-left">
			<h2 class="venue-title"><%=t('.venue_title')%></h2>
			<span class="lp-venue-slogan hidden-phone hidden-tablet"><%= t('.discuss_in_virtual_cafe') %></span>
		</div>
		<%= link_to t('.learn_more'), venues_path , :class => "lp-learn-more pull-right" %>
	</div>
	<%= render(:partial => 'venues/venue_big', :locals => {:venue => venue}) %>
</section>
<% end %>