<% venue = Venue.upcoming %>

<% if venue %>
<section class="row-fluid">

	<%# VENUE %>
	<div class="span12">
		<h2 class="venue-title"><%=t('.venue_title')%></h2>&nbsp;<span class="lp-venue-slogan"><%= t('.discuss_in_virtual_cafe') %></span> <%= link_to t('.learn_more'), venues_path %>
		<%= render(:partial => 'venues/venue_big', :locals => {:venue => venue}) %>
	</div>

	<%# NEWS %>
<!-- 	<div class="lp-news span3">
		<h2><%#=t('.news_title')%></h2>
		<ul class="lp-news-list">
			<%# TODO %>
			<li>
				<p class="lp-news-date">
					23.3.2013
				</p>
				<p>
					Aenean lacinia bibendum nulla sed consectetur.
				</p>
			</li>

		</ul>
	</div> -->
</section>
<% end %>