-# TODO needs fixing
-# .well.well-large.venue-box.row-fluid.clearfix
-#   .span12.clearfix
-#     - if @venue.user != current_user
-#       - unless  @venue.user_participates?(current_user)
-#         = link_to venue_join_path(:venue_id => @venue.id), :class => "btn btn-venue btn-small", :method => :post do
-#           = t('.join_venue')
-#           = image_tag "/assets/coffee_icon_white.png"
-#       %br/
-#       %br/
-#     .row-fluid
-#       .span6
-#         = simple_format @venue.description
-#       .span6
-#         -#= render(:partial => 'klus/medium_kluuu', :locals => { :klu => @venue.host_kluuu })
-# = render(:partial => 'venue_show_actions', :locals => { :venue => @venue } )
