.span6
  %section.venue-articles
    %h3= t('.articles')
    = render(:partial => 'venue_article', :collection => @venue.articles, :as => :article )
    - unless @venue.live?
      %aside.newarticle.clearfix
        - if current_user
          - @article = @venue.articles.build
          = render(:partial => "articles/venue_form", :locals => { :venue => @venue, :article => @article })
