.venue-archive-box
  %header.venue-section-title
    =t('.past_talks')

  - venue.events.each do |event|
    %article.venue-archive-item
      .venue-archive-event-time
        = l event.start_time, :format => :short
      .venue-event-title.venue-archive-event-title
        = event.title || venue.title
      - if event.recording.present?
        .venue-archive-event-player= render 'player', :event => event
