.well-large.venue-event-box
  %header.venue-section-title
    =t('.upcoming_event')
    %hr.venue-event-box-hr
  .venue-upcoming-event-time
    = @venue.start_time.strftime("%d/%m/%y %H:%M")
    ,
    - if @venue.duration > 1
      = @venue.duration
      = t('.minutes')

  %h3.venue-upcoming-event-title
    = @venue.current_event.title