%section.users-onair
  .row-fluid
    .span6.users-moderators
      %header.venue-section-title.users-onair-host-title
        = t('.host')
      .venue-host
        = render(:partial => 'venue_show_avatar', :locals => { :user => @venue.user })

      -# END TALK BUTTON    
      - if can? :manage, @venue
        = render 'venues/end_talk_link', :venue => @venue          

    .span6
      .users-onair-participants-box
        %header.users-onair-participants.venue-section-title
          = t('.participants')
        .users-onair-participans              