%section.users-onair
  .row-fluid
    .span4
      %header.users-onair-host-title
        = t('.host') + ':'
      = render(:partial => 'venue_show_avatar', :locals => { :user => @venue.user })
    .span8
      .users-onair-participants-box
        %header.users-onair-participants
          = t('.participants') + ':'
        .users-onair-participans