%script{:type => "text/javascript", :src => "//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4ffbd9175d49f137"}
:javascript
  addthis.layers({
    'theme' : 'transparent',
    'share' : {
      'position' : 'right',
      'numPreferredServices' : 5
    }   
  });