%aside.venue-user-action-bar
  -# new talk
  - if can?(:manage, @venue) && @venue.current_event.nil?
    = link_to edit_venue_path(@venue, :renew => 1), :class => 'btn btn-large btn-warning', :remote => true do
      %i.icon-calendar
      = t('.new_talk')

  - if current_or_guest_user
    - if (can? :manage, @venue and !@venue.live?)
      = link_to t('.edit', :default => t("helpers.links.edit")), edit_venue_path(@venue), :class => 'btn btn-small'
      = link_to t('.destroy', :default => t("helpers.links.destroy")),venue_path(@venue), :method => 'delete', |
        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm")) },                        |
        :class => 'btn btn-danger btn-small'
