	<div class="venue-socials">
		<!-- AddThis Button BEGIN -->
		<div class="addthis_toolbox addthis_default_style">
			<!-- <a class="addthis_button_pinterest_pinit"></a> -->
			<a class="addthis_button_facebook_like"></a>
			<a class="addthis_button_facebook_send"></a>
			<a class="addthis_button_google_plusone"></a>
			<a class="addthis_button_tweet"></a>
		</div>
		<script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=xa-508eb69c4ada1b57"></script>
		<!-- AddThis Button END -->
	</div>
