-# empty now

-# - data_stream_id = ''
-# - if @venue.live?
-#   - data_stream_id = @venue.details_for(user)[:streamId]
-# .avatar-box(data-stream-id="#{data_stream_id}")
-#   - if @venue.live?
-#     = link_to user, :target => "_blank", :confirm => "#{t('.leave_venue_popup')}" do
-#       = render(:partial => 'users/user_small', :locals => { :user => user })
-#   - else
-#     = link_to user do
-#       = render(:partial => 'users/user_small', :locals => { :user => user })
-#   .promote-icon(style='display:none') +
-#   .demote-icon(style='display:none') -
