%section.well-large.venue-articles
  %header.venue-section-title= t('.articles')

  - unless @venue.live?
    %aside.newarticle.contribution.clearfix
      - if can_comment_venue?(@venue)
        - article = Article.new
        = render(:partial => "articles/venue_form", :locals => { :venue => @venue, :article => article, :user => guest_or_current_user })

  = render(:partial => 'venue_article', :collection => @venue.articles, :as => :article )
