		<section class="group-chat span6">
			<% if  ((  @venue.start_time.in_time_zone - 5.minutes) < Time.now.in_time_zone ) &! @venue.timed_out? %>
				<%= render(:partial => 'venues/group_chat', :locals => { :venue => @venue })%>
			<% else %>
				<aside class="venue-desc">
					<div class="clearfix">
					<h3 class="pull-left"><%= t('.what_is_a_venue') %></h3>
					<%= link_to t('.see_other_venues'), venues_path, :class => "btn btn-small pull-right" %>
					</div>
					<div class="venue-desc-content">
						<%= render(:partial => 'venues/txt/venue_desc') %>
					</div>
				</aside>
			<% end %>
		</section>
