<div class="page-header">
  <h1>
  <% if @renew == true %>
    <%= t('.venue_renew_title') %>
  <% else %>
    <%= t('.venue_edit_title') %></h1>
  <% end %>
  </h1>
</div>

<% if @renew == true %>
  <%= render(:partial => 'change_time_form', :locals => { :venue => @venue }) %>
<% else %>
  <%= render :partial => 'form' %>
<% end %>
