%section#claim.dark
  .row
    %header
      %h1= t('.please_select_your_venue')

%section.light
  .api-container.row.clearfix
    .container.medium-10.medium-offset-1.large-8.large-offset-2.columns.text-left
      %ul
        - @venues.each do |venue|
          %li= link_to venue.name, venue
