%section#claim.dark
  .row
    %header
      %h1= t('.please_select_your_venue')
    %ul.menu
      - @venues.each do |venue|
        %li.talk-card
          .talk-card-inside
            %h2.talk-title= link_to venue.name, venue