-# TODO the 3 lines of faye setup could move to cljs
- content_for :javascripts do
  %script{ src: '/javascripts/moment-with-locales.min.js' }
  %script{ src: '/javascripts/faye-authentication.js' }
  %script{ src: Settings.faye.server + '/client.js' }
  :javascript
    fayeUrl = #{Settings.faye.server.to_json};

    fayeClient = new Faye.Client(fayeUrl);
    fayeExtension = new FayeAuthentication(fayeClient);
    fayeClient.addExtension(fayeExtension);

    initialState = #{@venue.atom.to_json};
    translations = #{t('frontend.venues').to_json};
  = javascript_include_tag :venues

#app Initializing...
