<p class="strong">Let´s go!</p>

<p class="strong">What is at the venue?</p>
<p>At the venue, you meet people for discussions and chats. Each venue is created and supervised by a host. 
The host sets the venue´s date and determines its subject. The venue is based on a KluuU – in it, 
you can read everything you need to know about the subject.</p>

<p class="strong">As a participant, you can:</p>
participate in the discussion in the group chat<br />
use the 1:1 video chat and talk to other participants<br />
write a comment at any time</p>

<p class="strong">How to join:</p>
<p>All venues are open to the public. In order to participate, just click on “participate” and choose from your KluuUs or questions. 
Your choice will be displayed in the venue.</p>

<p>Participating in a venue is free of charge.</p>

<p class="strong">How to create a venue:</p>
<p>Please contact us if you want to create a venue. Tell us your subject. 
We will give you the free permission to act as host.</p>

<p class="strong">What is a venue?</p>
<p>A venue is a room for discussion, based on a topic. At the time indicated, 
all the participants meet in our virtual coffee shop. Give it a try!</p>

<p class="strong">As a participant, you can:</p>
<p>participate in the discussions in the group chat<br />
use the 1:1 video chat and talk to other participants<br />
write a comment at any time</p>


<p>Venues take place regularly (on a weekly or bi-weekly basis).</p>


