<h4>
	Diskutiere live im Treffpunkt!
</h4>

<p>
	Der Treffpunkt ist ein Ort der Diskussion und wird von einem Gastgeber (host) betreut. 
	Treffpunkte finden in regelmässigen Abständen statt.
</p>

<h4>
	Als Teilnehmer kannst Du:
</h4>

<p>
	• im Gruppenchat mitdiskutieren
	<br>
	• in das Diskussionsforum schreiben
	<br>
	• 1:1 Video Gespräche benutzen
</p>

<br>
<p>
	Wir entwickeln den Treffpunkt laufend weiter. Hast Du Wünsche und Anregungen? 
	Teile sie uns bitte hier <%= mail_to 'lumpur@kluuu.com' %> mit!
</p>

