<p>Diskutiere live im virtuellen Café!</p> 

			<p>Der Treffpunkt ist ein Ort der Diskussion und wird von einem Gastgeber (host) betreut. Teilnehmen können alle, die sich für das Thema interessieren. Treffpunkte finden wöchentlich oder alle zwei Wochen statt. Zwischen den live Diskussionen können Teilnehmer Kommentare hinterlassen und das Thema somit weiter entwickeln.</p>

			<p>Als Teilnehmer kannst Du:</p>

			<p>• im Gruppenchat mitdiskutieren<br>
				• 1:1 Video Gespräche benutzen<br>
				• jederzeit Kommentare erstellen</p>

			<p>Wie nehme ich teil?</p>

			<p>Zur Teilnahme klicke auf 'teilnehme' und folge den Instruktionen.  Bei Fragen oder Problemen melde Dich bitte hier (Link). Die Teilnahme an Treffpunkten ist kostenlos.</p> 

			<p>Wie kann ich einen Treffpunkt erstellen?</p>

			<p>Bitte kontaktiere uns, wenn Du einen Treffpunkt erstellen möchtest. Teile uns kurz mit, welche Ideen Du hast.
				Wir erteilen Dir anschliessend die kostenlose Berechtigung, Gastgeber zu sein.</p>

			<p>Wir entwickeln den Treffpunkt laufend weiter. Hast Du Wünsche und Anregungen? Teile Sie uns bitte hier (Link) mit!</p>