<h4>Join us live at the venue!</h4>
<p>The venue is a place for discussion and is presented by a host. Venues take place regularly.</p>

<h4>As a participant, you can:</h4>
• participate in the discussion in the group chat<br />
• use the 1:1 video chat and talk to other participants<br />
• write a comment at any time</p>
<br>

<p>We keep developing the venue. If you have any wishes or suggestions, please contact us at <%= mail_to 'lumpur@kluuu.com' %>
</p>

