%br
%strong
  WHAT IS A VENUE?
%br
Your Talk-Channel!
%br
%br
The main course of the venue is the live Talk. The venue is a forum and an archive of past talks.
%br
%br
%strong
  THE TALK
%ul
  %li Discuss live with guests
  %li Audiostream to all participants
  %li Live chat
  %li Promote participants to the live Talk-Channel
  %li Record your Talk and build your archive

%br
For better quality:
%br
Use headphones!
=image_tag 'headphones-icon.png'