<h4>What is at the venue?</h4>
<p>At the venue, you meet people for discussions and chats. Each venue is created and supervised by a host. 
The host sets the venue´s date and determines its subject. Venues take place regularly (on a weekly or bi-weekly basis).The venue is based on a KluuU – in it, 
you can read everything you need to know about the subject.</p>

<h4>As a participant, you can:</h4>
• participate in the discussion in the group chat<br />
• use the 1:1 video chat and talk to other participants<br />
• write a comment at any time</p>

<hr>

<h4>How to join:</h4>
<p>All venues are open to the public. In order to participate, just click on “participate” and choose from your KluuUs or questions. 
For questions, contact us at <%= mail_to 'lumpur@kluuu.com' %>.</br>
Participating in a venue is free of charge.</p>

<h4>How to create a venue:</h4>
<p>Please contact us if you want to create a venue. Tell us your subject. 
We will give you the free permission to act as host.<br>
<%= mail_to 'lumpur@kluuu.com' %>
</p>


