%br
%strong
  WAS IST EIN TREFFPUNKT?
%br
Dein Talk-Channel!
%br
%br
Das Herzstück des Treffpunkts ist der Talk. Im Treffpunkt findest Du ein Forum und ein Archiv der vergangenen Talks. 
%br
%br
%strong
  DER TALK
%ul
  %li Diskutiere live mit Deinen Gästen
  %li Audiostream an alle Teilnehmer
  %li Parallel laufender Chat für alle Teilnehmer
  %li Hole jederzeit einen Teilnehmer in den Talk – mit einem Klick auf das ‚+’!
  %li Nehme den Talk auf und baue Dein Archiv auf

%br
Für bessere Qualität:
%br
Kopfhörer benutzen!
=image_tag 'headphones-icon.png'