= link_to new_venue_path, :class => "venue-new-round-button" do
  \&nbsp;
/ = image_tag "venue-icon-host.png", :class => "venue-form-icon"
%br
%br
%strong
  Was ist ein Treffpunkt?
%br
Dein Channel!
%br
%br
In Deinem Treffpunkt präsentierst Du Dein Diskussionsthema. Das Herzstück des Treffpunkts ist das live Gespräch. Im Treffpunkt findest Du ein Forum und ein Archiv der vergangenen live Gespräche. 
%br
%br
Das live Gespräch
%ul
  %li Diskutiere live mit Deinen Gästen
  %li Audiostream an alle Teilnehmer
  %li Parallel laufender Chat für alle Teilnehmer
  %li Hole jederzeit einen Teilnehmer ins Gespräch – mit einem Klick auf das ‚+’!
  %li Nehme das Gespräch auf und baue dein Archiv auf

%br
Für bessere Qualität:
%br
Bitte Kopfhörer benutzen!  