!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Jasmine Spec Runner v2.0.1
    %link{:href => "/jasmine/lib/jasmine-2.0.1/jasmine.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "/jasmine/lib/jasmine-2.0.1/jasmine.js", :type => "text/javascript"}
    %script{:src => "/jasmine/lib/jasmine-2.0.1/jasmine-html.js", :type => "text/javascript"}
    %script{:src => "/jasmine/lib/jasmine-2.0.1/boot.js", :type => "text/javascript"}
    / include source files here...
    %script{:src => "/jasmine/src/Player.js", :type => "text/javascript"}
    %script{:src => "/jasmine/src/Song.js", :type => "text/javascript"}
    / include spec files here...
    %script{:src => "/jasmine/spec/SpecHelper.js", :type => "text/javascript"}
    %script{:src => "/jasmine/spec/PlayerSpec.js", :type => "text/javascript"}
  %body
