<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Jasmine Spec Runner v2.0.1</title>

  <link rel="stylesheet" type="text/css" href="/jasmine/lib/jasmine-2.0.1/jasmine.css">

  <script type="text/javascript" src="/jasmine/lib/jasmine-2.0.1/jasmine.js"></script>
  <script type="text/javascript" src="/jasmine/lib/jasmine-2.0.1/jasmine-html.js"></script>
  <script type="text/javascript" src="/jasmine/lib/jasmine-2.0.1/boot.js"></script>

  <!-- include source files here... -->
  <script type="text/javascript" src="/jasmine/src/Player.js"></script>
  <script type="text/javascript" src="/jasmine/src/Song.js"></script>

  <!-- include spec files here... -->
  <script type="text/javascript" src="/jasmine/spec/SpecHelper.js"></script>
  <script type="text/javascript" src="/jasmine/spec/PlayerSpec.js"></script>

</head>

<body>
</body>
</html>
