.row.top-margin-action-bar
  .large-12.columns.panel.callout.radius
    %h1= t('errors.outdated_browser.header')
    %p= t('errors.outdated_browser.body', name: browser.name, version: browser.version).html_safe
