%li.text-center
	= image_tag "http://lorempixel.com/200/200/people/#{index}", width: '100%'
	%div(data-tooltip class="has-tip" title="Tooltips are awesome, you should totally use them!")
		.member-name= name
		.member-job= 'Founder'