.landing-page
  .lp-bg
    = image_tag "/assets/Bilder_KluuU_Studio/shutterstock_139940296_b_Verlauf.jpg"
  .row-fluid
    .span8
      %h2.lp-claim
        Debate is so much better than denial.
      .lp-claim-author
        \– Julie Walters
      .lp-info
        Broadcast and Record your live talk!
    .span4
      .well.well-large.lp-login
        = render 'lp_login', :user => @user
  .row-fluid
    .span8.lp-left-bottom.featured-box
      = render(:partial => "lp_venues")
    .span4
      .well.well-large.lp-signup
        = render 'lp_signup', :user => @user