.landing-page
  .row-fluid
    .span8
      %h2.lp-claim
        Debate is so much better than denial.
      .lp-claim-author
        \– Julie Walters
      .lp-info
        Broadcast and Record your live talk!
      %hr.lp-hr
    .span4
      .well.well-large.lp-login
        = render(:partial => "lp_login")
      .well.well-large.lp-signup
        = render(:partial => "lp_signup")


  / = render(:partial => "lp_venues")