<div class="landing-page">
	
	<h2 class="centered">VideoChat about what you are.</h2>

	<div class="row-fluid">

	
		<div class="span12 hero-unit centered">
			<h3>I want to no more about</h3>
			<%= text_field_tag :type => "text", :class => "landing-page-no-klu" %>
		</div>
	</div>

	
	<div class="row-fluid">
		<div class="span6 well well-small">
			<h2>KluuUs on fire</h2>
			<%= render(:partial => "klus/small_kluuu", :collection => @kluuus, :as => 'klu') %>
		</div>
	
		<div class="span6 well well-small">
			<h2>Hot Topic</h2>
			music, insurance, soccer
		</div>

		<div class="span6 well well-small">
			<h2>Hot Users</h2>
			Veronika, Rene, Pamela, Fritz
		</div>		
	</div>
</div>

