.landing-page
  .row
    .large-12.text-center
      %br/
      %br/
      %br/
      %h1
        Welcome to Voice Republic!
      %br/
      %br/
      %br/ 
  .row
    .large-5.columns.panel
      = render 'lp_login', :user => @user
    .large-5.large-offset-2.columns.panel.callout
      = render 'lp_signup', :user => @user
