.landing-page
  .text-align-center.kluuu-lead
    %h2.text-align-center.landing-page-claim= t('.headline')
    .clearfix
      .landing-page-illu.clearfix
        %ul
          %li
            %h2 How does it work
            Join a conversation and participate; initiate your own roundtable, discussion or interview and invite other people to join.
          %li
            %h2 How to get started
            Register and create your KluuU profile for free.
            Browse the intriguing topics, and join any of them.
            Create your own discussion or talk and invite people to participate!
          %li
            %h2 Keeping track
            You can record your conversations so that your audience always can get back to them.
  = render(:partial => "lp_venues")

