.landing-page
  .text-align-center.kluuu-lead
    %h2.text-align-center.landing-page-claim
      Debate is so much better than denial.
      .claim-author
        \- Julie Walters
    .clearfix
      .row-fluid.landing-page-illu.clearfix
        .span6
          .lp-box.lp-box-background
            %h2.lp-box-title Why are you here?
            %ul
              %li.lp-box-content Broadcast your live talk
              %li.lp-box-content Invite talk guests spontaneously
              %li.lp-box-content Record your talk an build your talk-channel
              %li.lp-box-content Join talks from others
        .span6
          .lp-box.lp-box-background
            %h2.lp-box-title How to get started
            %ul
              %li.lp-box-content Browse the intriguing topics, and join any of them.
              %li.lp-box-content Create your own talk, discussion or interview and invite people to participate!

  = render(:partial => "lp_venues")