<h2>Neues KluuU erstellen</h2>
<div class="well well-large">
<p>Dein KluuU-Blog beginnt hier.<br>
Beschreibe Dein Thema und lade ein Foto hoch. Jedes KluuU verfügt über ein 'Video-Chat Button“. So bist du zu Deinem Thema live erreichbar.<br>
Unterhalb des KluuUs hast Du die Möglichkeit, Neuigkeiten zu veröffentlichen.</p>
<p><span class="label">Tipp:</span> Dein KluuU ist auffindbar - auch über Suchmaschinen wie Google. 
	Du kannst über KluuU auch unterrichten oder Beratungen anbieten und dabei Geld verdienen.</p>
</div>

