<h2>Neues ? Frage-KluuU</h2>
<div class="lead">
	Worüber möchtest du mit jemandem sprechen?
</div>
Das ?-KluuU ist eine einfache Möglichkeit, um ins Gespräch zu kommen.
<br>
Die KluuU-Community kann deine ?-KluuUs sehen und dich diesbezüglich ansprechen.
<br>
<br>

<span class="label label-info">Übrigens</span> Tags sind entscheidend für die Auffindbarkeit deines ?-KluuUs,
füge 5 oder mehr tags ein. (z.B.:Freizeit, Sport, Fussball, Hobby)