<h2>22 KluuU Regeln</h2>

<ol>
<li>KluuU  ist neu.    </li><li>
KluuU ist nicht perfekt.	</li><li>
KluuU ist perfekt, um sich über spezifische Themen auszutauschen.  </li><li>
KluuU verbindet per Video Chat. </li><li>
Auf KluuU gibt es auch einen Text Chat.</li><li>
Der Text Chat wird gelöscht wenn Du ihn beendest und nirgendwo gespeichert.</li><li>
Deine KluuUs sind Themen, über die  Du gerne sprichst.</li><li>
Du kannst so viele KluuUs veröffentlichen, wie Dir lieb ist.  </li><li>
Du musst kein KluuU erstellen. </li><li>
Du kannst Fragen stellen.</li><li>
Auf Deine Frage erhältst Du passende KluuUs.</li><li>
Du kannst einen Status auf KluuU veröffentlichen.</li><li>
Dein Status kann kommentiert werden.</li><li>
Es ist ok, wenn du Facebook ablehnst und KluuU magst. </li><li>
Es ist ok, wenn Du KluuU ablehnst und Facebook magst.</li><li>
Facebook ist nur <em>eine</em> Möglichkeit, das Internet zu nutzen - bleib neugierig.  </li><li> 
KluuU ist für neugierige Menschen.</li><li>
KluuU verbindet Dich weltweit mit neugierigen Menschen. </li><li>
Die Nutzung von KluuU ist gratis. </li><li>
Es gibt keine falschen KluuUs.</li><li>
KluuUs sind intelligent, überraschend, kreativ, wissend, spontan. </li><li>
KluuU wird fortlaufend weiterentwickelt - gestalte KluuU mit uns.</li>

</ol>
