<h2>22 KluuU Regeln (übersetzung folgt)</h2>
1.  KluuU  ist neu.    <br>
2.	KluuU ist nicht perfekt.	<br>
3.	KluuU ist perfekt, um sich über spezifische Themen auszutauschen.  <br>
4.	KluuU verbindet per Video Chat. <br>
5.	Auf KluuU gibt es auch einen Text Chat.<br>
6.	Der Text Chat wird gelöscht wenn Du ihn beendest und nirgendwo gespeichert.<br>
7. Deine KluuUs sind Themen, über die  Du gerne sprichst.<br>
8. Du kannst so viele KluuUs veröffentlichen, wie Dir lieb ist.  <br>
9.	Du musst kein KluuU erstellen. <br>
10. Du kannst Fragen stellen.<br>
11. Auf Deine Frage erhältst Du passende KluuUs.<br>
12. Du kannst einen Status auf KluuU veröffentlichen.<br>
13. Dein Status kann kommentiert werden.<br>
14. Es ist ok, wenn du Facebook ablehnst und KluuU magst. <br>
15. Es ist ok, wenn Du KluuU ablehnst und Facebook magst.<br>
16. Facebook ist nur <em>eine</em> Möglichkeit, das Internet zu nutzen - bleib neugierig.  <br> 
17. KluuU ist für neugierige Menschen.<br>
18. KluuU verbindet Dich weltweit mit neugierigen Menschen. <br>
19. Die Nutzung von KluuU ist gratis. <br>
20. Es gibt keine falschen KluuUs.<br>
21. KluuUs sind intelligent, überraschend, kreativ, wissend, spontan. <br>
22. KluuU wird fortlaufend weiterentwickelt - gestalte KluuU mit uns. 
