<h2>Neues KluuU erstellen</h2>
<div class="well well-large">
<p>Gib ein Privatkonzert, koche Dein Lieblingsgericht, erzähle Deine besten Witze, spiele Schach,
	diskutiere, debattiere, musiziere, erzähle, lese vor, vermittle, unterhalte, lehre, berate, helfe, motiviere, lache, weine, schreie… per Video Gespräch</p>
<p><span class="label">Tipp:</span> Dein KluuU ist auffindbar - auch über Suchmaschinen wie Google. 
	Du kannst über KluuU auch unterrichten oder Beratungen anbieten und dabei Geld verdienen.</p>
</div>