<h2>22 Rules for KluuU</h2> 

<ol>
<li>KluuU is new.</li><li>
KluuU is not perfect...	</li><li>
...but it is perfect for exchanging ideas on specific topics.</li><li>
KluuU connects people via video chat...</li><li>
...but there is also a text chat option.</li><li>
Your text chats are deleted when you end them, and not stored by us or anyone, anywhere.</li><li>
Your KluuUs are topics that you know about, or are interested in.</li><li>
You can make as many KluuUs as you want...</li><li>
...but you don't have to make any at all if you don't want to.</li><li>
You can ask questions...</li><li>
...that will get matched to KluuUs that might be able to give you some answers. </li><li>
You can post a status on KluuU...</li><li>
...that other users can comment on.</li><li>
It's okay if you're into KluuU, but not Facebook... </li><li>
...and it's okay if you're into Facebook, but not KluuU.</li><li>
Facebook is just one way to use the Internet - stay curious!</li><li>
KluuU is for curious people...</li><li>
...who want to connect wordwide with other curious people, by common points of interest.</li><li>
Using KluuU is free. </li><li>
There are no wrong KluuUs.</li><li>
KluuUs are smart, surprising, creative, informative, spontaneous. </li><li>
KluuU is constantly being developed - help us make KluuU what it's meant to be!</li>
</ol>
What are you interested in?
