<h2>Create new KluuU</h2>

<div class="well well-large">
<p>Your KluuU-Blog starts here.<br>
Describe your theme and upload a photo. Each KluuU has a 'video-chat button'. So you are live callable on your topic.<br>
Below the KluuUs you have the opportunity to publish news.</p>
<p><span class="label">FYI:</span> Your KluuU is findable on search engines like Google.
You can also use KluuU to teach or offer consultations, and earn money doing it.</p>
</div>