.static_pages-pricing{
  .button-pricing-white{
    background: transparent;
    color: $brand-color-red;
    border: 2px solid $brand-color-red;
    width: 153px;
    display: inline-block;
    height: 40px;
    padding: 12px 0;
    text-align: center;
    text-decoration: none !important;
  }
  .button-pricing-red{
    background: $brand-color-red;
    color: white;
    width: 153px;
    width: 153px;
    display: inline-block;
    height: 40px;
    padding: 12px 0;
    text-align: center;
    text-decoration: none !important;
  }

  .pricing-header-box{
    border-bottom: 2px solid $color-black-title;
    margin: 90px auto 49px auto;
    h2{
      font-size: rem-calc(33);
      color: $color-black-title;
    }
  }
  .free-pro-accounts-box{
    text-align: center;
    h3{
      font-size: rem-calc(16);
      border-bottom: 1px solid rgba(0,0,0,0.1);
      color: $color-black-title;
      display: inline-block;
      line-height: 1.5;
      padding: 30px 36px 0 36px;
    }
    .free-list,.pro-list{
      margin-top: 30px;
      margin-bottom: 30px;
      font-family: $font-text;
      font-size: rem-calc(14);
      line-height: 1.5;
      position: relative;
      text-shadow: 0 1px 0 white;
    }
    .tooltip-simple{
      color:rgba(0,0,0,0.5);
      .icon-information-circle{
        font-size: rem-calc(13);
        top:2px;
        margin-left:3px;
      }
      .tooltip-overlay{
        top: 26px;
        left: -96px;
      }
    }
    a:not(.tooltip-simple){
      text-decoration: underline;
    }
    .pro-account-box{
      position: relative;
      border: 2px solid $brand-color-red;
      padding-bottom: 10px;
      h3{
        padding-top: 28px;
      }
      .corner-pricing-box{
        width: 200px;
        height: 200px;
        position: absolute;
        top:0;
        left:0;
        overflow: hidden;
        .corner-pricing{
          position: absolute;
          top:13px;
          left:-58px;
          background: $brand-color-red;
          text-align: center;
          width: 200px;
          padding: 7px 0 4px;
          color: white;
          text-shadow: 0 0 2px rgba(0,0,0,0.2);
          @include rotate(-38);
          font-family: $font-text;
          font-size: rem-calc(13);
          strong{
            font-family: $brand-font-bold;
            font-size: rem-calc(15);
            font-weight: normal;
          }
        }
      }
      .pro{
        position: relative;
        top: -5px;
        font-size: 10px;
        font-family: $brand-font-bold;
        color: $brand-color-red;
        left: 3px;
      }
    }
  }
  .questions-feedback-box{
    font-family: $font-text;
    font-size: rem-calc(19);
    text-align: center;
    padding: 59px 0;
    a{
      color: $brand-color-red;
    }
  }
  .conference-box{
    background: url(/images/landing_page/1.jpg) no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    padding: 40px 54px;
    .bg-black{
      position: absolute;
      top:0;
      left:0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.8);
    }
    .corner-pricing{
      position: absolute;
      top:-14px;
      right:-172px;
      background: $brand-color-red;
      text-align: center;
      width: 400px;
      padding: 17px 0 18px;
      color: white;
      text-shadow: 0 0 2px rgba(0,0,0,0.2);
      @include rotate(38);
      font-family: $font-text;
      font-size: rem-calc(17);
      strong{
        font-family: $brand-font-bold;
        font-size: rem-calc(33);
        font-weight: normal;
        padding-top: 7px;
        display: inline-block;
      }
    }
    h3{
      font-size: rem-calc(25);
      color: white;
      line-height: 1;
    }
    .subtitle{
      font-family: $brand-font-bold;
      font-size: rem-calc(25);
      color: $brand-color-red;
      line-height: 1;
      margin-bottom: 41px
    }
    p{
      font-family: $font-text;
      font-size: rem-calc(14);
      line-height: 1.5;
      color: white;
      text-shadow: 1px 1px 2px rgba(0,0,0,0.2),-1px -1px 2px rgba(0,0,0,1);
      margin-bottom: 9px;
    }
    .conf-feature-list{
      margin-bottom: 37px;
      li{
        display: block;
        padding: 3px 0px;
        color: white;
        font-family: $font-text;
        font-size: rem-calc(14);
        text-shadow: 0 1px 0 black;
        span[class^="icon-"]:not(.icon-information-circle){
          margin:0 50px 0 31px !important;
          font-size: rem-calc(20);
          position: relative;
          top: 4px;
          &.icon-podcast{
            font-size: rem-calc(16);
          }
        }
        .tooltip-simple{
          .icon-information-circle{
            margin-left: 2px;
          }
          .tooltip-overlay{
            top: 34px;
            left: -92px;
          }
        }
      }
    }
    .button-pricing-red{
      width: 321px;
    }
  }
  .audio-power-box{
    position: relative;
    text-align: center;
    margin-top: 5px;
    padding: 47px 0 30px 0;
    border-top: 2px solid $color-black-title;
    border-bottom: 2px solid $color-black-title;
    .audio-power-text{
      font-family: $font-text;
      color: rgba(0,0,0,0.5);
      font-size: rem-calc(17);
      a{
        color: $brand-color-red;
      }
    }
    .icon-vr-logo{
      font-size: rem-calc(59);
      color: rgba(0,0,0,0.4);
      position: absolute;
      right: 37px;
      top: -26px;
    }
  }

  .partners{
    padding: 42px 0;
    .logos-block-grid{
      @include block-grid(
        $per-row: 3,
        $spacing: 10px,
        $base-style: true
      );
      @media #{$small-only} {
        @include block-grid(
          $per-row: 2,
          $spacing: 10px,
          $base-style: true
        );
      }
    }
    .title-box{
      margin-bottom: 12px;
      h3{
        text-align: center;
        font-family: $font-text;
        color: $brand-color-red;
        font-size: rem-calc(19);
        margin-bottom: 20px
      }
    }

  }
}
