<li class="span2">
	<div class="thumbnail">
		<%= image_tag(followed_relation.followed.account.portrait.url(:thumb)) if followed_relation.followed.account.portrait.exists? %>
		<strong><%= followed_relation.followed.name %></strong>
		<%= link_to(t('.unfollow'), user_follow_path(:user_id => @user, :id => followed_relation), :class => "btn btn-small", :method => :delete) %>
	</div>
</li>
