<li class="follower">
	 
	<div class="thumbnail user-thumbnail">
		
		<%# LINK FOR WHOLE THUMBAIL %>
		<%= link_to user_path(:id => follower_relation.follower), :class => "user-thumbnail-link clearfix",  :id => "fr-#{follower_relation.id}" do %>	
			<%= image_tag(follower_relation.follower.account.portrait.url(:thumb)) %>
			<div class="user-thumbnail-name"><%= follower_relation.follower.name %></div>
		<% end %>
			
		<%= link_to( user_create_follow_path(:user_id => follower_relation.follower_id, :followed_id => follower_relation.followed_id ), :method => "post", :class => "follows-user-thumbnail-followback", :title => t('.follow_back', :default => "Follow Back") ) do %>
			<i class="icon-retweet"></i>
		<% end %>
	</div>
	
</li>
