
<li class="followed">
	 
	<div class="thumbnail follows-user-thumbnail">
		
		<%# LINK FOR WHOLE THUMBAIL %>
		<%= link_to user_path(:id => followed_relation.followed), :class => "follows-user-thumbnail-link" do %>	
			<%= image_tag(followed_relation.followed.account.portrait.url(:thumb)) if followed_relation.followed.account.portrait.exists? %>
			<strong><%= followed_relation.followed.name %></strong>
		<% end %>
			
		<%= link_to user_follow_path(:user_id => @user, :id => followed_relation), :class => "close follows-user-thumbnail-unfollow", :method => :delete do %>
			&times;
		<% end %>

	</div>
	
</li>
