- content_for :head do
  = rss_link_tag t('.feed_title')

  #main{:role => "main"}
    %ul.menu.vertical.medium-horizontal{"data-responsive-menu" => "drilldown medium-dropdown"}
      %li.has-submenu
        %a{:href => "#"} Landing Pages
        %ul#m2.vertical.submenu.menu{"data-submenu" => ""}
          %li
            %a{:href => "start.html"} Start Page
          %li
            %a{:href => "#"} Publish Page
          %li
            %a{:href => "#"} Listen Page
      %li.has-submenu
        %a{:href => "#"} Profile Views
        %ul.vertical.submenu.menu{"data-submenu" => ""}
          %li
            %a{:href => "profile.html"} Publisher
          %li
            %a{:href => "#"} New Sign-Up
      %li
        %a{:href => "explore.html"} Categories Page
-# .section.blue.welcome
-#   .row.collapse
-#     .medium-2.columns
-#       .logo.small-text-center.medium-text-left
-#         %span.lp-logo.icon-vr-logo
-#     .top-nav.medium-10.columns.top-actions.text-right.hide-for-small-only
-#       - if Talk.live.present?
-#         = link_to t('.now_playing'), live_talks_path, title: 'Live Talks'
-#       = link_to t('.discover'), explore_path
-#       - if !current_user
-#         = link_to t('.sign_in'), new_user_session_path
-#         = link_to t('.join'), new_user_registration_path
-#       - else
-#         = link_to t('.my_profile'), current_user
-#         -#
-#           #button.button.dropdown{"data-dropdown" => "profile-drop", "aria-controls" => "profile-drop", "aria-expanded" => "false"}
-#           = render partial: "shared/avatar_image_velvet", locals: { user: current_user, size: 60 }
-#           %ul#profile-drop.f-dropdown{"data-dropdown-content" => ""}
-#             %li= link_to t('.my_profile'), current_user
-#             %li= link_to t('.test_talk'), test_talk_path
-#             %li= link_to t('.schedule_talk'), new_talk_path
-#             %li= link_to t('.upload_talk'), new_upload_path
-#             / - if !current_user.is_pro?
-#             /   %li= link_to t('.pricing'), purchases_path
-#             %li
-#               = link_to(destroy_user_session_path, method: :delete) do
-#                 %i.icon-off
-#                 = t('.logout')
-#   .row.collapse
-#     .medium-8.medium-offset-2.large-6.large-offset-3.columns.text-center
-#       %h1.text-center
-#         = t('.claim').html_safe
-#       .small-12.columns
-#         = form_tag search_path, :class => 'navbar-search form-search' do
-#           .small-10.small-offset-1.medium-8.medium-offset-2.columns.search-field-holder
-#             = search_field_tag 'query', params[:query], :class => "welcome-search-field", :placeholder => t('.find_a_talk')#, :required => true
-#           .small-1.medium-2.columns.end.search-btn-holder
-#             = button_tag :type => "submit", :class => "search-lupe" do
-#               %span.icon-magnifying-glass
-#   .row.collapse
-#     .mobile-nav.small-text-center.medium-text-right.top-actions.show-for-small-only
-#       .small-12.columns
-#         %hr
-#       .small-12.columns
-#         = link_to t('.now_playing'), '#', title: 'Should Link To A Page Of LIVE Talks'
-#       .small-12.columns
-#         %hr
-#       .small-12.columns
-#         = link_to t('.discover'), explore_path
-#       .small-12.columns
-#         %hr
-#       .small-12.columns
-#         = link_to t('.sign_in'), new_user_session_path
-#       .small-12.columns
-#         %hr
-#       .small-12.columns
-#         = link_to t('.join'), new_user_registration_path
-#       .small-12.columns
-#         %hr

-# .section.gray
-#   .row
-#     .large-8.large-offset-2.columns.text-center
-#       %h1.text-center
-#         = t('.start_listening').html_safe
-#   .row
-#     .large-12.columns.collapse.talk-grid
-#       = render partial: 'velvet/talk', collection: @talks_popular
-#   .row
-#     %h1.text-center
-#       = link_to t('.more_btn'), explore_path, class: 'button', title: 'Should Link To A Page Of Talks'

-# .section.publishers
-#   .row
-#     .medium-8.medium-offset-2.large-6.large-offset-3.columns.text-center
-#       %h1.text-center
-#         = t('.publisher_tease').html_safe
-#     .large-12.columns
-#       = render partial: 'shared/publisher_tile', collection: @publishers
-#   -#
-#     .row.bottom-action
-#       %h1.text-center
-#         = link_to t('.see_all_btn'), '#', class: 'button', title: 'Should Link To A Page Of More Publishers'

-# .section.gray.categories
-#   .row.collapse
-#     .large-6.large-offset-3.columns.text-center
-#       %h1.text-center
-#         = t('.categories_title')
-#   .row.collapse
-#     %p.lead.text-center
-#       = t('.categories_subtitle')

-#   .row
-#     .small-12.medium-4.large-2.large-offset-1.columns.category-thumb-holder
-#       = link_to t('.category_1'),  explore_path(filter: { category: 'Politik und Gesellschaft' }), class: 'category-thumb', title: 'Politics & Society'
-#     .small-12.medium-4.large-2.columns.category-thumb-holder
-#       = link_to t('.category_2'), explore_path(filter: { category: 'Wissenschaften' }), class: 'category-thumb', title: 'The Sciences'
-#     .small-12.medium-4.large-2.columns.category-thumb-holder
-#       = link_to t('.category_3'), explore_path(filter: { category: 'Kunst und Kultur' }), class: 'category-thumb', title: 'Art & Culture'
-#     .small-12.medium-4.large-2.columns.category-thumb-holder
-#       = link_to t('.category_4'), explore_path(filter: { category: 'Technologie' }), class: 'category-thumb', title: 'Technology'
-#     .small-12.medium-4.large-2.columns.end.category-thumb-holder
-#       = link_to t('.category_5'), explore_path(filter: { category: 'Medien' }), class: 'category-thumb', title: 'The Media'

-# -#
-#   .section.apptease
-#     .row
-#       .medium-6.columns.device-copy.right
-#         .small-12.columns
-#           %h1
-#             = t('.apptease_header')
-#           %p.lead
-#             = t('.apptease_lead')
-#         .small-6.columns.store-links
-#           =image_tag '/images/logos/appstore.png'
-#         .small-6.columns.store-links
-#           =image_tag '/images/logos/playstore.png'
-#       .medium-6.columns.device-image.left
-#         =image_tag '/images/background/iphone-myfeed2.png'

-# .section.blue.ad
-#   .row
-#     .large-8.large-offset-2.columns.text-center
-#       %h1.text-center= t('.ad_title')
-#       = link_to t('.get_in_touch'), 'mailto:service@voicerepublic.com', class: 'button'
-#       .pricing= link_to t('.pricing'), pricing_path, class: 'button-adv'
