footer{
  width:100%;
  background:#777;
  background:rgba(0,0,0,0.37);
  padding:30px;
  margin-top: 30px;
  box-shadow:0 5px 5px rgba(0,0,0,0.15) inset;
  -moz-box-shadow:0 5px 5px rgba(0,0,0,0.15) inset;
  -webkit-box-shadow:0 5px 5px rgba(0,0,0,0.15) inset;
  -ms-box-shadow:0 5px 5px rgba(0,0,0,0.15) inset;
  -o-box-shadow:0 5px 5px rgba(0,0,0,0.15) inset;
  color:#ddd;
  text-shadow:1px 1px rgba(0,0,0,0.2), -1px -1px rgba(0,0,0,0.02);
  height:300px;
  font-size:$baseFontSize * 0.9;
   
  .footer-container{
    max-width:900px;
    margin:auto;
    .footer-column{
      float:left;
      padding:0 10px;
      p{
        margin:0;
        padding:0
      }
      a, a:hover{
        color:#eee;
      }
    }
    .release {
        opacity: 0.3;
    }
  }
}

.footer-title{
  margin:0 0 0px 0;
  font-size:$baseFontSize * 0.9;
  line-height:$baseLineHeight * 1.1;
  color:#fff;
  text-shadow:1px 1px rgba(0,0,0,0.2), -1px -1px rgba(0,0,0,0.02);
}