body.pages-icons {
    background: #f9f9f9;
}

.tiny-icon svg {
    width: 24px;
    height: 24px;
}

.menu > li > a.top-link-with-icon {
    line-height: 2;
    svg {
        fill: currentColor;
        width: 18px;
        height: 18px;
        vertical-align: middle;
        margin-right: 6px;
    }
}

#loading-svg {
    width: 36px;
    height: 36px;
}

#icon-cheatsheet {
    padding: 24px;
    h1 {
        color: $talk-dark;
    }
    .icon-thumb {
        color: $talk-dark;
        width: 50%;
        padding-bottom: 12px;
        float: left;
        text-align: center;
        svg {
            fill: currentColor;
            width: 60px;
            height: 60px;
        }
        @include breakpoint(medium) {
            width: 25%;
        }
    }
}

#error-container {
    background: url(../../images/background/desert.jpg) no-repeat 50% 25%;
    .not-found p {
        color: $vr-beige;
    }
}

.qa {
    display: none !important;
}

.bot-mar-1 {
    margin-bottom: 1rem;
}

.transparent {
    opacity: 0;
}

.no-pad {
    padding: 0 !important;
}

.no-pad-right {
    padding-right: 0 !important;
}

.no-pad-left {
    padding-left: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.top-24 {
    padding-top: 24px;
}

// Overwrite the float-right behavior of the last element in grid:
.column:last-child:not(:first-child), .columns:last-child:not(:first-child) {
    float: left;
}

@mixin button-hollow-style($color: $vr-blue) {
    $color-hover: $vr-red;
    border: 1px solid $color;
    color: $color;
    &:hover, &:focus {
        border-color: $color-hover;
        color: $color-hover;
    }
}

html {
    -webkit-font-smoothing: antialiased;
    height: auto;
    //overflow: auto;
    font-weight: 300;
    color: $almost-black;
    // background: $vr-blue;
}

body {
    position: relative;
    overflow: auto;
    height: auto;
    min-height: 100% !important;
}

a {
    color: $vr-light-blue;
    &:hover {
        color: $vr-blue;
    }
    &.link-yellow {
        color: $vr-yellow;
    }
}

.close-button {
    padding: 0;
    margin: 0;
    border: 0;
}

//avatar
.avatar {
    height: 100%;
    padding: 12px 0;
    img {
        border: 1px solid rgba($talk-dark, 0.1);
        border-radius: 50%;
    }
}

.avatar-image {
    border-radius: 50%;
    // border: 2px solid $smoke;
    background-size: cover;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
}

section {
    padding: 12px;
}