//buttons
button, .button {
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: rem-calc(1);
    border-width: 2px;
    transition: border-color .2s ease;
    transition: border .2s ease;
    transition: all .2s ease;
    background-color: $vr-blue;
    margin: 0;
    svg {
        fill: currentColor;
        //width: 12px;
        //height: 12px;
        vertical-align: middle;
        margin-right: 6px;
        max-width: 24px;
        max-height: 24px;
    }
    &.secondary {
        background-color: $vr-light-blue;
        &:hover {
            background-color: $vr-blue;
        }
    }
    &.icon-button {
        background: none;
        color: inherit;
        svg {
            fill: currentColor;
            width: .6em;
            height: .6em;
        }
    }
    &.hollow {
        border-width: 2px;
        border-color: $vr-light-blue;
        color: $vr-light-blue;
        &.btn-white {
            border-color: white;
            color: white;
        }
        &.btn-purple {
            border-color: $vr-purple;
            color: $vr-purple;
        }
        &.muted {
            border-color: $charcoal;
            color: $charcoal;
        }
        &:hover {
            color: white;
            background: $vr-blue;
            border-color: $vr-blue;
        }
        &.btn-blue {
            border-color: $vr-blue;
            color: $vr-blue;
        }
        &.btn-light-blue {
            border-color: $vr-light-blue;
            color: $vr-light-blue;
        }
        &.btn-yellow {
            border-color: $vr-yellow;
            color: $vr-yellow;
        }
        &.btn-gray {
            border-color: $charcoal;
            color: $charcoal;
        }
        &.btn-red {
            border-color: $vr-red;
            color: $vr-red;
        }
    }
    &.btn-hover-yellow {
        &:hover {
            border-color: $vr-yellow;
            background: $vr-yellow;
            color: $talk-dark;
        }
    }
    &.btn-hover-red {
        &:hover {
            border-color: $vr-red;
            background: $vr-red;
            color: white;
        }
    }
    &.btn-hover-green {
        &:hover {
            border-color: $success-color;
            background: $success-color;
            color: white;
        }
    }
    &.btn-hover-light-blue {
        &:hover {
            border-color: $vr-light-blue;
            background: $vr-light-blue;
            color: white;
        }
    }
    &.btn-hover-blue {
        &:hover {
            border-color: $vr-blue;
            background: $vr-blue;
            color: white;
        }
    }
    &.alert.hollow {
        border-width: 2px;
    }
    &.small {
        border-width: 2px;
        svg {
            width: 18px;
            height: 18px;
        }
    }
    &.large {
        border-width: 3px;
    }
    .info {
        background: $topbar-link-color;
        & .hollow {
            border-color: $topbar-link-color;
        }
    }
    &:hover, &:active {
        background: $vr-light-blue;
    }
    // &.muted.hollow {
    //     border-color: $charcoal;
    //     color: $charcoal;
    // }
    &.space-left {
        margin-left: 1em;
    }
}

.close-button {
    background: none;
}