.api-container {
	h3, h4, h5, h6 {
		font-family: $body-font-family;
		font-weight: 700;
		letter-spacing: rem-calc(1);
		margin-top: rem-calc(12);
		margin-bottom: rem-calc(12);
	}
	h2 {
		margin-bottom: 24px;
		margin-top: 24px;
	}

	h3 {
		font-size: rem-calc(24);
		font-weight: 800;
	}
	h4 {
		font-size: rem-calc(21);
	}
	h5 {
		font-size: rem-calc(18);
	}

	code {
		background: $light-gray;
		padding:6px;
		border:0;
	}

	pre {
		background: $light-gray;
		padding: 12px;
		code {
		background: none;
		border: 0;
	}
	}
}


/* hacks by phil */
.markdown .row:not(.expanded) {
	max-width: 68rem;
}
.markdown .buttons a { 
	//border: 2px solid; padding: 0.5em 1em; 
		@include button-hollow;
		font-weight: 500;
    text-transform: uppercase;
    letter-spacing: rem-calc(1);
    border-width: 2px;
    transition: border-color .2s ease;
    transition: border .2s ease;
    transition: all .2s ease;
    padding:12px;
    border: 2px solid $talk-dark;
    color: $talk-dark;
    //margin: 6px;
    &:first-child {
    	margin-right: 6px;
    }

    	&:hover {
		border-color:$vr-light-blue;
		background: $vr-light-blue;
		color: white;
	}
}
.markdown .blue .buttons a { color: yellow; }
.markdown .blue { color: white; }
.markdown .turquoise .buttons a { color: yellow; }
.markdown .turquoise h2 { color: white; }
.markdown section .row  { text-align: left; }
.markdown section .row.center  { text-align: center; }

.pages #claim {
	.buttons a {
		transition: background .2s, border-color .2s;
		padding:12px;
		color:$vr-yellow;
		border-color:$vr-yellow;

		&:hover {
		border-color:$vr-light-blue;
		background: $vr-light-blue;
		color: white;
	}
	}

}

//tables
.markdown {
	table {
		thead, tbody, tfoot {
			border:none;
		}
		tr {
			background:none;
		}
	}
}