//venue page

// debug:
// * *:hover { border:2px solid #89A81E }                   /* Solid Green
// * * *:hover { border:2px solid #F34607 }                 /* Solid Orange
// * * * *:hover { border:2px solid #5984C3 }               /* Solid Blue
// * * * * *:hover { border:2px solid #CD1821 }             /* Solid Red
// * * * * * *:hover { border:2px dotted #89A81E }          /* Dotted Green
// * * * * * * *:hover { border:2px dotted #F34607 }        /* Dotted Orange
// * * * * * * * *:hover { border:2px dotted #5984C3 }      /* Dotted Blue
// * * * * * * * * *:hover { border:2px dotted #CD1821 }    /* Dotted Red */

/*vars:*/
$panelOutlineColor: $tuatara;
$bgColor: #eeeeee;
$neutralColor: $charcoal;
$success-color: #60bd70;

#ui {
    background: $bgColor;
    padding: 0;
}

.instruction-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
}

.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
    cursor: pointer;
}

a.help-link {
    font-weight: 700;
    text-decoration: underline;
}

#instructions, #talk-modal {
    display: block;
    padding: 24px;
    color: white;
    position: relative;
    background: $vr-purple;
    @include breakpoint(medium) {
        position: relative;
        height: auto;
        h2 {
            font-size: rem-calc(18);
        }
    }

    h2 {
        font-size: rem-calc(16);
        margin-top: 6px;
    }
    h4 {
        color: white;
        font-size: rem-calc(18);
        text-transform: uppercase;
        letter-spacing: rem-calc(1);
    }
    code {
        background-color: #eee;
        padding: 24px;
        margin: 0 0 12px 0;
        display: inline-block;
        color: $vr-purple;
    }
    p.lead {
        font-size: rem-calc(14);
        font-weight: 300;
        color: white;
        margin-bottom: 12px;
    }
    table {
        width: auto;
        margin: 0 auto;
        margin-bottom: 1em;
        background: none;
        tbody {
            border: 1px solid white;
            background: none;
            tr {
                text-align: left;
                background: none;
                border-bottom: 1px solid white;
                td:first-child {
                    text-align: right;
                    font-weight: 700;
                    border-right: 1px solid white;
                    &:after {
                        content: ":";
                    }
                }
            }
        }
    }
}

#talk-modal .close-button {
    color: rgba(white,.5);
    &:hover {
        color: white;
    }
}

.venues-index {
    background: url(../../images/background/erosion.jpg) no-repeat 50% 25%;
    background-size: cover;
    height: 100vh;
    .title-block svg {
        fill: $vr-red;
        height: 60px;
    }
    h2 {
        color: white;
        margin-top: 24px;
    }
    .talk-card a {
        padding: 0;
    }
    .talk-card-inside {
        .title {
            color: $talk-dark;
        }
        .talk-count, .venue-state {
            margin: 0 12px 12px 12px;
            font-size: rem-calc(14);
            color: $topbar-dark;
        }
        .venue-state {
            // font-size: rem-calc(12);
            font-weight: 200;
            text-transform: uppercase;
            letter-spacing: rem-calc(1);
            color: $oil;
        }
        &.available, &.connected {
            background: $success-color;
            &:hover {
                background: $success-color;
            }
        }
        &.provisioning {
            background: $vr-yellow;
            &:hover {
                background: $vr-yellow;
            }
        }
    }
    .help {
        background: $vr-beige;
        text-align: left;
        padding: 12px;
        font-size: 14px;
        svg {
            width: 24px;
            height: 24px;
            fill: currentColor;
        }
    }
}

.venues {
    overflow: visible;
}

//New stuff:
h4.section-title {
    font-size: rem-calc(14);
    font-family: $body-font-family;
    font-weight: 300;
    color: rgba($topbar-dark, 0.5);
    letter-spacing: rem-calc(2);
    text-transform: uppercase;
}

#left-side {
    background: #eee;
    height: auto;
    padding-bottom: 24px;
    @include breakpoint(medium) {
        float: left;
        min-height: 100vh;
    }
}

.top-bar .logo svg {
    width: 54px;
    height: 44px;
    fill: $vr-red;
}

#toggles {
    padding: 12px;
    margin-bottom: 24px;
    .mute-toggle {
        svg {
            margin-left: 12px;
        }
    }
}

#circles {
    width: 50vw;
    height: 50vw;
    margin: 0 auto;
    margin-bottom: 24px;
    // background:rgba(lemonchiffon,.2);
    @include breakpoint(medium) {
        width: 45vw;
        height: 45vw;
        max-width: 50vh;
        max-height: 50vh;
        // margin: 12px 2.5vw 24px 2.5vw;
    }

    @include breakpoint(large) {
        width: 40vw;
        height: 40vw;
        // margin: 12px 5vw 24px 5vw;
    }

    svg text {
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 1px;
        pointer-events: none;
    }
    svg #ui-labels text {
        font-size: 6px;
        letter-spacing: 1px;
    }
    // #ui-labels {
    //     opacity: 0;
    //     transition: opacity .2s linear;
    //     &.shown {
    //         opacity: 1;
    //     }
    // }
}

.base {
    //stroke: rgba($topbar-dark, 0.1);
}

#speakers {
    text-align: left;
    li {
        color: $topbar-dark;
        padding: 6px;
        background: #f4f4f4;
        margin: 3px 2px;
        border-radius: 2px;
        //box-shadow: 0 1px 1px rgba(0,0,0,.1);
        font-size: .7rem;
        // &:hover {
        //     background:#fff;
        // }
        svg {
            fill: currentColor;
            width: 12px;
            height: 12px;
        }
        .speaker-name {
            vertical-align: baseline;
            margin-left: 6px;
            letter-spacing: rem-calc(1);
            float: right;
        }
        &.active {
            background: $success-color;
            color: white;
        }
    }
    .menu>li {
        display: inline-block;
    }
}

svg {
    fill: currentColor;
}

@mixin box-shadow($blur, $opacity) {
    box-shadow: 0 1px $blur rgba($almost-black, $opacity);
}

#mobile-nav {
    @include breakpoint(medium) {
        position: absolute;
        right: 0;
        top: 48px;
        z-index: 999;
    }

    li a:hover {
        background: darken($vr-blue, 5%);
    }
}

#helpbar {
    margin: 0;
    padding: 24px;
    background: #eee;
    width: 100%;
    max-width: none;
    height: auto;
    min-height: 100vh;
    z-index: 1000;
    position: absolute;
    top: 0;
    padding-top: 60px;
    text-align: center;
    #helptext {
        max-width: 45em;
        margin: 0 auto;
        text-align: left;
        color: $talk-dark;
        h3 {
            text-transform: uppercase;
            letter-spacing: .1rem;
        }
        h5 {
            text-transform: uppercase;
            font-family: $body-font-family;
            font-weight: 700;
            letter-spacing: .1rem;
        }
        p {
            color: $topbar-dark;
        }
    }
}

#close-help, #close-advice {
    width: 44px;
    height: 44px;
    background: white;
    font-size: 44px;
    border-radius: 22px;
    box-shadow: 0 1px 2px rgba(18, 18, 20, 0.3);
    font-weight: 200;
    padding: 0;
    position: fixed;
    right: 24px;
    top: 24px;
    span {
        margin-top: -6px;
        display: block;
        margin-left: 2px;
        font-size: 50px;
    }
}

#close-advice {
    top: 1px;
    right: 12px;
    background: none;
    box-shadow: none;
    font-size: 12px;
    width: 24px;
    height: 24px;
    font-weight: 200;
    color: $topbar-dark;
}

//Spotlight:
#darkout {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba($vr-blue, 0.8);
    z-index: 0;
}

#spotlight {
    position: absolute;
    left: 50px;
    top: 50px;
    width: 0;
    height: 0;
    border-radius: 50%;
    box-shadow: 0 0 0 2000px rgba($vr-blue, 0.8);
    -webkit-box-shadow: 0 0 0 2000px rgba($vr-blue, 0.8);
    z-index: 1000;
    pointer-events: none;
}

#spotlight-msg {
    background: $vr-beige;
    position: absolute;
    z-index: 1200;
    padding: 12px;
    border-radius: 4px;
    @include box-shadow(5px, 0.3);
    margin-top: 24px;
    margin-left: 24px;
    p {
        margin: 0;
        color: $talk-dark;
    }
    #msg {
        padding-bottom: 12px;
        margin-bottom: 12px;
        border-bottom: 1px solid $neutralColor;
    }
    .spotlight-btn {
        margin: 0;
        margin-left: 12px;
    }
    .cancel-btn {
        margin: 0;
        background: none;
        color: $talk-dark;
        font-weight: 300;
        text-transform: none;
    }
}

@keyframes pulse {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0.9);
    }
}


@keyframes connecting {
    from {
        stroke-width: 10;
    }
    to {
        stroke-width: 5;
    }
}


hr {
    border-color: $vr-beige;
}

.pulse {
    animation-duration: 1s;
    animation-name: pulse;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.zoomy {
    animation-duration: .2s;
    animation-name: zoomy;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.connecting {
    animation-duration: .5s;
    animation-name: connecting;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.callout {
    margin: 6px;
}

#navbar {
    background: $topbar-dark;
    height: 48px;
    color: $vr-light-blue;
    @include box-shadow(3px, 0.3);
    max-height: 80px;
    position: relative;
    z-index: 900;
    display: flex;
    padding: 0 15px;
    &.nopush {
        background: repeating-linear-gradient(-45deg, $talk-dark, $talk-dark 10px, $topbar-dark 10px, $topbar-dark 20px);
    }
}

#back-arrow, #dropdown, #list-toggle {
    a {
        color: $charcoal;
        font-size: .8rem;
        display: flex;
        //width:100%;
        &:hover {
            color: $vr-light-blue;
        }
    }
    // padding: 20px 24px;
    svg {
        width: 18px;
        height: 18px;
        margin-right: 6px;
        float: left;
    }
}

#back-arrow {
    //padding:5px 0 0 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
}

#dropdown {
    padding: 11px 0 0 0;
}

#device-button {
    border-radius: 2px;
    height: 34px;
    text-align: left;
    svg {
        width: 14px;
        height: 14px;
    }
}

#toggles .button {
    border: none;
    margin: 0;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba($talk-dark, 0.2);
    background: rgba(white, 0.5);
    color: $success-color;
    &:hover {
        background: $success-color;
        color: white;
    }
    svg {
        margin-right: 12px;
        width: 18px;
        height: 18px;
    }
    &.active {
        background: none;
        color: $success-color;
        &:after {
            content: "Keep this page open";
            color: $oil;
            background: $vr-yellow;
            display: block;
            position: absolute;
            padding: 6px 7px;
            border-radius: 3px;
            @include box-shadow(1px, 0.3);
            margin-top: 14px;
            margin-left: -10px;
            pointer-events: none;
        }
    }
    &#device-label {
        box-shadow: none;
        pointer-events: none;
        height: 30px;
        background: none;
        color: $oil;
        svg {
            margin-right: 6px;
        }
    }
}

#talkbar {
    background: #f9f9f9;
    position: relative;
    z-index: 800;
    height: 100px;
    overflow: hidden;
    width: 100%;
    margin-top: 0px;
    max-width: 100%;
    min-width: 100%;
    @include box-shadow(3px, 0.3);
    @include breakpoint(medium) {
        display: flex;
        flex-flow: row wrap;
        @include grid-row;
        max-width: 100%;
        height: 36px;
        // border-bottom: 1px solid $charcoal;
    }

    a {
        color: white;
        font-weight: 500;
        &:hover {
            text-decoration: underline;
        }
    }
    #list-toggle {
        width: 100%;
        @include breakpoint(medium) {
            flex: 1 0 20%;
            float: left;
        }

        @include breakpoint(large) {
            flex: 1 0 12%;
        }

        a {
            width: 100%;
            svg {
                margin-left: auto;
                float: right;
            }
        }
    }
    #current, #next {
        width: 100%;
        @include breakpoint(medium) {
            flex: 1 0 40%;
            float: left;
        }

        @include breakpoint(large) {
            flex: 1 0 44%;
        }
    }
    .talkitem span, .talkitem a, .talkitem .series {
        color: $topbar-dark;
        background: none;
    }
}

#list-toggle {
    background: $vr-light-blue;
    color: white;
    padding: 6px 14px;
    // border-bottom: 1px solid $charcoal;
    height: 30px;
    a.see-all {
        font-size: 0.6rem;
        text-align: center;
        padding: 0;
        text-transform: uppercase;
        font-weight: 600;
        justify-content: center;
        color: $oil;
        position: relative;
        width: 40%;
        margin: 0 auto;
        &:after {
            content: '';
            display: block;
            width: 0;
            height: 0;
            border: inset 6px;
            border-color: $oil transparent transparent;
            border-top-style: solid;
            border-bottom-width: 0;
            position: absolute;
            top: 50%;
            margin-top: -4px;
            right: 1rem;
        }
        &.hide-all {
            &:after {
                content: '';
                display: block;
                width: 0;
                height: 0;
                border: inset 6px;
                border-color: transparent transparent $oil;
                border-bottom-style: solid;
                border-bottom-width: 6px;
                margin-top: -8px;
            }
        }
    }
    a {
        color: #f4f4f4;
        &:hover {
            color: white;
        }
    }
    @include breakpoint(medium) {
        padding: 9px 14px;
        // background:$silver;
        height: 36px;
    }
}

.dayitem, .headeritem {
    height: 24px;
    font-size: .8rem;
    padding: 2px 12px 0 12px;
    p span {
        width: 20%;
        display: inline-block;
        float: left;
        &:first-child {
            width: 40%;
        }
    }
}

.dayitem {
    background: $vr-light-blue;
    color: white;
    font-size: 1em;
    padding: 6px 12px;
    height: 36px;
}

.headeritem {
    background: none;
    color: $vr-light-blue;
    margin-top: 6px;
    border-bottom: 1px solid #ddd;
    height: 28px;
}

#titlerow {
    height: 60px;
    border-bottom: 1px solid $steel;
}

#listrow, #titlerow {
    max-width: 100%;
    margin: 0;
}

#listrow {
    padding: 0;
    width: 100vw;
}

.talkitem {
    font-size: .8rem;
    padding: 6px 12px;
    border-bottom: 1px solid #ddd;
    p {
        margin: 0;
        span {
            width: 20%;
            &:first-child {
                width: 40%;
            }
        }
    }
    a {
        color: $topbar-dark;
    }
}

#dropdown .avatar {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: url(../assets/tubes.png) no-repeat 50% 50%;
    background-size: cover;
    border: 1px solid $charcoal;
    @include box-shadow(2px, 0.3);
    cursor: pointer;
    &:hover {
        @include box-shadow(3px, 0.5);
        /* border: 1px solid $vr-light-blue;*/
    }
}

#devices-wizard {
    text-align: center;
    background: $vr-purple;
    // a {
    //     color: white;
    //     padding-bottom: 0;
    //     height: 60px;
    // }
    @include box-shadow(20px, 0.3);
    /* display: flex;*/
    /* justify-content: center;*/
    /* align-items: center;*/
    color: white;
    padding: 12px;
    position: fixed;
    top: 12px;
    left: 12px;
    right: 12px;
    z-index: 900;
    overflow: auto;
    bottom: 12px;
    // @include breakpoint(medium) {
    //     max-width: 45rem;
    //      position: absolute;
    //     left: 50%;
    //     margin-left: -22.5rem;
    // }
    h3 {
        margin-bottom: 24px;
    }
    ul {
        @include breakpoint(medium) {
            @include menu-expand;
        }
    }
    li {
        padding: 6px;
        width: 50%;
        float: left;
        cursor: pointer;
        .itemwrapper {
            padding: 24px;
            border: 2px solid rgba(white, 0.5);
            border-radius: 4px;
            transition: border .2s, background .2s;
        }
        &:hover {
            .itemwrapper {
                border: 2px solid white;
                background: rgba(black, 0.05);
            }
        }
        @include breakpoint(medium) {
            width: 33.3333%;
        }
    }
    .itemwrapper {
        svg {
            fill: currentColor;
            width: 60px;
            height: 60px;
        }
    }
    .back-close {
        margin-bottom: 12px;
        .close-btn {
            font-size: 3rem;
            cursor: pointer;
            &:hover {
                color: $vr-yellow;
            }
            padding: 0;
            line-height: 1.5rem;
            font-weight: 200;
        }
        .back-btn {
            svg {
                width: 36px;
                height: 36px;
            }
        }
    }
    .new-box {
        .itemwrapper {
            border-style: dashed;
        }
        svg {
            fill: rgba(white, 0.5);
        }
        &:hover {
            .itemwrapper {
                border-style: dashed;
            }
        }
    }
    &.start {
        .back-btn {
            opacity: 0;
        }
    }
}

.has-tip {
    border-bottom: none;
    font-weight: normal;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.accordion {
    background: none;
    border: none;
}

#main-modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba($talk-dark, 0.8);
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
}

#modal-box {
    flex: 0 0 90%;
    background: white;
    height: auto;
    padding: 24px 24px 0 24px;
    border-radius: 4px;
    align-self: center;
    margin: 0 auto;
    @include breakpoint(medium) {
        flex: 0 0 45%;
    }
}

#controls {
    // background:yellow;
    // min-height: 100vh;
    // margin-top:90px;
}

#chat-window {
    background: orange;
    min-height: 100vh;
    margin-top: 90px;
}

#panels {
    -ms-flex: 0 0 80vw;
    flex: 0 0 80vw;
    margin-bottom: 48px;
}

.stopwatch {
    position: absolute;
    bottom: 20%;
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: $success-color;
}

#stopButton {
    cursor: pointer;
}

.panel-button {
    position: absolute;
    top: 40px;
    right: 14px;
    left: 12px;
    bottom: 20px;
    border-radius: 50%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    font-size: rem-calc(14);
    line-height: rem-calc(12);
    @include box-shadow(5px, 0.3);
}

#broadcast-button.warning {
    color: $almost-black;
}

svg#logo {
    fill: rgba($almost-black, 0.5);
    stroke-width: 0;
    max-width: 84px;
    margin: 24px 0;
}

#titlebar {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 60px;*/
    .label {
        background: $topbar-dark;
        text-transform: uppercase;
        letter-spacing: rem-calc(1);
        color: $oil;
        font-size: rem-calc(10);
        margin: 0;
    }
    h3 {
        color: $vr-light-blue;
        margin-bottom: 0;
    }
    #venue-title {
        color: $silver;
        font-weight: normal;
        font-size: .8rem;
        text-transform: uppercase;
        letter-spacing: rem-calc(1);
        font-family: $header-font-family;
        margin-bottom: 0;
        line-height: .8rem;
    }
    .talk-label {
        text-transform: uppercase;
        color: $oil;
        letter-spacing: rem-calc(1);
    }
}

.next-talk, .time-info {
    font-weight: 200;
    color: #eee;
}

#talk-titlebar {
    padding: 18px 24px 0 0;
    p {
        color: $oil;
    }
    a {
        color: $white;
        &:hover {
            text-decoration: underline;
        }
    }
}

#current, #next {
    height: 36px;
    // border-bottom: 1px solid $charcoal;
    background: rgba($topbar-dark, 0.4);
    padding: 8px 12px;
    font-size: .8rem;
}

#current {
    background: rgba($topbar-dark, 0.5);
}

#help-link {
    // padding: 14px;
    .button {
        border-radius: 50%;
        color: $talk-dark;
        background: $vr-yellow;
        width: 25px;
        height: 25px;
        padding: 5px 8px;
        font-weight: 500;
        margin-right: 12px;
        &:hover {
            background: $vr-yellow;
            color: $talk-dark;
        }
    }
}

.talkitem {
    p {
        color: $oil;
        .time {
            font-weight: 200;
            color: $charcoal;
            // min-width: 160px;
            display: inline-block;
        }
        // .title {
        //     padding-left: 6px;
        // }
        &.header {
            font-weight: 500;
            .time {
                font-weight: 500;
            }
        }
    }
    &.header {
        border-color: #bbb;
    }
}

//messages
#message-container {
    padding: 12px 6px;
    background: #f8f8f8;
    min-height: 100vh;
    padding-bottom: 10px;
    @include breakpoint(medium) {
        padding-bottom: 60px;
    }

    .message-row {
        margin: 0;
        padding: 0;
    }
}

.message-losenge {
    background: $vr-beige;
    margin: 6px;
    @include box-shadow(3px, 0.3);
    border-radius: 4px;
    padding: 6px;
    font-size: .9rem;
    color: #333;
    padding-bottom: 21px;
    max-width: 60%;
    position: relative;
    &.right {
        background: white;
    }
    .message-time {
        position: absolute;
        bottom: 3px;
        right: 6px;
        font-size: .7rem;
        color: #999;
    }
}

#first-message {
    position: absolute;
    bottom: 60px;
    left: 12px;
    padding: 0;
    margin: 0;
    .message-losenge {
        background: $vr-yellow;
        max-width: 75%;
        .strong {
            text-decoration: underline;
        }
    }
    @include breakpoint(medium) {
        position: relative;
        bottom: 0;
        left: 0;
    }
}

#chat-input {
    background: #fff;
    color: $oil;
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
    height: 50px;
    border-top: 1px solid rgba($talk-dark, 0.3);
    //box-shadow:0 -1px 3px rgba($talk-dark,.3);
    float: left;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    @include breakpoint(medium) {
        position: fixed;
        left: 66.66667%;
        width: 33.33333%;
    }

    #chat-icon,#chat-send {
        padding: 12px;
        color: $charcoal;
        flex: 0 0 36px;
        height: 40px;
        svg {
            width: 18px;
            height: 18px;
        }
    }
    #chat-input-field {
        flex: 1 1 100%;
        align-self: center;
        height: 36px;
    }
}

.listener-info {
    margin-left: 12px;
    background: rgba($topbar-dark, 0.5);
    color: $ghost;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 12px;
    svg {
        width: 12px;
        height: 12px;
        vertical-align: middle;
        margin-right: 2px;
        margin-top: -3px;
    }
}