//venue page

.venues-show {
    background: $talk-dark;
}

#main {
    padding: 24px 0 0 0;
}

.home {
    padding: 24px;
}

nav.top-bar {
    border: none;
}

.prototype-controls {
    position: absolute;
    bottom: 12px;
    right: 12px;
    max-width: 400px;
    background: $vr-purple;
    color: white;
    padding: 6px;
    font-size: rem-calc(12);

    a {
        margin-left: 12px;
    }
}

.top-bar svg {
    width: 16px;
    height: 16px;
    fill: $primary-color;
}

.top-bar ul {
    background: none;
}

.top-bar li a:hover {
    color: $success-color;
}

.top-bar li a.state-fake-button {
    pointer-events: none;
}

.top-bar.topbar-on-air {
    background: $success-color;
}

.top-bar.topbar-off-air {
    background: $vr-red;
}

.title-bar {
    background: none;
    padding-bottom: 12px;

    h5 {
        font-size: .8rem;
        color: $oil;
        letter-spacing: rem-calc(1);
        text-transform: uppercase;
        font-family: $body-font-family;
        font-weight: 300;
    }
}

.index #main {
    padding: 18px;
    background: none;
}

.panel-outside {
    flex: 0 0 25%;
    padding: 6px;
    margin: 0;
    display: flex;
}

.panel {
    width: 100%;
    transition: background .2s;
    background: #f4f4f4;
    border-color: #ccc;
    color: #333;
    margin: 0;

    &:hover {
        background: white;
    }
}

.date-btn {
    color: #eee;

    svg {
        fill: currentColor;
    }
}

.badge {
    color: $talk-dark;

    &.warning {
        color: $talk-dark;
    }
}

.label {
    vertical-align: middle;
}

#venue-header, #start-header {
    background: $talk-dark;
    padding: 24px 12px 36px 12px;

    // border-bottom: 1px solid #;

    h1 {
        font-weight: 500;
        margin: 0;
        color: $vr-light-blue;
    }

    p.countdown-text {
        font-size: rem-calc(24);
        font-weight: 300;
        margin: 0;
        line-height: 1.4;
    }

    .button {
        margin: 0;
    }
}

#venue-header {
    h1 {
        font-size: rem-calc(36);
    }

    .talk-title {
        color: $vr-beige;

        .talk-label {
            font-size: .8rem;
            color: $oil;
            letter-spacing: rem-calc(1);
            text-transform: uppercase;
            font-family: $body-font-family;
            font-weight: 300;
        }
    }

    .dashboard {
        padding-top: 12px;
    }

    .label {
        font-family: $body-font-family;
        padding: 12px;
        border: 2px solid $oil;
        background: none;
        color: $oil;
        font-size: rem-calc(16);
        font-weight: 500;

        &.success {
            border-color: $success-color;
            color: $success-color;
        }
    }
}

.server-status {
    svg {
        width: 18px;
        height: 18px;
        fill: currentColor;
        vertical-align: middle;
    }

    h3 {
        font-size: rem-calc(14);
        width: 100%;
        text-align: center;

        // text-transform: uppercase;
        margin: 0;
    }

    .button {
        margin: 0;
        margin-left: 12px;
    }

    .launchable-in {
        opacity: .5;
    }

    &.provisioning {
        background: lemonchiffon;
    }

    &.provisionable {
        // background: coral;
        cursor: pointer;

        .status {
            margin-left: 12px;
            opacity: 1;

            .button {
                margin: 0;
            }
        }
    }

    &.online {
        background: $success-color;
        color: white;

        h3 {
            font-weight: 500;
        }
    }
}

.has-tip {
    cursor: pointer;
    font-weight: 500;
}

.tooltip {
    background: $vr-red;

    &.top:before {
        border-color: $vr-red transparent transparent;
    }
}

table.lineup-list {
    text-align: left;
    border-top: 1px solid $topbar-dark;
    border: none;
    width: 100%;
    color: rgba(white, 0.5);
    font-size: rem-calc(14);

    .button {
        margin: 0;

        // width: 100%;
   
    }

    tbody {
        border: none;
    }

    tbody tr:nth-child(even) {
        background: rgba(black, 0.1);
    }

    th {
        padding: 12px 0;
        color: $silver;
    }

    tr {
        border: none;
        border-bottom: 1px solid $topbar-dark;
        background: rgba(black, 0.1);

        &:hover {
            background: rgba(black, 0.1);
        }

        &:nth-child(even) {
            background: none;

            &:hover {
                background: rgba(black, 0.1);
            }
        }

        td {
            padding: 12px 0;

            &.soundbars-cell {
                vertical-align: bottom;
                min-width: 36px;
            }
        }

        td.blank {
            width: 24px;
        }

        th:first-child {
            padding-left: 0;
        }

        td:first-child {
            padding-left: 0;
        }

        &.next-talk {
            background: lemonchiffon;

            &:hover {
                background: lemonchiffon;
            }
        }

        &.streaming {
            background: $success-color;
            color: white;

            &:hover {
                background: $success-color;
            }
        }

        &.interrupted {
            background: $warning-color;
            color: white;

            &:hover {
                background: $warning-color;
            }
        }
    }

    &.previous-talks {
        color: #999;
    }
}

select {
    margin: 0;
    padding: 9px 12px 12px 12px;
    border: none;
    border-radius: 0;
    margin: 0;
    font-size: 1rem;
    font-family: inherit;
    line-height: normal;
    color: $vr-beige;
    background-color: transparent;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-size: 9px 6px;
    background-position: right 12px center;
    background-repeat: no-repeat;
    height: 46px;
    font-size: .8rem;
}

#venue-control-panel {
    background: $topbar-dark;
    border-radius: 4px;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.2);
    color: rgba(white, 0.4);

    .columns {
        border-right: 3px solid $talk-dark;
        padding: 0;

        &:last-child {
            border-right: none;
        }
    }

    .titlebar {
        padding: 12px;
        max-height: 46px;

        h4 {
            font-size: rem-calc(12);
            margin: 0;
            font-family: $body-font-family;
            font-weight: 300;
            color: $oil;
            text-transform: uppercase;
        }

        .neutral {
            background: currentColor;
        }

        .server-bitrate-wrapper {
            font-size: rem-calc(12);
            color: $oil;
            margin-right: 12px;
        }
    }

    .divider {
        height: 1px;
        background: $talk-dark;
    }

    .actionbar {
        padding: 0;
        color: $vr-beige;
        background: rgba(black, 0.1);
        height: 46px;
        max-height: 46px;
        font-size: .8rem;

        .holder {
            padding: 12px;
        }

        a.button {
            // // width: 100%;
            // // height: 46px;
            // max-height: 46px;
            // font-size: .8rem;
            // padding-top: 16px;
       
        }

        .label {
            background: none;
            margin: 0;
            color: $vr-beige;
            padding: 0;
        }

        .server-progress, .talk-progress {
            background: rgba(black, 0.1);
            height: 46px;
            max-height: 46px;
            margin: 0;
            border-bottom-left-radius: 4px;

            .progress-meter {
                background: rgba($vr-blue, 1);
                border-bottom-left-radius: 4px;

                .progress-meter-text {
                    left: 12px;
                    transform: none;
                    top: 12px;
                    color: $vr-beige;
                    font-weight: 300;
                    font-size: .8rem;
                }
            }
        }

        .talk-progress {
            border-bottom-right-radius: 4px;
            border-bottom-left-radius: 0;
            overflow-x: hidden;

            .progress-meter {
                border-bottom-left-radius: 0;
            }
        }
    }

    .server-panel .actionbar .button {
        // border-bottom-left-radius: 4px;
        margin-top: -3px;
    }

    .talk-panel .actionbar .button {
        // border-bottom-right-radius: 4px;
   
    }

    .talk-start-button {
        margin-top: -3px;
    }

    .talk-stop-button {
        position: absolute;
        margin-top: -37px;
        right: 47px;
    }
}

table.venue-control-panel {
    text-align: left;
    width: 100%;
    vertical-align: middle;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.2);

    p, .button {
        margin: 0;
        vertical-align: middle;
    }

    tbody tr:nth-child(even) {
        background: none;
    }

    tbody {
        border: none;
        background: $topbar-dark;
    }

    th, td {
        // border: 1px solid green;
        width: 33%;
        background: none;
        border-right: 1px solid $talk-dark;
        padding: 12px 24px;

        &:last-child {
            border-right: none;
        }
    }

    th {
        font-size: rem-calc(14);
        font-weight: 300;
        background: none;
        color: $vr-beige;
        border-bottom: 2px solid $vr-light-blue;

        // border-right: 1px solid black;
   
    }

    td.blank, th.blank {
        width: 2px;
        max-width: 2px;
        border: none;
        padding: 0;
        background: $talk-dark;
        border-spacing: 0;
    }
}

.stopped {
    background: $alert-color;
}

.soundbars {
    position: relative;
    height: 44px;

    // margin-right: 60px;
}

#bars {
    margin-top: 44px;
    margin-right: 20px;
}

.bar-holder {
    width: 8px;
    height: 44px;
    background: rgba(black, 0.1);
    position: relative;
    float: right;
    margin-right: 4px;
    top: -44px;
}

.bar {
    background: $oil;
    bottom: 0;
    height: 1px;
    position: absolute;
    width: 100%;

    .signal & {
        animation: sound 0ms -800ms linear infinite alternate;
    }
}

@keyframes sound {
    0% {
        opacity: .35;
        height: 1px;
    }

    100% {
        opacity: 1;
        height: 44px;
    }
}

.bar-holder:nth-child(1) .bar {
    // left: 1px;
    animation-duration: 474ms;
}

.bar-holder:nth-child(2) .bar {
    // left: 15px;
    animation-duration: 433ms;
}

.bar-holder:nth-child(3) .bar {
    // left: 30px;
    animation-duration: 407ms;
}

.bar-holder:nth-child(4) .bar {
    // left: 45px;
    animation-duration: 458ms;
}

.bar-holder:nth-child(5) .bar {
    // left: 60px;
    animation-duration: 400ms;
}

.bar-holder:nth-child(6) .bar {
    // left: 75px;
    animation-duration: 427ms;
}

.bar-holder:nth-child(7) .bar {
    // left: 90px;
    animation-duration: 441ms;
}

.bar-holder:nth-child(8) .bar {
    // left: 105px;
    animation-duration: 419ms;
}

.bar-holder:nth-child(9) .bar {
    // left: 120px;
    animation-duration: 487ms;
}

.bar-holder:nth-child(10) .bar {
    // left: 135px;
    animation-duration: 442ms;
}

// switch
.switch {
    margin-bottom: 0;
    display: inline-block;
    vertical-align: middle;
    margin-right: 12px;
}

.switch.large input:checked ~ .switch-paddle:after {
    left: 5.75rem;
}

.switch.large .switch-paddle {
    width: 8rem;
}

.starting input:checked ~ .switch-paddle {
    background: $warning-color;
}

.disabled.switch {
    pointer-events: none;
    opacity: 0.5;
}

// modal

#device-modal {
    h3 {
        margin-bottom: 48px;
    }

    a.button.hollow {
        min-height: 100px;
        border-radius: 4px;
    }
}

@keyframes flickerAnimation {
    0% {
        opacity: 1;
    }

    50% {
        opacity: .2;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes flickerAnimation {
    0% {
        opacity: 1;
    }

    50% {
        opacity: .2;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes flickerAnimation {
    0% {
        opacity: 1;
    }

    50% {
        opacity: .2;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes flickerAnimation {
    0% {
        opacity: 1;
    }

    50% {
        opacity: .2;
    }

    100% {
        opacity: 1;
    }
}

.animate-flicker {
    -webkit-animation: flickerAnimation 1.5s infinite;
    -moz-animation: flickerAnimation 1.5s infinite;
    -o-animation: flickerAnimation 1.5s infinite;
    animation: flickerAnimation 1.5s infinite;
}

.server-progress .progress-meter {
    -webkit-animation: move-progress-bar 240s infinite;
    -moz-animation: move-progress-bar 240s infinite;
    -o-animation: move-progress-bar 240s infinite;
    animation: move-progress-bar 240s infinite;
}

@-webkit-keyframes move-progress-bar {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

@-moz-keyframes move-progress-bar {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

@-o-keyframes move-progress-bar {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

@keyframes move-progress-bar {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

.callout {
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    button {
        // color: white;
        margin: 0;

        span {
            margin: 0;
        }
    }

    h5 {
        font-family: $body-font-family;
        margin: 0;

        // color: white;
   
    }

    &.alert {
        background: $vr-red;
    }

    &.warning {
        background: $vr-yellow;
    }
}

.listeners {
    margin-right: 24px;

    .listener-count {
        color: $oil;
        font-size: rem-calc(36);
    }

    .listener-label {
        color: $oil;
        font-size: rem-calc(12);
        margin: 0;
    }
}