/*
 * This is a manifest file that'll be compiled into application.css,
 * which will include all the files listed below.
 *
 * Any CSS and SCSS file within this directory,
 * lib/assets/stylesheets, vendor/assets/stylesheets, or
 * vendor/assets/stylesheets of plugins, if any, can be referenced
 * here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll
 * appear at the top of the compiled file, but it's generally better
 * to create a new file per style scope.
 *
 *= require users
 *= require_self
 */

@import "grids_variables_mixins/ci_variables";
@import "grids_variables_mixins/mixins";
@import "grids_variables_mixins/foundation_and_overrides";
@import "grids_variables_mixins/foundation-icons";
@import "foundation_calendar";
@import "select2";
@import "social_shares";
@import "top_actionbar";
@import "components";
@import "landing_page";
@import "users";
@import "venues";
@import "talks";


/* Testing */
.draft {
  margin-top: 80px;
  background-color: hotpink;
  border: 3px solid greenyellow;
  padding: 5px 10px;
  border-radius: 15px;
}

.debug {
  background-color: brown;
}

.result.talk { background-color: #ddf; }
.result.user { background-color: #fdd; }
.result.venue { background-color: #dfd; }


/* GENERAL */
body{
  overflow-y: scroll; /* prevents moving by to small content */
}

.header-box {
  padding-top: 60px;
}
