@import "config.css.less";

@contribution-left-offset: 79px;
@contribution-right-offset: 60px;

.contribution, .comment article {
  .box-sizing(content-box);
  padding: 17px @contribution-right-offset 6px @contribution-left-offset;
  position: relative;
  min-height: 70px;

  & > aside {
    font-size: @baseFontSize - 2;
  }

  & > aside, & > header {
    color: lighten(desaturate(@brandColor, 10%), 15%);

    a {
      color: @linkColor;
    }
  }

  .contribution-comment-links {
      right: @contribution-right-offset;
      bottom: 8px;
      font-size: @baseFontSize - 4;
    }

  time {
      left:@contribution-left-offset;
      bottom: 8px;
      font-size: @baseFontSize - 4;
    }
  }

  .contribution-user-name, .contribution-user-image, time, .contribution-comment-links, .contribution-edit, .contribution-delete, .contribution-reply, .comment-user-name, .comment-user-image {
    position: absolute;
  }

  .contribution-user-name, .comment-user-name {
    left: 12px;
    top: 6px;
    font-weight: bold;
    font-size: smaller;
  }

  .contribution-user-image, .comment-user-image {
    display: block;
    left: 10px;
    top: 27px;
  }

  a.contribution-content {
    color: inherit;
    text-decoration: none;

    a {
      color: @linkColor;
    }
  }

  a.contribution-edit, a.contribution-delete, {
    right: 8px;
  }

  .contribution-edit {
    top: 38px;
  }

  .contribution-delete, .contribution-reply {
    top: 6px;
    &:hover{
      text-decoration: none;
    }  
  }

  .contribution-reply{
    right:20px;
    &:hover{
      text-decoration: none;
    }
  }

.comments {
  /*margin-left: @contribution-left-offset;*/
  margin-left:0;
  margin-top: 6px;

  .comment {
    margin: 3px 0;
  }

  aside {
    margin-left: @contribution-left-offset;
    margin-right: @contribution-right-offset;

    form {
      margin-top: 12px;
      margin-right: ;

      textarea {
        display: block;
        width: 100%;
      }
    }
  }
}