@import "grids_variables_mixins/ci_variables";
@import "grids_variables_mixins/vr_icons";
@import "grids_variables_mixins/mixins";
@import "shared/vr_player";

body,html{
  margin:0;
  padding:0;
}

.embedded-player{
  width: 445px;
  height: 220px;
  background: black;
  position: relative;

/*  @include transition(background 0.15s ease-in-out);
  &:hover, &:focus{
    background: darken($brand-color-creme, 3%);
  }*/

  .content-box{
    height: 160px;
    background-position: center center;
    background-size: cover;
    .content-text{
      position: relative;
      height: 128px;
      padding: 8px 6px;
      overflow: hidden;
      a{
        color: white;
        text-decoration:none;
      }
      .breadcrumbs-box{
        a{
          color: white;
          background: rgba(0,0,0,0.6);
          padding: 2px 6px 1px;
          width: 104px;
          font-family: $brand-font-light;
          font-size: 13px;
          line-height: 1;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          display: inline-block;
          span[class^="icon-"]{
            font-size: 11px;
            vertical-align: middle;
            position: relative;
            top: 1px;
            margin-right: 1px;
            line-height: 1;
          }
          &:hover, &:focus{
            .link-text{
              text-decoration: underline;
            }
          }
        }
       }
      .text-box-link{
        display: block;
        height: 110px;
        .title{
          line-height: 1;
          display: inline-block;
          font-family: $brand-font-bold;
          font-size: 24px;
          font-weight: normal;
          margin: 0 0 -1px 0;
          line-height: 1.15;
          color: white;
        }
        .datetime{
          font-family: $brand-font-light;
          font-size: 13px;
          color: white;
          background: rgba(0,0,0,0.5);
          line-height: 1;
          display: inline-block;
          padding: 3px 4px 0px 4px;
        }
        .teaser{
          font-size: 11px;
          font-family: Helvetica, Arial, sans-serif;
          line-height: 1.1;
          display: inline-block;
          overflow: hidden;
          margin: 3px 0 0 0;
          padding: 3px 4px;
          background: rgba(0,0,0,0.5);
        }
        &:after{
          content: '';
          height:17px;
          width: 100%;
          display: block;
          position: absolute;
          bottom: 0;
          left:0;
          @include vertical-gradient(rgba(0,0,0,0), black);
        }
      }
    }
  }

  .player{
    margin-top: -16px;
    .jp-controls{
      display: none;
    }
    .jp-progress{
      top: 0px;
    }
    .jp-time-holder{
      top: 29px;
      padding-left: 56px;
      .jp-current-time{
        font-family: $brand-font-light;
        font-size: 22px;
      }
      .jp-duration{
        display: none;
      }
    }
    .outside-controls{
      top: 16px;
      left:0px;
      .jp-play, .jp-pause{
        height:55px;
        width: 55px;
        span{
          font-size: 45px;
        }
      }
    }

  }
  .icon-box{
    position: absolute;
    bottom: 1px;
    right: 8px;
    font-family: $brand-font-bold;
    font-size: 10px;
    text-align: center;
    overflow: hidden;
    height:58px;
    .vr-logo{
      font-family: 'eaglebook';
      font-size: 10px;
      color: white;
      text-decoration:none;
      display: block;
      position: relative;
      top: -5px;
      span{
        font-size: 44px;
        color: white;
        line-height: 0;
        position: relative;
        bottom: -2px;
        &:hover, &:active{
          color: $brand-color-red;
        }
      }
      &:hover, &:active{
        color: $brand-color-red;
        span{
          color: $brand-color-red;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  ul.outside-controls{
    display: block;
  }
}
