.explore

  form 
    padding: 0 15px

  select 
    height: 4rem
    color: white
    border: 0
    transition: background-color .2s ease
    &:hover
      background-color: $blue

  .filters
    @extend .row
    @extend .collapse-large-only

  .filter
    @extend .small-4
    @extend .columns
    padding: 0 6px

  #results
    @extend .small-12
    @extend .columns

  #more
    @extend .list-style-type-none
    margin: 0

  .results-count 
    padding: 0 6px
    margin: 0
    margin-bottom: 6px
