.explore-index,
.explore-recent,
.explore-featured,
.explore-popular,
.explore-live{
  h2 {
    color: $brand-color-blue;
    font-size: rem-calc(18);
    font-family: $brand-font-bold;
    margin-bottom: 40px;
  }
  .bg-blue{
    h2{
      margin: 55px 0;
      color: $brand-color-yellow;
    }
  }
  h3{
    font-size: rem-calc(19);
    padding:19px 0 11px;
    width: 100%;
    background: $brand-color-red;
  }
  .talk-medium-box{
    margin-right:0 !important;
    .box-actions{
      display: none !important;
    }
  }
  .title-box{
    position: relative;
    margin-bottom: 10px;
  }
  .see-all-link{
    font-size: rem-calc(16);
    font-family: $brand-font-bold;
    display: inline-block;
    color: white;
    background: $brand-color-blue;
    padding: 6px 0 4px;
    width: 100%;
  }
}

.explore-index{
  .explore-top-bg{
    height: 150px;
  }
  [class*="block-grid-"]{
    margin-left: -5px;
    margin-right: -5px;
    > li{
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  h3{
    font-size: rem-calc(19);
    padding:19px 0 11px;
    width: 100%;
  }
}
