.kluuu-title {
	font-family: Georgia, serif;
	font-style: italic;
	font-weight: normal;
	text-align: center;
}

.kluuu-layout {
 	padding: 3%;
 	box-shadow: 1px 1px 1px rgba(0,0,0,0.15) inset, -1px -1px 1px rgba(0,0,0,0.15) inset;
 	background: #fff;
 	background: rgba(255,255,255,0.8);
}

.klu-eyecatcher {
	border: 1px solid #ddd;
}

.kluuu {
	border-radius: 4px;
}

.call-btn {
	background: white;
	padding: 4% 20% 4% 4%;
	position: relative;

	form, button {
		display: inline-block;
	}

	dl {
		margin: 0;
		font-size: 70%;
		color: @grayLight;
		.clearfix;
		dt, dd {
			float: left;
		}
		dt {
			clear: both;
			margin-right: 8px;
		}
		dd {
			height: 12px;
			width: 170px;
			overflow:hidden;
		}
	}

	.kluuu-user-image {
		position: absolute;
		display: block;
		right: 4%;
		top: 50%;
		height: auto;
		width: auto;
	}
}

.call-btn.jqrfd {
	display: block;
	text-align: left;

	button {
		border: none;
		background: none;
		height: auto;
		padding: 0;
		display: inline;
		box-shadow: none;
	}
}

.medium-kluuu {

	&>a:hover {
		text-decoration: none;
	}

	&>a:first-child {
		display: block;
	}
	
	h3 {
		.kluuu-title;
		color: @textColor;
		height: 80px;
		overflow:hidden;
	}

	.klu-eyecatcher {
		font-size: 0;
		line-height: 1;
		text-align: center;
		height: 239px;

		.table-cell {
			height: 239px;
			display: table-cell;
			vertical-align: middle;
		}

		img {
			max-height:100%;
			width: 100%;
			margin: 0 auto;
		}
	}

	.kluuu-description {
		height: 12px * @baseLineHeight * 3;
		overflow:hidden;
		margin: (12px * @baseLineHeight) 2px;
		color: @textColor;
		font-size: 12px;

		p {
			margin: 0;
		}
	}

	&:hover {
		 background: rgba(151,60,83,0.05);
    -moz-transition: 0.4s all;

    .call-btn {
    	background: rgba(0,0,0,0.05);
    }
	}
}