/*
 *= require main
 *= require_self
 *= require contributions
 */
 @import "config.css.less";
 
.klu-title {
	font-family: Georgia, serif;
	font-style: italic;
	font-weight: normal;
	text-align: center;
}

.klu-layout {
 	box-shadow: 1px 1px 1px rgba(0,0,0,0.15) inset, -1px -1px 1px rgba(0,0,0,0.15) inset;
 	background: #fff;
 	background: rgba(255,255,255,0.8);
 	border-radius: 4px;
}

.klu-eyecatcher {
	border: 1px solid #ddd;
}

.call-btn {
	background: white;
	padding: 4% 20% 4% 4%;
	position: relative;

	form, button {
		display: inline-block;
	}

	dl {
		margin: 0;
		font-size: 70%;
		color: @grayLight;
		.clearfix;
		dt, dd {
			float: left;
		}
		dt {
			clear: both;
			margin-right: 8px;
		}
		dd {
			height: 12px;
			width: 170px;
			overflow:hidden;
		}
	}

	.klu-user-image {
		position: absolute;
		display: block;
		right: 4%;
		top: 50%;
		height: auto;
		width: auto;
	}
}

.call-btn.jqrfd {
	display: block;
	text-align: left;

	button {
		border: none;
		background: none;
		height: auto;
		padding: 0;
		display: inline;
		box-shadow: none;
	}
}

.medium-klu, .small-klu {
	padding: 10px 8px;

	&>a:hover {
		text-decoration: none;
	}

	&>a:first-child {
		display: block;
	}
	
	h3 {
		.klu-title;
		color: @textColor;
		height: 80px;
		overflow:hidden;
	}

	.klu-eyecatcher {
		text-align: center;

		&, img {
			min-width: 100%;
		}
	}

	.kluuu {
		.klu-eyecatcher {
			
			img {
				display: block;
			}
			
			.table-cell {
				height: 239px;
				display: table-cell;
				vertical-align: middle;
			}

			img {
				max-height:100%;
				width: 100%;
				margin: 0 auto;
			}
		}
	}

	.kluuu-description {
		height: 12px * @baseLineHeight * 3;
		overflow:hidden;
		margin: (12px * @baseLineHeight) 2px;
		color: @textColor;
		font-size: 12px;

		p {
			margin: 0;
		}
	}

	&:hover {
		 background: rgba(151,60,83,0.02);
    -moz-transition: 0.4s all;

    .call-btn {
    	background: rgba(0,0,0,0.02);
    }
	}
}

.small-klu.klu-layout, .klu-large .small-klu.klu-layout {
	padding: 4px 5px;
}

.klu-large {
		.klu-layout {
			padding: 20px 30px;

		.kluuu-pics {

			ul {
				margin: 0;
				.clearfix;
			}

			li {
				position: relative;
				float: left;
				width: 74px;
				height: 56px;
				line-height: 56px;
				text-align: center;
				border: 1px solid rgba(0,0,0,0.2);
				margin-right: 4px;
				font-size: 0;
				background-color: rgba(0,0,0,0.7);

				img {
					font-size: 0;
					vertical-align: middle;
					max-height: 100%;
				}

				.kluuu-image-edit-link {
					display: block;
					position: absolute;
					background: white;
					background: rgba(255,255,255,0.8);
					right: 0px;
					top: 0px;
					font-size: @baseFontSize - 3;
					line-height: 1;
					padding: 1px 4px;
				}
			}

			li:first-child {
				float: none;
				// width: 820px;
				width: auto;
				position: relative;
				// height: 615px;
				height: auto;
				// line-height: 615px;
				text-align: center;
				margin-bottom: 15px;
			}

			img {
				font-size: 0;
				vertical-align: middle;
				max-height: 100%;
			}

			.klu-image-caption {
				position: absolute;
				left: 0;
				bottom: 0;
				background: white;
				width: 100%;
				opacity: 0.66;
				line-height: (@baseFontSize - 3) * @baseLineHeight;
				font-size: @baseFontSize - 3;
				padding: 4px 10px;
				text-align: left;
			}
		}

		.klu-user-info {
			box-shadow: 1px 1px 1px rgba(0,0,0,0.15) inset, -1px -1px 1px rgba(0,0,0,0.15) inset;
			position: relative;
			height: 100%;
		}
	}
}

.kluuu-large-left {
	padding: 0  30px;
}

.klu-large {
	padding-top: @baseFontSize * @baseLineHeight;
	position: relative;

	.klu-meta {
		font-size: @baseFontSize - 3px;

		ul {
			margin: 0;
		}

		li {
			display: inline;
		}
		.klu-categories, .klu-tags, .klu-bookmarked-by {
			float: left;
		}

		.klu-categories, .klu-bookmarked-by {
			width: 25%;
		}

		.klu-tags {
			width: 50%;
			text-align: center;
		}
		.klu-bookmarked-by {
			text-align: right;
		}
	}

	.klu-rating{
		.klu-rating-stars{
			position: absolute;
			right:0;
			top: 12px;
		}

	}

	.klu-top-bar {
		position: absolute;
		top: 0;
		left: 0px;
		width: 100%;

		ul {
			margin: 0;
			position: absolute;
		}

		li {
			display: inline;
		}
		
		.klu-actions {
			left: 30px;
			top: 0;
		}

		.klu-socials {
			top: 0;
			right: 30px;
			text-align: right;
		}
	}

	.klu-user-info {
		.klu-user-info-inner {
			padding: 4%;
			position: relative;
		}
	}
	.klu-user-info-more-klus {
		margin-top: @baseFontSize * @baseLineHeight * 0.5;
	}
}

.no-kluuu.klu-large {
	h2 {
		margin: 0 0 (@baseFontSize * @baseLineHeight)/2;
	}
}

.kluuu-add-image-link {
	margin-top: @baseFontSize * @baseLineHeight * 0.5;
}

