@brandColor: #D05623;
@brandColorDarker: #ED713B;
@brandColorLighter: #da4c19;
@brandColorGrey: #d27b58;
@brandBlue: #2466A4;
@brandGreen: #77881C;

@verticalRhythm: @baseFontSize * @baseLineHeight * 0.5;