/*
 *= require main
 *= require_self
 *= require klus
 *= require users
 *= require venues_single
 */
 @import "config.css.less";

 .landing-page {
   
  .kluuu-lead {
    //background-color: lightgrey;
    min-width: 450px;
    padding: 20px;
    border-radius: 5px;
    margin: auto; //0 90px 0 90px;
    .btn {
      line-height:1.3;
    }
  }
  
  .venue-top {
    margin-left: -20px;
    padding-left: 0;
  }
  
  .news-top {
    margin-top: 40px;
    padding-right: 10px;
    padding-left: 0;
  }
 	
  .medium-klu {
    .set-rows(4);
  }
  h2{
  	margin:0px 0 0 0px;
  	font-size: 26px
  }
 }

body{
	//background:url(/assets/Cafe-Griensteidl-1896-e.jpg) no-repeat 0 -100px;
	//background-size: contain;
}

body .container .well {
	box-shadow: inset 0 0 0px rgba(0,0,0,0.3) !important;
	border:1px solid #BEBEBE;
	background:#F2F2F2
}



.lead {
	//color:white !important;
	margin-bottom: 40px !important;
	//text-shadow:1px 1px 2px rgba(0,0,0,0.7), -1px -1px 2px rgba(0,0,0,0.7);
}

.container{
	width: 100%;
	.row-fluid{
		padding:5%
	}
}

 h2.landing-page-claim{
 		font-size:@baseFontSize * 3.4;
 		//line-height:@baseLineHeight * 0.8;
 		color: @brandKluuu;
 		font-weight: bold;
 		//text-shadow:1px 1px 3px rgba(0,0,0,0.5), -1px -1px 3px rgba(0,0,0,0.2);
 		margin:0;
 		//margin-top:10px;
 }

 .landing-page-claim-bg{
	//padding:15px 35px;
	/*background:rgba(0,0,0,0.5)	*/
}

.landing-page-search {
	width:300px;
	margin:auto;
	padding:20px 20px 20px 20px;
	//background:rgba(255,255,255,0.5);
	background-color: grey;
	border-radius: 8px;
	
	box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
      -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
      -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
      -ms-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
      -o-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
	
	//color:black;
	//text-shadow:1px 1px 2px rgba(255,255,255,0.7), -1px -1px 2px rgba(255,255,255,0.7);
	h2 {
	  color: #fff;
		padding-top:10px;
		font-size:25px;
		font-weight: bold;
		text-align: left;
		//margin-left:48px;
		margin-bottom:5px
	}
	i{
		//color:#fff;
		//text-shadow:1px 1px 2px rgba(255,255,255,0.7), -1px -1px 2px rgba(255,255,255,0.7);
	}
}

input.landing-page-query{
	/**
	font-size:@baseFontSize * 1.4;
	padding-top:@verticalRhythm * 1.0;
	padding-bottom:@verticalRhythm * 1.0;
	padding-left:@verticalRhythm * 2;
	padding-right:@verticalRhythm * 2;
	line-height:@baseLineHeight * 1;
	**/
	line-height: 1.2;
 	color:#6C6C6C;
 	//background: rgba(255,255,255,0.9);
 	//width:200px !important;
 	//border-radius:10px;
 	&:focus{
 		border-color: red;
 	}
}

.landing-page{
	.row-fluid{
		//background:#fefefe;
		padding-top:20px;
		padding-bottom:10px;
	}
	.landing-page-top-row{
		padding-top:20px;
		position: relative;
		height:430px;
		background:transparent;
		.landing-page-bottom-background{
			position: absolute;
			bottom: 0;
			left:0;
			height:120px;
			width: 100%;
			background:-moz-linear-gradient(center top , transparent, rgba(0, 0, 0, 0.7)) repeat scroll 0 0 transparent;
		}
	}
}

/**
.landing-page-search-button{
	background:none;
	border:none;
	font-size: @baseFontSize * 2;
	color:@brandColor
}
**/

.landing-page-color1{
	background:#f9f9f9;
	margin:0;
	padding:0
}

.lp-venue-slogan{
	font-size: 14px
}

.lp-kluuus{
	.well{
		/*background: #f7f7f7;*/
	}
}

.lp-trends-people{
	.well{
		/*background: #f7f7f7;*/
	}
}

.landing-page-color2{
	.well{
		
	}
}

.user-small{
	.set-rows(2);
}

.lp-news{
	ul{
		height:200px;
		overflow-y:auto;
		margin:0;
	}

	h2{
		margin-left:0
	}
	li{
		margin:2px 0 18px 0;
	}
	.lp-news-date{
		color:#932945;
		font-size: 11px;
		line-height: 15px
	}
	p{
		margin:0px 0px 0px 0;
		line-height: 18px
	}
}

.kblog {
  .kblog-article {
    
  }
  .news-header { 
    margin-top: -20px;
    margin-left: -4px;
    display:block;
    background-color: @brandKluuu;
    border-radius:8px;
    color: white;
    padding: 2px 4px 2px 20px;
    font-weight: bold;
    
  }
}
