.landing_page-index{

	.top-bar{
		.top-bar-section{
			.logged-out-link{
				height: 0 !important;
				overflow: hidden
			}
		}
	}

	.title-row{
		position:relative;
		z-index: -1;
	}

	.lp-top-row{
		position: relative;
		height: 30px;
		.lp-bar-search-box{
			position: relative;
			z-index: 10;
			width:150px;
			&:hover,
			&:focus{
				background: #444;
			}
		}

		.top-bar-search-field{
			position: absolute !important;
			top: 4px !important;
			left: 0;
			width: 150px;
			height: 30px !important;
			line-height: inherit !important;
			background: $brand-color-creme !important;
			margin: 0;
			padding: 0 5px 0 30px !important;
			color: #fff !important;
			font-family: 'eaglebook';
			font-size: rem-calc(12);
			border-style: none !important;
			@include placeholder{
				color: #ddd;
			}
			&:hover,
			&:focus{
				background: #333 !important;
				border-style: none !important;
				outline-style: none !important;
				@include box-shadow(0,0,0,#000);
				color: #fff
			}
		}

		.search-lupe{
			.icon-magnifying-glass{
				color: #ddd
			}
			position: absolute;
			left: 2px;
			top: 6px;
			background: none;
			font-size: 1.2rem;
			padding: 0;
			margin: 0;
			display: inline;
			&:hover,
			&:focus{
				background:none;
				.icon-magnifying-glass{
					color: #fff
				}
			}
		}	
	}

	.bg-blue{
		width: 100%;
		height: 500px;
		background: url(/images/bg_blue.svg) no-repeat center top;
		margin-bottom: -387px;
		margin-top: -50px;
	}

	.lp-logo{
		font-size: rem-calc(280);
		color: $brand-color-red;
		line-height: 0.5;
		margin:16px 0 0 0;
		display: block;
	}

	.headline{
		color: #000;
		font-size: rem-calc(30);
		span{
			border-bottom: 6px solid #000;
			display: inline-block;
			line-height: 0.9;
			margin-bottom: 3px;
		}
	}
	.subheadline{
		margin-top: 20px;
		font-size: rem-calc(19);
		color: $brand-color-blue;
		font-family: 'eaglelight';
	}
	.subheadline-2{
		font-size: rem-calc(20);
		font-family: 'eaglebook';
		color: #000;
		line-height: 1.6;
	}

	.button-signup{
		width: 100%;
	}

	.authentication-box{
		position: absolute;
		top: 0;
		right: -104px;
		width: 281px;
		padding:14px 19px 0 19px;
		background: rgba(0,0,0,0.6);
		dl{
			display:inline-block;
			padding: 0px 0 13px 0;
			dd a,.link-delimiter{
				color: $brand-color-red;
				font-family: 'eaglebook';
				font-size: rem-calc(13);
			}
			dd{
				display: inline-block;
				float: none;
				a{
					padding:0;
					background: transparent;
				}
				&.active{
					a{
						background: transparent;
						text-decoration: underline;
					}
				}
			}
			.link-delimiter{
				padding:0 3px;
			}
			a{
				&:hover,&:focus{
					color: $brand-color-red;
				}
			}
		}
		.tabs-content{
			.content{
				padding: 0 !important;
			}
		}
		.lp-signup-box,
		.lp-login-box{

		}
		.lp-login-box{
			display: none;
		}
		input[type=text],
		input[type=email],
		input[type=password]{
			background: black;
			color: white;
			border: none;
			height: 31px;
			padding-left: 10px;
		}
		.button-vr{
			width: 100%;
		}
		.lp-remember{
			color: white;
			font-family: 'eaglelight';
			font-size: rem-calc(14);
			&:hover,&:focus{
				color: white;
			}			
		}
		.forgot-password{
			margin-top: 10px;
			a{
				color: white;
				font-family: 'eaglelight';
				font-size: rem-calc(14);
				&:hover,&:focus{
					color: white;
				}
			}
		}
	}

	.about-summary{
		margin-bottom: 40px;
		h4{
			font-family: 'eaglebook';
			font-size: rem-calc(16);
			color: $brand-color-yellow;
			border-bottom: 5px solid $brand-color-yellow;
			display: inline-block;
			margin:9px 0 10px 0;
		}
		p{
			color: white;
			font-size: rem-calc(15);
			font-family: 'eaglelight';
			line-height: 1.15;
		}
	}

	.live-talks,
	.featured-talks{
		h4{
			font-family: 'eaglebook';
			color: $brand-color-red;
		}
	}
	.featured-talks{
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.bg-manifest{
		height: 900px;
		margin-bottom: -800px;
		background: url(/images/bg_blue.svg) no-repeat center top, url(/images/bg_blue.svg) no-repeat center 300px, url(/images/bg_blue.svg) no-repeat center 460px
	}

	.manifest{
		.icon-vr-logo{
			font-size: 80px;
			color: $brand-color-red;
		}
		h4{
			font-family: 'eaglebook';
			color: white;
			font-size: rem-calc(16);
		}
		h5{
			font-family: 'eaglebook';
			font-size: rem-calc(16);
		}
		p{
			color: white;
			font-size: rem-calc(16);
			font-family: 'eaglelight';
			line-height: 1.15;
		}
	}

	.member-block{
		margin-top: 106px;
		.avatar-bg{
			fill: $brand-color-red;
		}
		.avatar-name{
			color: $brand-color-blue;
			padding:0;
		}
		h4{
			font-family: 'eaglebook';
			color: $brand-color-blue;
			margin-bottom: 25px;
			font-size: rem-calc(16)		
		}
		.member-name{
			margin-top: 10px;
			font-family: 'eaglelight';
			font-size: rem-calc(15);
		}
		.member-job{
			color: #555;
			font-family: 'eaglelight';
			font-size: rem-calc(14)
		}
	}

	.footer{
		margin-top: 100px;
	}
}