.landing_page-index{
	.headline,.subheadline{
		color: white
	}
	.subheadline{
		font-size: rem-calc(20);
	}
	.button-signup{
		width: 100%;
	}

	.signup-facebook{
		color: white;
		&:hover, &:focus{
			color:white
		}
	}

	.about-summery{
		margin-top: rem-calc(50);
		margin-bottom: rem-calc(50);
		img{
			width:100%;
		}
	}

	.member-block{
		.member-name{
			margin-top: 10px;
			font-family: 'eaglelight';
			font-size: rem-calc(15);
		}
		.member-job{
			color: #555;
			font-family: 'eaglelight';
			font-size: rem-calc(14)
		}
	}
}