/*
 *= require main
 *= require_self
 *= require klus
 *= require users
 *= require venues_single
 */
 @import "config.css.less";

 .landing-page {
  
  .venue-top {
    padding-left: 0;
  }
  
  .news-top {
    margin-top: 44px;
    padding-right: 10px;
    min-height: 210px
  }

  h2{
  	margin:0px 0 0 0px;
  	font-size: 26px
  }
 }

body .container .well {
	box-shadow: inset 0 0 0px rgba(0,0,0,0.3) !important;
	border:1px solid #BEBEBE;
	background:#F2F2F2
}

.container{
	width: 100%;
	.row-fluid{
		padding:5%
	}
}

 h2.landing-page-claim{
  	font-size:50px;
  	/*color: @brandKluuu;*/
  	font-weight: 300;
  	font-family: sans-serif;
  	margin:40px 11px 40px 0px;
  	display: inline-block;
  	-webkit-hyphens: auto;
  	-moz-hyphens: auto;
  	hyphens: auto;
    position: relative;
 }

 .claim-author{
    position: absolute;
    right: -30px;
    bottom:-16px;
    font-size: 20px;
    color:#999;
 }

 .lead{
 	margin-bottom: 25px
 }

.landing-page{
	.row-fluid{
		padding-top:0px;
		padding-bottom:10px;
	}
	.landing-page-top-row{
		padding-top:20px;
		position: relative;
		height:430px;
		background:transparent;
		.landing-page-bottom-background{
			position: absolute;
			bottom: 0;
			left:0;
			height:120px;
			width: 100%;
			/*background:-moz-linear-gradient(center top , transparent, rgba(0, 0, 0, 0.7)) repeat scroll 0 0 transparent;*/
		}
	}
	.landing-page-illu{
    margin-top: 60px;
		a{
			color:@black;
		}
		.lp-box{
      border-radius:5px;
      max-width: 320px;
      height: 220px;

      border:3px solid #ccc;
      text-align: left;
      padding:0 8%;
      margin:0 auto 35px auto;
			&.lp-venue-icon img{
				border-radius: 10px
			}
			list-style-type: none;
			display: block;
			color:#777;

      .lp-box-content{
        margin-left: 15px;
        padding-left: 2px;
        list-style-type: disc;
      }

			.lp-box-title{
				margin:20px 0 0px 0;
				font-size: 20px;
				line-height:34px;
				color:#333;
				font-family: sans-serif;
				font-weight: normal;
			}
			.landing-page-illu-subtitle{
				font-style: italic;
				font-size: 16px
			}
		}
		.span6:first-child .lp-box{
			border-color: #A9C158
		}
  
    .span6:nth-child(2) .lp-box{
      border-color: #536731
    }
	}
}


.landing-page-color1{
	background:#f9f9f9;
	margin:0;
	padding:0
}

.lp-venue-slogan{
	font-size: 14px
}

.kblog-box{
  padding-top: 2px;
}

.kblog {
  margin-top: 3px;
	font-family: inherit;
  border: 3px solid #CCCCCC;
  border-radius: 8px 8px 8px 8px;
  padding: 10px 15px !important;
	hr{
		margin: 0 0 15px 0 !important
	}

  .lp-klog-header{
    border-bottom: 1px solid #ddd;
    padding: 5px 0;
    margin-bottom: 10px
  }
  .kblog-article {
  	margin-top: 0;
  	padding:0;
    text-align: left;
		.kblog-title{
			margin-left:0;
			font-size: 17px;
			font-weight: bold;
			line-height: 19px;
			margin-bottom: 2px;
		}
		.kblog-created{
			color:#932945;
			font-size: 11px;
			line-height: 15px;
			text-align: left;
			float: none;
      margin-bottom: 3px
		}
		.kblog-content{
      text-indent: 0;
      text-align: inherit;
      /*line-height: 116%;*/
		}
		box-shadow: none
  }
}

.lp-box-background{
  background: -moz-linear-gradient(top,  rgba(226,226,226,0.65) 0%, rgba(226,226,226,0) 29%, rgba(226,226,226,0) 30%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,226,226,0.65)), color-stop(29%,rgba(226,226,226,0)), color-stop(30%,rgba(226,226,226,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(226,226,226,0.65) 0%,rgba(226,226,226,0) 29%,rgba(226,226,226,0) 30%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(226,226,226,0.65) 0%,rgba(226,226,226,0) 29%,rgba(226,226,226,0) 30%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(226,226,226,0.65) 0%,rgba(226,226,226,0) 29%,rgba(226,226,226,0) 30%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(226,226,226,0.65) 0%,rgba(226,226,226,0) 29%,rgba(226,226,226,0) 30%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6e2e2e2', endColorstr='#00e2e2e2',GradientType=0 ); /* IE6-9 */      
}