/*
 *= require main
 *= require_self
 *= require klus
 *= require users
 */
 @import "config.css.less";

 .landing-page {
  .medium-klu {
    .set-rows(2);
  }
 }

body{
	background: url(phone_switchers.jpg);
	background-size: cover
}

 h2.landing-page-claim{
 		font-size:@baseFontSize * 3;
 		line-height:@baseLineHeight * 2;
 		color:white
 }

.user-small{
	.set-rows(2);
}