[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body{
	overflow-y: scroll; /* prevents moving by to small content */;
/*	background: #F6F4EC;*/
  /*background: url(/assets/bg_2.png) center top no-repeat*/
}

@media only screen and (min-width: rem-calc(730)){
  .collapse-large-only > .columns{
    padding-left: 0;
    padding-right: 0;
  }
}

h1,h2,h3{
  font-family: 'eaglebook';
}

p{
	font-size: 0.8rem;
}

.list-style-type-none{
	list-style-type: none;
	margin:0
}

.display-none{
  display:none;
}

#query.warning {
  background: lightcoral !important;
}

.top-margin-action-bar{
  margin-top: 100px
}
