/*
 *= require bootstrap_and_overrides
 *= require navbar
 */
 
@import "config.css.less";

body {
  background: @white;
  overflow-y:scroll;
}

body.layout-logged-out{
  padding-top: 92px;
  .flash_messages{
    top:60px
  }
  .landing-page{
    margin-top:-40px;
  }
}

.dropdown-menu {
  background: @brandColorLighter;
}

// error handling in forms
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

// error handling end

/*
 * MODAL OVERLAY
 *
 */

.overlay-background {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #CCCCCC url(ajax-loader.gif) center center no-repeat;
  background: rgba(0,0,0,0.2) url(ajax-loader.gif) center center no-repeat;
  z-index:9999;

  h3{
    margin-top:0;
    font-weight: bold;
  }

  .icon-facetime-video{
    font-size:40px;
    text-shadow:0 0 5px rgba(0,0,0,0.4);
    color:#228b22
  }

  .overlay-content {
    background: white;
    background: rgba(255,255,255,0.95);
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 30px;
    border: 1px solid #000;
    .overlay-close-link{
      position: absolute;
      right:14px;
      top:0px;
      font-size:26px;
      color:#333;
      text-decoration: none;
    }
  }
}

/*
 *  TOP ALERTS
 *
 */

.flash_messages{
  position: fixed;
  top:48px;
  width:100%;
  text-align: center
}

.alert{
  display: inline;
  position: relative;
  .close{
    position:absolute;
    right:10px;
    top:3px
  }
}

.status, .comment {
  background: #efefef;
  border: 1px solid #d6d6d6;
}

/* USER THUMBNAIL */
.user-thumbnail{
  position:relative;
  height: 59px;
  /*background:#eee;*/
}

.user-thumbnail-link{
  position: relative;
  width:100%;
  height:100%;
  display: block;

  .user-image {
    position: absolute;
    left: 7px;
    top: 2px;
    width:45px;
  }
  &:hover {
    text-decoration:none;
  }
  .user-thumbnail-name{
    margin-left: 60px;  
    margin-top:3px;
    max-width:140px;
    display: inline;
  }

}

.user-thumbnail:hover{
  background:rgba(0,0,0,0.03);
  box-shadow:0 0 3px rgba(0,0,0,0.1);
  -moz-box-shadow:0 0 3px rgba(0,0,0,0.1);
  -webkit-box-shadow:0 0 3px rgba(0,0,0,0.1);
  -ms-box-shadow:0 0 3px rgba(0,0,0,0.1);
}

/* HELP TEXT OVERLAY */
.help-text-overlay{
  position: absolute;

  padding:10px 30px 10px 16px;
  font:20px/30px 'Nothing You Could Do';
  color:rgba(0,0,0,0.8);
  background:#F6E99A;
  max-width: 400px;
  border:1px solid #CCC17F;
  display: inline-block;
  width:auto;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
  -webit-box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
  -o-box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
  -ms-box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
  z-index: 2000;
  .close-icon{
    position: absolute;
    top:0px;
    right:5px;
    color:#333;
    font-size: 35px;
    text-decoration: none;
    outline:none
  }
  &.help-text-top-right{
    top:50px;
    right:100px;
  }
  &.help-text-bottom-right{
    bottom:50px;
    right:100px;
  }
  &.help-text-bottom-left{
    bottom:50px;
    left:100px;
  }  
}

/* ONLINE STATUS LIGHT */
.user-image {
  display: inline-block;
  position: relative;

  &:before {
    left: 2px;
    bottom: 2px;
    z-index:100;
    content: "";
    position: absolute;
    width: 24%;
    height: 24%;

    .user-information & {
      width: 8%;
      height: 8%;
    }
  }

  &.online:before {
    background-color: green;
    box-shadow: 0 0 3px white, 0 0 3px green;
  }

  &.busy:before {
    background-color: orange;
    box-shadow:  0 0 3px white, 0 0 3px orange;
  }

  &.offline:before {
    background-color: #780000;
    box-shadow:  0 0 3px white, 0 0 3px #780000;
  }
}
