/*
 *= require bootstrap_and_overrides
 */
@import "config.css.less";

body {
  background: #fff url(/system/noise.png);
}

.navbar {
  .actionbar-user {
      line-height: 22px * @baseLineHeight;

    img {
      height: 22px;
      vertical-align: middle;
      border: 1px solid @grayLight;
    }
  }

  i[class^="icon-"] {
    font-size: 22px;
  }
}