/*
 *= require bootstrap_and_overrides
 */
@import "config.css.less";

body {
  background: @white;
  overflow-y:scroll;
}

.dropdown-menu {
  background: @brandColorLighter;
}

// error handling in forms
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

// error handling end

.overlay-background {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,0.2);

  .overlay-content {
    background: white;
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 30px;
    border: 1px solid #000;
  }
}