/*
*= require main
*= require_self
*= require notifications
*/
@import "config.css.less";

ul.news-list > li {
  border: 1px solid #eaeaea;
  margin-top: -1px;

  &:nth-child(odd) {
    background-color: #eaeaea;
  }
}

.news {
  .klu-title {
    display: block;
  }
}

.news-notification.contribution {
  padding-top: 28px;
  padding-bottom: 20px;
  min-height: @baseFontSize * @baseLineHeight * 2;

  .contribution-delete, .news-view {
    color: lighten(desaturate(@brandColor, 20%), 20%);
    .transition(color 0.3s ease);
  }

  &:hover {
    .contribution-delete, .news-view {
      color: @linkColor;
    }
  }

  .tiny-klu {
    margin: 0;
  }

  header time {
    right: 5px;
    bottom: 1px;
    color: #999;
    text-align: right;
  }

  .well {
    margin: 0;
  }

  .contribution-delete {
    top: 40px;
    right: 5px;
  }

  .status {
    padding-left: 26px;
    position: relative;

    i.icon-bullhorn {
      color: @brandColorGrey;
      position: absolute;
      left: @verticalRhythm - 4;
      top: @verticalRhythm - 4;
    }
  }

  .news-view {
    position: absolute;
    right: 5px;
    top: 12px;

    &:hover {
      text-decoration: none;
    }
  }

  .news-follow-reaction {
    margin-top: 9px;
  }

  h4 {
    margin: 0;
    font-size: @baseFontSize;
  }
  .news-notification-top {
    font-size: @baseFontSize - 2;    
    position: absolute;
    left: 14px;
    top: 6px;
  }
}