.search-show{
  h2,h3{
    color: $brand-color-red;
    font-family: $brand-font-bold;
    font-size: rem-calc(20);
  }
  h3{
    color: $brand-color-blue;
  }
  .avatar-name{
    color: $color-black-title;
  }
}
