.talks-new,
.talks-create,
.talks-edit,
.talks-update{
  
  input[type="checkbox"]{
    margin-right:5px !important
  }
  .date-time-picker-row{
    .columns{
      padding-right: 13px !important;
      &:last-child{
        padding-right: 0 !important
      }
    }
  }
  .link-delete{
    float:right
  }
}


.talks-show{

  // for testing
  .talk-state{
    position: fixed;
    bottom:0;
    left: 0;
    background: #fff;
    width: 100%;
    color: #aaa;
    padding: 5px;
    font-size: rem-calc(12);
    z-index: 1000;
    border-top:1px solid #aaa;
  }

  .talk-title-box{
    background: rgba(0,0,0,0.5);
    margin-top: 12px;
    padding:16px 0 2px 0;
    .talk-venue-title{
      display: inline-block;
      a,a:hover,a:focus{
      font-family: 'eaglelight';
      color: #fff;
      letter-spacing: 1px;
      font-size: rem-calc(13);
      }      
    }
    .talk-title{
      color: #fff;
      font-size: rem-calc(39);
      line-height: 1;
      margin: 31px 0 5px 0;
    }
    .talk-teaser{
      color: #fff;
      font-family: 'eaglelight';
      font-size: rem-calc(20);
      line-height: 1;
      margin: 0;
    }
    .talk-date-time{
      margin: rem-calc(29) 0 0 0;
      font-family: 'eaglelight';
    }
  }

  .talk-countdown{
    margin-top: 20px;
    background: rgba(0,0,0,0.5);
    padding: 40px 0;
    .cd-text,.cd-minutes{
      display: inline-block;
      font-family: 'eaglebook';
      font-size: rem-calc(14);
      .red{
        color: $brand-color-red;
      }
    }
    .cd-watch{
      display: inline-block;
      position: relative;
      font-family: 'eaglelight';
      font-size: rem-calc(40);
      margin: 0 rem-calc(13);
    }
  }

  .talk-timeline-box{
    margin-top: 15px;
    background: rgba(0,0,0,0.5);
    font-family: 'eaglebook';
    font-size: rem-calc(15);
    padding: 0 0 9px 0;
    .talk-timeline{
      background: rgba(0,0,0,0.8);
      width: 100%;
      height: 10px;
      margin:0 0 14px;
      .talk-timeline-progress{
        background: $brand-color-red;
        width: 100%;
        height: 100%;
      }
    }
    .talk-state-info{
      position: relative;
      width: 100%;
      .talk-timecounter{
        position: absolute;
        right: 4px;
        top: 0;
        font-size: rem-calc(12);
      }
      .talk-state-bullet{
        display: inline-block;
        height: 10px;
        width: 10px;
        margin-right: 5px;
        background: $brand-color-red;
        border-radius: 50%;
      }
      .record-text{
       color: $brand-color-red;
      }
    }
  }

  .talk-talkers-box{
    position: relative;
    background: black;
    padding:rem-calc(8) rem-calc(8);
    color: #fff;
    .avatar{
      .avatar-box{
        width: 140px;
      }
      .avatar-name{
        color: white
      }
      .avatar-image{
        display: inline-block;
      }
      &.avatar-host{
        .avatar-bg{
          fill: $brand-color-red;
        }
      }
    }
    .mute-stream-box{
      position: absolute;
      right: 6px;
      bottom: 4px;
      > div{
        display: inline-block;
        font-size: rem-calc(14);
        font-family: 'eaglebook';
        span{
          color: $brand-color-green;
        }
      }
    }
  }

  .talk-visitors-action-box{
    margin-top: 37px
  }

  .talk-host-and-participants-action-box{
    position: relative;
    background: black;
    margin-top: 40px;
    height: 88px;
    padding-top: 10px ;
    padding-bottom: 10px;

    .talkers-action-box{
      .mic-sign-box{
        display: inline-block;
        position: absolute;
        top: -45px;
        margin-left: -35px;
        left: 50%;
        width: 78px;
        .icon-octa-full{
          position: absolute;
          top: 0;
          left:0;
          font-size: rem-calc(70);
          color: black;
        }
        .icon-octagon{
          position: absolute;
          top: 0;
          left:0;
          font-size: rem-calc(70);
          color: $brand-color-green;
        }
        .icon-mic{
          position: absolute;
          top: 20px;
          left: 20px;
          color: $brand-color-green;
          font-size: rem-calc(30);
        }
        .yellow{
          color: $brand-color-yellow;
        }
      }
      .button-box{
        height: 35px;
        > div{ 
          position: absolute;
          left: 50%;
          top: -7px;
          margin-left: 39px;
          font-family: 'eaglebook';
          font-size: 12px;
          color: $brand-color-green;
          cursor: pointer;
          &#onair{
            cursor: default;
          }
        }
      }
      .tmp-mute-box{
        position: absolute;
        top: 5px;
        left: 10px;
        font-size: rem-calc(11);
        font-family: 'eaglelight';
        > span{
          cursor: pointer;
        }
      }
    }

    .chat-input-box{
      .input-box{
        position: relative;
      }
      .icon-bubble-multi{
        position: absolute;
        left: 7px;
        top:3px;
        color: $brand-color-green;
      }
      input{
        width: 100%;
        background: $brand-color-creme;
        border: none;
        height: 23px;
        font-size: rem-calc(11);
        color: rgba(0,0,0,0.7);
        padding:0px 10px 0 29px;
        &:focus{
          border: none;
          outline: none;
        }
      }
    }
    .flash-box{
      height:0;
      margin-top: 25px;
      margin-bottom: 15px;
      background: #000;
      overflow: hidden;
      transition: height .4s, padding .4s;
      .manual-box{
        display: inline-block;
        vertical-align: top;
        color:white;
        margin-left: 15px;
        width: 300px;
      }
      .flash-manual-title{
        font-family: 'eaglebook';
        margin-bottom: 3px;
        color: $brand-color-yellow;
        font-size: rem-calc(12);
        line-height: 1.1
      }

      &.flash-box-open{
        height: 170px;
        padding: 15px 0;
      }
      .button-vr{
        border-color: $brand-color-yellow;
        color: $brand-color-yellow;
        font-size: rem-calc(12);
        padding: 8px 0;
        min-width: 126px;
        margin-bottom: 5px;
      }
      .flash-content{
        margin-bottom: 10px;
      }
      .desc-bold{
        color: $brand-color-yellow;
        font-family: 'eaglebook';
        font-size: rem-calc(12)
      }
      a{
        color: $brand-color-yellow;
        &:hover,&:focus{
          color: $brand-color-yellow;
        }
      }
    }

    .button-audio-settings{
      position: absolute;
      right: 6px;
      top: 0;
      font-family: 'eaglebook';
      font-size: rem-calc(12);
      cursor: pointer;
      text-shadow: 1px 1px 2px rgba(0,0,0,0.3), -1px -1px 1px rgba(0,0,0,0.3);
    }
  }

  .download{
    margin-bottom: 15px;
    ul{
      display: inline-block !important
    }
  }
  .button-join-discussion{
    width: 100%;
    background: $brand-color-green;
    &:hover,&:focus{
      background: $brand-color-green;
    }
  }

  .vr-tabs dd{
    width:33.33%;
  }

  #talk-tab-discussion{
    background: $brand-color-creme;
    .chat-message{
      max-width:100%;
      position: relative;
      padding-top: 12px;
      padding-bottom:11px;
      &:nth-child(2n){
        background: $brand-color-cremelight;
      }
      .message-name{
        float:left;
        width: 101px;
        font-size: rem-calc(12);
        font-family: 'eaglebook';
        color: rgba(0,0,0, 0.6);
      }
      .message-content{
        padding-right: 101px;
        font-size: rem-calc(11);
        color: rgba(0,0,0, 0.6);
      }
      .message-time{
        position: absolute;
        right: 0.9375rem;
        top: 3px;
        font-size: rem-calc(8);
        color: rgba(0,0,0, 0.5);
      }
    }
  }
  #talk-tab-participants{
    padding-top: 0 !important;
    .participants-box{
      padding-bottom: 20px;
      background: rgba(0,0,0,0.8);
      h3{
        font-size: rem-calc(13);
        color: $brand-color-creme;
        margin-top: 24px;
      }
      .avatar-name{
        margin-top: -10px;
      }
      .expecting_promotion{
        .avatar-bg{
          fill: $brand-color-yellow;
        }
      }
      .accepting_promotion{
        .avatar-bg{
          fill: $brand-color-yellow;
        }
      }
    }
  }

}


