.talks-show,
.talks-edit,
.talks-new{

	.talk-upper-block {
	  background-repeat: no-repeat;
	  background-position: center center;
	  background-size: cover;
	  padding-top: 55px;
	  color: #fff;
	}

	.talk-title-box{
	  background: rgba(0,0,0,0.3);
	  padding:1rem 0.5rem 4rem 0.5rem;
	  .talk-title{
	  	color: #fff;
	  }
	}

	h3.talk-teaser{
		color: #fff;
	}

	.talk-talkers-box{
	  margin-top: 20px;
	  background: rgba(0,0,0,0.5);
	  padding:1rem 0.5rem 4rem 0.5rem;
	  color: #fff;
	}

}

// MEDIUM TALK BOX
.talk-medium-box{
  position: relative;
  .box-actions{
    position: absolute;
    right: 0;
    top: 0;
    a{
      display: block;
      width: 28px;
      height: 28px;
      padding:0;
      text-align: center;
      background: #F6F4EC;
      border:1px solid #999;
      color: #000;
    }
  }
}