.talks-new,
.talks-create,
.talks-edit,
.talks-update{

  input[type="checkbox"]{
    margin-right:5px !important
  }
  .date-time-icker-row{
    .columns{
      padding-right: 13px !important;
      &:last-child{
        ng-right: 0 !important
      }
    }
  }
  .link-delete{
    float:right
  }
}


.talks-show{

  // for testing
  .talk-state{
    position: fixed;
    bottom:0;
    left: 0;
    background: #fff;
    width: 100%;
    color: #aaa;
    padding: 5px;
    font-size: rem-calc(12);
    z-index: 1000;
    border-top:1px solid #aaa;
  }

  .generic-actions-box{
    position: absolute;
    right: -89px;
    top: 27px;
    .action-toggle{
      height: 38px;
      width: 38px;
      position: relative;
      display: block;
      margin-bottom: 3px
    }
    .icon-cog{
      color: $brand-color-red;
      font-size: rem-calc(18);
      height:100%;
      width: 100%;
      padding: 11px 10px 7px 10px;
      display: block;
      background: black;
    }
    #action-links-list{
      height:100px;
      /*width:80px;*/
      overflow: hidden;
      &.hide{
        height:0;
      }
      li{
        display: block;
        margin-top: 2px;
        a{
          color: $brand-color-red;
          font-size: rem-calc(16);
          font-family: 'eaglebook';
          height: 38px;
          padding: 7px 10px;
          display: block;
          background: black;
        }
      }
    } 
  }

  .talk-title-box{
    position: relative;
    background: rgba(0,0,0,0.5);
    margin-top: 15px;
    padding:0px 0 2px 0;
    .breadcrumbs-box{
      position: relative;
      padding:6px 13px;
      background: rgba(0,0,0,0.6);
      color:white;
      font-family: 'eaglelight';
      a{
        font-size: rem-calc(14);
        color: inherit;
        font-family: inherit;
        .icon-person{
          font-size: rem-calc(12);
          vertical-align: middle;
          position: relative;
          top: 2px;
        }
        .infinity-sign{
          font-size: rem-calc(24);
          line-height:12px;
          vertical-align: middle;
          position: relative;
          top: 0px;
        }
        &:hover,&:focus{
          color: darken(white,5%);
        }
      }
      .bc-delimiter{
        position: relative;
        font-size: rem-calc(18);
        display: inline-block;
        margin:0 3px;
      }
      .type-name{
        position: absolute;
        bottom:-26px;
        left:10px;
        font-family: 'eaglebook';
        font-size: rem-calc(14)
      }
    }
    .talk-title{
      color: #fff;
      font-size: rem-calc(39);
      line-height: 1;
      margin: 20px 0 3px 0;
      padding: 0 47px;
      text-shadow:0 0 7px rgba(0,0,0,0.4);
    }
    .talk-teaser{
      color: #fff;
      font-family: 'eaglelight';
      font-size: rem-calc(20);
      line-height: 1;
      margin: 0;
      text-shadow:0 0 2px rgba(0,0,0,0.5);
    }

    @media screen and (min-width: 700px) {
      .talk-teaser {
        padding: 0 120px;
      }
    }

    .talk-date-time{
      margin: rem-calc(10) 0 0 0;
      font-family: 'eaglelight';
      font-size: rem-calc(14);
    }
    .talk-archived-actions-box{
      position: absolute;
      right: 10px;
      bottom: 40px;
      .embed-link-box,
      .download-link-box{
        display:inline-block;
      }
    }
  }

  #modal-download{
    ul{
      display: inline-block;
    }
  }

  .embed-help-text{
    font-family: 'eaglelight';
    font-size: rem-calc(15);
    color: $brand-color-red;
  }

  .talk-countdown{
    margin-top: 20px;
    background: rgba(0,0,0,0.5);
    padding: 40px 0;
    .cd-text,.cd-minutes{
      display: inline-block;
      font-family: 'eaglebook';
      font-size: rem-calc(14);
      .red{
        color: $brand-color-red;
      }
    }
    .cd-watch{
      display: inline-block;
      position: relative;
      font-family: 'eaglelight';
      font-size: rem-calc(40);
      margin: 0 rem-calc(13) 0 rem-calc(10);
      width: 168px;
      text-align: left;
    }
  }

  .talk-timeline-box{
    margin-top: 15px;
    font-family: 'eaglebook';
    font-size: rem-calc(15);
    .reload-message{
      background:rgba(86,178,167,0.7);
      color: white;
      font-family: 'eaglebook';
      font-size:rem-calc(26);
      padding: rem-calc(12) 10px rem-calc(10) 10px;
    }
    .talk-live-timeline{
      background: rgba(0,0,0,0.5);
      padding: 0 0 9px 0;
      .talk-timeline{
        background: rgba(0,0,0,0.8);
        width: 100%;
        height: 10px;
        margin:0 0 14px;
        .talk-timeline-progress{
          background: $brand-color-red;
          width: 100%;
          height: 100%;
        }
      }
    }    
    .talk-state-info{
      position: relative;
      width: 100%;
      .talk-timecounter{
        position: absolute;
        right: 4px;
        top: 0;
        font-size: rem-calc(12);
      }
      .talk-state-bullet{
        display: inline-block;
        height: 10px;
        width: 10px;
        margin-right: 5px;
        background: $brand-color-red;
        border-radius: 50%;
      }
      .record-text{
       color: $brand-color-red;
      }
    }
    .mute-stream-box{
      position: absolute;
      left: 12px;
      bottom: 1px;
      span{
        font-size: rem-calc(16);
        color: $brand-color-red;
        cursor: pointer;
      }
    }
  }

  .talk-talkers-box{
    position: relative;
    background: rgba(0,0,0,0.85);
    padding:rem-calc(23) rem-calc(23);
    color: #fff;
    .avatar{
      .avatar-box{
        width: 140px;
      }
      .avatar-name{
        color: white
      }
      .avatar-image{
        display: inline-block;
      }
      &.avatar-host{
        .avatar-bg{
          fill: $brand-color-red;
        }
      }
    }
  }

  .talk-visitors-action-box{
    margin-top: 37px
  }

  .talk-host-and-participants-action-box{
    position: relative;
    background: black;
    margin-top: 40px;
    height: 88px;
    padding-top: 10px ;
    padding-bottom: 10px;

    .talkers-action-box{
      .mic-sign-box{
        display: inline-block;
        position: absolute;
        top: -45px;
        margin-left: -35px;
        left: 50%;
        width: 78px;
        .icon-octa-full{
          position: absolute;
          top: 0;
          left:0;
          font-size: rem-calc(70);
          color: black;
        }
        .icon-octagon{
          position: absolute;
          top: 0;
          left:0;
          font-size: rem-calc(70);
          color: $brand-color-green;
        }
        .icon-mic{
          position: absolute;
          top: 20px;
          left: 20px;
          color: $brand-color-green;
          font-size: rem-calc(30);
        }
        .yellow{
          color: $brand-color-yellow;
        }
      }
      .button-box{
        height: 35px;
        > div{
          position: absolute;
          left: 50%;
          top: -7px;
          margin-left: 39px;
          font-family: 'eaglebook';
          font-size: 12px;
          color: $brand-color-yellow;
          cursor: pointer;
          &#onair{
            cursor: default;
          }
          &.button-decline{
            top: 23px;
          }
          #onair{
            color: $brand-color-red;
          }
        }
      }
      .tmp-mute-box{
        position: absolute;
        //tmp hide
        height:0;
        overflow: hidden;
        top: 5px;
        left: 10px;
        font-size: rem-calc(11);
        font-family: 'eaglelight';
        > span{
          cursor: pointer;
        }
      }
    }

    .chat-input-box{
      .input-box{
        position: relative;
      }
      .icon-bubble-multi{
        position: absolute;
        left: 7px;
        top:3px;
        color: $brand-color-green;
      }
      input{
        width: 100%;
        background: $brand-color-creme;
        border: none;
        height: 23px;
        font-size: rem-calc(11);
        color: rgba(0,0,0,0.7);
        padding:0px 10px 0 29px;
        &:focus{
          border: none;
          outline: none;
        }
      }
    }
    .flash-box{
      height:170px;
      padding: 15px 0;
      margin-top: 25px;
      margin-bottom: 15px;
      background: #000;
      overflow: hidden;
      @include transition(height, .4s, ease-in-out);
      @include transition(padding, .4s, ease-in-out);
      .manual-box{
        display: inline-block;
        vertical-align: top;
        color:white;
        margin-left: 15px;
        width: 300px;
      }
      .flash-manual-title{
        font-family: 'eaglebook';
        margin-bottom: 3px;
        color: $brand-color-yellow;
        font-size: rem-calc(12);
        line-height: 1.1
      }

/*      &.flash-box-open{
        height: 170px;

      }*/
      .button-vr{
        border-color: $brand-color-yellow;
        color: $brand-color-yellow;
        font-size: rem-calc(12);
        padding: 8px 0;
        min-width: 126px;
        margin-bottom: 5px;
      }
      .flash-content{
        margin-bottom: 10px;
      }
      .desc-bold{
        color: $brand-color-yellow;
        font-family: 'eaglebook';
        font-size: rem-calc(12)
      }
      a{
        color: $brand-color-yellow;
        &:hover,&:focus{
          color: $brand-color-yellow;
        }
      }
    }

    .button-audio-settings{
      position: absolute;
      right: 6px;
      top: 0;
      font-family: 'eaglebook';
      font-size: rem-calc(12);
      cursor: pointer;
      text-shadow: 1px 1px 2px rgba(0,0,0,0.3), -1px -1px 1px rgba(0,0,0,0.3);
    }
  }

  .modal-download{
    ul{
      display: inline-block !important
    }
  }
  .button-join-discussion{
    width: 100%;
    background: $brand-color-green;
    &:hover,&:focus{
      background: $brand-color-green;
    }
  }

  .vr-tabs dd{
    width:33.33%;
  }

  .description-content{
    padding-top:0 !important;
    .row{
      padding-top: 12px;
      background: rgba(0,0,0,0.8);
      p{
        color: white
      }
    }
  }

  .discussion-content{
    background: $brand-color-creme;
    .chat-message{
      max-width:100%;
      position: relative;
      padding-top: 12px;
      padding-bottom:11px;
      &:nth-child(2n){
        background: $brand-color-cremelight;
      }
      .message-name{
        float:left;
        width: 101px;
        font-size: rem-calc(12);
        font-family: 'eaglebook';
        color: rgba(0,0,0, 0.6);
      }
      .message-content{
        padding-right: 101px;
        font-size: rem-calc(11);
        color: rgba(0,0,0, 0.6);
      }
      .message-time{
        position: absolute;
        right: 0.9375rem;
        top: 3px;
        font-size: rem-calc(8);
        color: rgba(0,0,0, 0.5);
      }
    }
  }
  .participants-content{
    padding-top: 0 !important;
    .participants-box{
      padding-bottom: 20px;
      background: rgba(0,0,0,0.8);
      h3{
        font-size: rem-calc(13);
        color: $brand-color-creme;
        margin-top: 24px;
      }
      .avatar-name{
        margin-top: -10px;
      }
      .expecting_promotion{
        .avatar-bg{
          fill: $brand-color-yellow;
        }
      }
      .accepting_promotion{
        .avatar-bg{
          fill: $brand-color-yellow;
        }
      }
    }
  }
}

// EXPLORE TALKS
.talks-index,
.talks-recent,
.talks-featured,
.talks-popular{
  h2 {
    color: $brand-color-blue;
    font-size: rem-calc(14);
    font-family: 'eaglelight';
    margin-bottom: 40px;
  }
  h3{
    color: $brand-color-red;
    display: inline;
  }
  .talk-medium-box{
    margin-right:0 !important;
    .box-actions{
      display: none !important;
    }
  }
  .title-box{
    position: relative;
    margin-bottom: 10px;
    .see-all-link{
      bottom: 2px;
    }
  }
  .see-all-link{
    font-size: rem-calc(11);
    display: inline-block;
    color: $brand-color-blue;
    position: absolute;
    right: 0;
    bottom: -10px;
  }
}
