.users-show{
  .header-box{
    position: relative;
    margin-top: 65px;
    background: rgba(0,0,0,0.8);
    padding: 30px 17px 20px 24px;
    .link-edit{
      position: absolute;
      top: 10px;
      right: 10px;
      font-family: $brand-font-bold;
      font-size: rem-calc(13);
      color: white;
    }
    .align-box{
      position: relative;
      width: 100%;
      .avatar-box{
        width: 40%;
        @media #{$small-only} {width: 100%;}
        display: inline-block;
        vertical-align: top;
        .avatar{
          max-width: 185px;
          text-align: center;
          .avatar-image{
            display: block;
            margin-bottom: 8px;
          }
          .user-name{
            font-size: rem-calc(26);
            line-height: 1.4;
            display: inline;
            border-bottom: 3px solid white;
          }
        }
      }
      .info-links-box{
        width: 60%;
        @media #{$small-only} {width: 100%;}
        display: inline-block;
        vertical-align: bottom;
        .info-box{
          font-family: $brand-font-light;
          font-size: 19px;
          color: rgba(255, 255, 255, 0.56);
          line-height: 1.2;
          margin-bottom: 10px;
          .button-summary-help{
            padding: 10px 15px;
            background: rgba(255,255,255,0.5);
            color: white;
            font-family: $brand-font-light;
            margin-bottom: 46px;
            display: block;
            text-align: center;
          }
        }
        .links-box{
          padding: 9px 14px 8px 14px;
          background: black;
          .anker-links{
            margin:0 -0.9% 0 -0.9%;
            li{
              vertical-align: top;
              display: inline-block;
              width: 33.3%;
              padding:0 0.9% 0 0.9%;
              a,.text{
                color: white;
                font-family: $brand-font-bold;
                font-size: rem-calc(15);
              }
            }
          }
          .action-links{
            margin:0 -0.9% 0 -0.9%;
            li{
              vertical-align: top;
              display: inline-block;
              width: 50%;
              &.visitor-view{
                width: 100%;
              }
              padding:0 0.9% 0 0.9%;
              a{
                display: inline-block;
                height: 40px;
                width: 100%;
                background: transparent;
                color: white;
                border: 1px solid white;
                text-align: center;
                font-family: $brand-font-bold;
                font-size: rem-calc(15);
                padding: 14px 0 0 0;
                line-height: 1;
                vertical-align: top;
                span{
                  vertical-align: top;
                  top: -6px;
                  font-size: rem-calc(24);
                  margin-right: 0
                }
                &.button-podcast{
                  border-radius: 0;
                  padding: 14px 0 0 0;
                  span{
                    font-size: rem-calc(15);
                    margin-right: 4px;
                    top: -1px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .live-talks-box,
  .upcoming-talks-box,
  .archived-talks-box,
  .listen-later-box,
  .user-series-box{
    margin-top: 19px;
    border-top: 3px solid $color-black-title;
    padding-top: 14px;
    h3{
      color: $color-black-title;
      font-size: rem-calc(19);
      margin-bottom: 16px;
    }
    .link-more{
      float:right;
      font-size: rem-calc(19);
      font-family: $brand-font-bold;
      margin-top: -5px
    }
  }
  .user-series-box{
    h3{
      margin-bottom: 30px
    }
  }
  .live-talks-box{
    border-color: $brand-color-red;
    h3{
      color: $brand-color-red;
    }
    .onair{
      color: $brand-color-red;
      font-family: $brand-font-bold;
      font-size: rem-calc(19);
    }
  }

  .description-box{
    border-top: 3px solid $color-black-title;
    padding: 14px 0;
    .align-box{
      position: relative;
      h3{
        color: $color-black-title;
        font-size: rem-calc(19);
      }
      font-family: $brand-font-light;
      font-size: rem-calc(15);
      line-height: 1.2;
      p{
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
        a{
          text-decoration: underline;
          &:focus,&:hover{
            text-decoration: underline;
            color:lighten(black,20%);
          }
        }
      }
      .desc-edit{
        position: absolute;
        top: 1px;
        right: 0;
        font-family: $brand-font-bold;
        font-size: rem-calc(19);
      }
    }
  }

  .welcome-block{
    padding:35px 0;
    h3{
      color: $color-black-title;
      font-size: rem-calc(38);
    }
    h4{
      color: #1a1a1a;
      font-size: rem-calc(15);
      font-family: $brand-font-light;
      margin: 0 0 22px 0;
    }
    .content-box{
      background: rgba(255, 255, 255, 0.5);
      @include transition('background 0.2s');
      &:hover{
        background: rgba(255,255,255,0.7);
      }
      padding: 29px 20px;
      font-family: $brand-font-light;
      border-bottom: 1px solid rgba(0,0,0,0.1);
      &:last-of-type{
        border: none;
      }
      font-size: rem-calc(15);
      line-height: 1.3;
      h5{
        font-family: $brand-font-bold;
        color: $color-black-title;
      }
      li{
        font-size: inherit;
        line-height: 1.3;
      }
      a{
        img{
          @include box-shadow(0,0,5px,rgba(0,0,0,0.1));
          @include transition('box-shadow 0.2s');
          &:hover,&:active,&:focus{
            @include box-shadow(0,0,10px,rgba(0,0,0,0.2));
          }
        }
      }
    }
  }

}


.users-new,
.users-create,
.users-edit,
.users-update{

  .form-top-box{
    padding-top: 30px;
  }
  .user-portrait-img{
    position: relative;
    top: 6px;
    width:143px;
    height: 143px;
  }

  .button-profile-img{
    margin: 20px 0 15px 0
  }
  #user_account_about{
    height: 200px
  }

  .input.file{
    @extend .soft-hide;
  }

  .text-area{
    height: 450px;
  }

  #user_summary{
    height: 128px
  }
  .ckeditor.optional{
    font-family: $brand-font-light;
    font-size: rem-calc(30);
  }
}
