// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.extra_padding { padding: 10px; }

.user-content > nav {
	li {
		max-width: 188px;
		height: 188px;
		font-size: 188px;
		line-height: 188px;
		text-align: center;

		a {
			color: lightgray;
			vertical-align: middle;
			display: block;
			margin-top: -35%;
		}

		a:hover {
			text-decoration: none;
		}

		a[class^="icon-"],
		a[class*=" icon-"] {
			padding-top: 33%;
		}
	}
}

.user-image {
	height: 180px;
	line-height: 180px;
	vertical-align: middle;
}