/*
 *= require main
 *= require klus
 *= require contributions
 *= require_self
 */

.strong {
	font-weight: bold;
}

p.wichtig {
	.strong;
}

@import "config.css.less";

.extra_padding { padding: 10px; }

.user-container {
	position: relative;
	margin-top: @verticalRhythm * 3;

	nav.user-main-nav {
		margin-bottom: @verticalRhythm * 2;

		ul {
			.clearfix;
		}

		li {
			width: 13%;
			float: left;
			height: 88px;
			padding-top: 11px;
			font-size: 66px;
			line-height: 1;
			text-align: center;
			vertical-align: baseline;
			overflow:hidden;
			margin: 0 6%;
			border-radius: 30px;

			&.active, &.active:hover {
				background: @linkColor;
				
				a {
					color: @white;
					text-shadow: none;
				}
			}

			&:hover {
				background: lighten(@linkColor, 30%);
				.transition(all 0.3s ease);

				a {
					color: @brandColorDarker;
					text-shadow: 2px 2px 4px #aaa;
				}
			}


			a {
				color: @linkColor;
				vertical-align: baseline;
				display: block;
			}

			a:hover {
				text-decoration: none;
			}

			a[class^="icon-"],
			a[class*=" icon-"] {
			}
		}
	}

	.user-information {
		position: relative;
		
		.user-information-right > header {
			margin-bottom: @verticalRhythm * 2;
		}

		.user-image {
			display: block;
			width: 17.5%;
			float: left;
			margin-right: 20px;

			img {
				display: block;
				max-height:100%;
				overflow:hidden;
				max-width: 100%
			}
		}
		

		.user-information-right {
			width: 100% - 17.5%;
			float: left;
			margin-left: -20px;
			padding-left: 20px;
		}


		h3, h4 {
		font-size: @baseFontSize;
		}

		h2, h3, h4 {
			margin-top: 0;
		}

		h2 {
			line-height: 1;
			display: inline-block;
		}

		.user-activity {
			display: inline-block;
			vertical-align: top;
			margin-left: 4px;
			margin-top: 3px;

			&.badge {
				background: @brandColor;
			}

			i {
				margin-right: 3px;
			}
		}

		.user-about {
			font-style: italic;
			overflow:hidden;
			height: auto;
			margin-bottom: @verticalRhythm;

			&.jqueryfied {
				height: @baseFontSize * @baseLineHeight * 2;
			}

			p:first-child {
				margin-top: 0;
			}
			p:last-child {
				margin-bottom: 0;
			}
		}

		.user-information-more {
			font-size: @baseFontSize - 2;
			height: auto;
			overflow: hidden;
			position: relative;

			&.jqueryfied.gradient:after {
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				height: @baseLineHeight * (@baseFontSize - 2);
				#gradient.vertical(rgba(255,255, 255,0), @wellBackground);
			}

			h4 {
				font-size: inherit;
				font-weight: bold;
				margin: 0 0 @verticalRhythm;	
			}
		}
	}

	.medium-klu {
		.set-rows(4);
	}

	.user-bookmarks	.medium-kluuu:nth-child(even) {
		margin-left: @gridColumnWidth + @gridGutterWidth;
	}

	.user-bookmarks {
		.small-klu {
			.set-rows(4);
		}
	}

	.user-edit-link {
			position: absolute;
			left: @verticalRhythm + 5 + 1;
			top: -(@baseFontSize * @baseLineHeight * 1);
			font-size: @baseFontSize - 3;
			color: grey;

			&:hover {
				color: @linkColor;
			}
	}
}



.status {
	&.contribution {
		margin-top: -@baseLineHeight * @baseFontSize;
		padding-left: 70px;
		padding-bottom: @baseLineHeight * @baseFontSize * 2;

		p {
			margin: @verticalRhythm*2 0;
		}

		p:first-child {
			margin-top: 0;
		}

		p:last-child {
			margin-bottom: 0;
		}
		
		.contribution-delete {
			top: @baseLineHeight * @baseFontSize + (@baseLineHeight * @baseFontSize - 2) + @verticalRhythm ;
		}

		.user-new-status {
			position: absolute;
			left: 67px;
			bottom: 7px;
		}

		time {
			position: absolute;
			right: 0;
			top:@baseLineHeight * @baseFontSize + 3px
		}
	}
	.icon-comment-alt {
		font-size: 45px;
		position: absolute;
		display: block;
    left: 10px;
    top: @baseLineHeight * @baseFontSize;
    line-height: 1;
	}
}

ul.user-nav.unstyled {
	margin-left: 0;
	margin-top: 5px;

		li {
		margin-left: 8px;

			.btn {
				display: block;
			}

		&:last-child {
			margin-left: 0;
		}
	}
}

.user-show-more {
	position: absolute;
	right: 0;
	bottom: 0;
	font-size: @baseFontSize - 2;
	bottom: 3px;
	right: @verticalRhythm + 5;
}

.user-meta-data {
	font-size: @baseFontSize - 2;
	line-height: @baseLineHeight + 0.2;

	& > ul {
		& > li {
			margin: @verticalRhythm*2 0;

			&:first-child {
				margin-top: 0;
			}
		}
	}
	dt {
		margin-top: @verticalRhythm * 2;

		&:first-child {
			margin-top: 0;
		}

		&.user-languages {
		display: inline;

		& + dd {
			display: inline;
			ul, li {
				display: inherit;
				}
			}
		}	
	}
	dd {
		margin-bottom: @verticalRhythm * 2;
	}
}

.user-annotation {
	color: lighten(@textColor, 40%);
	padding-top: @verticalRhythm;
}


/* USER THUMBNAIL */
.user-thumbnail{
	position:relative;
}

.user-thumbnail-link{
	position: relative;
	width:100%;
	height:100%;
	display: block;
	img{
		float:left;
		margin-right:7px;
	}
	&:hover {
		text-decoration:none;
	}
	.user-thumbnail-name{
		float:left;		
		margin-top:3px;
		max-width:140px;
	}

}

.user-thumbnail:hover{
	background:rgba(0,0,0,0.03);
	box-shadow:0 0 3px rgba(0,0,0,0.1);
	-moz-box-shadow:0 0 3px rgba(0,0,0,0.1);
	-webkit-box-shadow:0 0 3px rgba(0,0,0,0.1);
	-ms-box-shadow:0 0 3px rgba(0,0,0,0.1);
}