@import 'foundation/functions';
@import "grids_variables_mixins/mixins";
$include-html-visibility-classes: true;
@import 'settings';
@import 'foundation';
@import 'grids_variables_mixins/ci_variables';
@import 'grids_variables_mixins/velvet_ci';
@import 'grids_variables_mixins/vr_icons';
@import 'shared/footer';
// BODY
html,
body {
  -webkit-font-smoothing: antialiased;
  font-family: $body-font;
}

body {
  color: $dark-gray;
  background: $gray;
}

.avatar-image {
  // img {
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
  // margin: 10px 0 10px;
  // }
}

a:hover {
  text-decoration: underline;
}

.row {
  max-width: 73.5rem;
}

.button-blue {
  background: $light-blue;
  font-family: $headline-font;
  &:hover {
    background: $blue;
    text-decoration: none;
  }
}

.section {
  padding: 24px;
  background: white;
  padding: 48px 12px;
  @media #{$medium-up} {
    padding: 60px 36px;
  }
  @media #{$large-up} {
    padding: 94px 48px;
  }
  .logo {
    font-size: 60px;
    color: $red;
  }
  p.lead {
    color: $light-blue;
    font-weight: 300;
  }
  .button {
    max-height: 48px;
    border: 2px solid $light-blue;
    border-radius: 24px;
    background: none;
    font-family: $headline-font;
    padding-top: 12px;
    font-size: 18px;
    margin-bottom: 48px;
    color: $light-blue;
  }
  .button-adv {
    font-family: $headline-font;
    color: $light-blue;
    font-size: 18px;
    text-decoration: underline;
  }
  h1 {
    font-size: rem-calc(24);
    line-height: rem-calc(28);
    color: $light-blue;
    font-family: $headline-font;
    margin-bottom: 48px;
    @media #{$medium-up} {
      font-size: rem-calc(28);
      line-height: rem-calc(32);
    }
    @media #{$large-up} {
      font-size: rem-calc(48);
      line-height: rem-calc(52);
    }
  }
}

.welcome-search-field::-webkit-search-cancel-button {
  position: relative;
  right: 40px;
  color: white;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: rgba($light-blue, .5);
  color: white;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  background: $light-blue;
  background-color: $light-blue;
  color: white;
}

.section.blue {
  background: $light-blue;
  h1 {
    color: white;
  }
  input {
    height: 44px;
    border-radius: 22px;
    border: 2px solid white;
    background: rgba($blue, .1);
    padding: 12px;
    font-size: 14px;
    color: white;
    margin: 0 auto;
    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px white inset;
      background: $light-blue;
      background-color: $light-blue !important;
      color: white;
    }
  }
  .button {
    max-height: 48px;
    border: 2px solid white;
    border-radius: 24px;
    background: none;
    font-family: $headline-font;
    padding-top: 12px;
    font-size: 18px;
    margin-bottom: 48px;
    color: white;
  }
  .button-adv {
    font-family: $headline-font;
    color: white;
    font-size: 18px;
    text-decoration: underline;
  }
}

.section.apptease {
  background: white;
  padding: 24px 12px 0 12px;
  @media #{$medium-up} {
    padding: 36px 60px 0 36px;
  }
  @media #{$large-up} {
    padding: 60px 84px 0 48px;
  }
  .device-image {
    min-height: 100%;
    height: 100%;
    // border: 1px solid yellow;
    position: relative;
  }
  .device-copy {
    // padding: 160px 48px;
  }
  h1 {
    margin-bottom: 36px;
  }
  .lead {
    font-family: $body-font;
    color: $light-blue;
    font-size: 18px;
    line-height: 24px;
    font-weight: 200;
    margin-bottom: 60px;
    @media #{$medium-up} {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 60px;
    }
    @media #{$large-up} {
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 60px;
    }
  }
  .store-links {
    padding: 0;
    &:last-child {
      padding-left: 6px;
    }
    img {
      max-height: 60px;
    }
  }
}

.section.welcome {
  background: url(../images/stage-lightblue.jpg) no-repeat 50% 10%;
  background-size: cover;
  padding-top: 48px;
  padding-bottom: 180px;
  border-bottom: 4px solid $yellow;
  h1 {
    margin-top: 96px;
    margin-bottom: 36px;
  }
  ::-webkit-input-placeholder {
    color: rgba(white, .5);
  }
  :-moz-placeholder {
    /* Firefox 18- */
    color: rgba(white, .5);
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(white, .5);
  }
  :-ms-input-placeholder {
    color: rgba(white, .5);
  }
  .search-field-holder {
    padding: 0;
    margin: 0;
  }
  .search-btn-holder {
    padding: 0;
    margin: 0;
    margin-left: -40px;
    margin-top: 4px;
    .search-lupe {
      width: 36px;
      height: 36px;
      max-width: 36px;
      max-height: 36px;
      padding: 0;
      color: $light-blue;
      background: rgba(white, .5);
      box-sizing: border-box;
      border-radius: 18px;
      float: left;
      font-size: 1rem;
      transition: background .2 ease;
      &:hover {
        background: rgba(white, 1)
      }
    }
  }
}

.section.blue.ad {
  background: url(../images/audience-lightblue.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.section.publishers {
  border-top: 2px solid $yellow;
  .bottom-action {
    margin-top: 60px;
    margin-bottom: 36px;
    h1 {
      margin-bottom: 0;
    }
  }
  .publisher-tile {
    padding: 6px;
    max-height: 212px;
  }
  .publisher-tile-inside {
    background: white;
    min-height: 200px;
    // border: 1px solid silver;
    padding: 12px;
    @media #{$medium-only} {
      padding: 24px;
    }
    @media #{$large-up} {
      padding: 48px;
    }
    img {}
    p {
      font-size: rem-calc(14);
      text-transform: uppercase;
      color: rgba($dark, .3);
      letter-spacing: .1rem;
    }
    h1 {
      font-size: 24px;
      line-height: 24px;
      color: $dark;
    }
  }
}

.section.gray {
  background: $gray;
}

footer {
  background: $dark-gray;
  margin: 0;
  padding: 96px 24px 24px 24px;
  color: $beige;
  h2 {
    color: white;
    font-family: $headline-font;
    font-size: rem-calc(18);
    letter-spacing: .5rem;
  }
  hr {
    border-color: rgba($beige, .2);
    margin-top: 96px;
  }
  .lead {
    font-weight: 200;
    letter-spacing: .5px;
    font-size: rem-calc(14);
  }
  .copyright {
    padding-bottom: 96px;
  }
  a {
    color: $beige;
    font-weight: 500;
    &:hover {
      color: white;
      text-decoration: underline;
    }
    &:active {
      color: $light-blue;
    }
    &:visited {
      color: $beige;
    }
    img {
      margin-right: 12px;
    }
  }
}

//TOP BAR
.top-actions {
  color: $beige;
  font-family: $headline-font;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 120px;
  margin-top: 30px;
  hr {
    margin: 6px;
    border-color: rgba($beige, .3);
  }
  // padding-top: 48px;
  a {
    color: $beige;
    margin-left: 48px;
    margin-top: 48px;
    &:hover {
      text-decoration: underline;
    }
  }
  a:first-child {
    margin-left: 0;
  }
  @media #{$small-only} {
    div {
      padding: 12px;
    }
  }
}

.top-bar {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, .3);
  text-transform: uppercase;
  z-index: 999;
  .top-bar-section .has-dropdown > a:after {
    border-color: $light-blue transparent transparent transparent;
  }
  .top-bar-section .dropdown li a {
    background: $dark-gray;
    color: $beige;
    transition: background .2s;
    padding: 24px;
    line-height: 12px;
    letter-spacing: 1px;
    &:hover {
      background: darken($dark-gray, 5%);
      color: white;
    }
  }
  .dropdown {
    background: red;
  }
  a {
    transition: color .2s;
    &:hover {
      text-decoration: none;
    }
  }
  .title-area {
    padding-left: 24px;
    .logo {
      font-size: 56px;
      a {
        color: $red;
      }
    }
  }
  input {
    height: 44px;
    border-radius: 22px;
    border: 2px solid $light-blue;
    background: white;
    padding: 12px;
    font-size: 14px;
    color: $light-blue;
    margin: 0 auto;
    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px white inset;
      background: $light-blue;
      background-color: $light-blue !important;
      color: white;
    }
  }
  .topbar-search-field::-webkit-search-cancel-button {
    position: relative;
    right: 40px;
    color: $light-blue;
  }
  input:-webkit-autofill,
  textarea:-webkit-autofill,
  select:-webkit-autofill {
    background-color: rgba($light-blue, .5);
    color: $light-blue;
  }
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    background: $light-blue;
    background-color: $light-blue;
    color: $light-blue;
  }
  .search-field-holder {
    padding: 0;
    margin: 0;
  }
  .search-btn-holder {
    padding: 0;
    margin: 0;
    margin-left: -40px;
    margin-top: 11px;
    .search-lupe {
      width: 36px;
      height: 36px;
      max-width: 36px;
      max-height: 36px;
      padding: 0;
      color: $light-blue;
      background: rgba(white, .5);
      box-sizing: border-box;
      border-radius: 18px;
      float: left;
      font-size: 1rem;
      transition: background .2 ease;
      &:hover {
        background: rgba(white, 1)
      }
    }
  }
}

.talk-grid {
  margin-bottom: 48px;
}

// flash messages
.flash_messages_velvet {
  text-align: center;
  background: $beige;
  font-family: $body-font;
  padding: 24px;
  font-size: .9rem;
  color: $dark;
  border: none;
  margin: 0;
  .close {
    color: $dark;
    opacity: .8;
    &:hover {
      text-decoration: none;
      opacity: 1;
    }
  }
}

.full-width {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

#credits {
  background: $beige;
  padding: 24px;
  margin: 0;
  background: $beige;
  div {
    color: $dark;
  }
  h3 {
    color: $dark;
    font-family: $headline-font;
  }
  p {
    color: $dark;
    font-family: $body-font;
  }
}

.category-thumb-holder {
  padding: 6px;
}

.category-thumb {
  background: rgba($dark, .3);
  padding: 60px 12px;
  display: block;
  text-align: center;
  font-family: $headline-font;
  font-size: rem-calc(18);
  color: white;
  transition: background .2s;
  min-height: 180px;
  &:hover {
    background: rgba($dark, .4);
    text-decoration: none;
    color: $beige;
  }
  @media #{$small-only} {
    margin-bottom: 12px;
  }
}

@import 'shared/talk_medium_box';
