/*
 *= require main
 *= require klus
 *= require venues_single
 *= require_self
 *= require bootstrap_datetimepicker.min.css
 *= require bootstrap-fileupload.css
 *= require jplayer.blue.monday
 */

@import "config.css.less";

.venue-edit-ajax {
  padding: 0 30px 0 0;
}

/* VENUE INDEX ----------------------------------------*/
.venue-list {
  margin: 11px 0 0 0;

  .venue-big {
    margin: 0 0 30px 0;
  }
}

/* GLOBAL VENUE CSS */
.venue-section-title{
  margin:10px 0 15px 0;
}

.well-large{
  .venue-section-title{
    margin-top: 0
  }
}

/* VENUE HEADER */
.venue-header-live{
  margin-bottom: 15px;
  position: relative;
  padding-left: 0;
  border-bottom: 1px solid #ddd;
  border-radius: 0
}

.venue-header-static{
  padding-top: 0;
  padding-left: 0;
  padding-bottom: 1%;
}

.venue-live-more-link{
  margin-left: 30px;
  color:#999;
}

.venue-title{
  display: inline;
  font-style: italic;
  font-family: "Droid Serif",Georgia,"Times New Roman",Times,serif,serif;
  line-height: 1.3;
  margin: 0 0 0 0;
}

.venue-live-box{
  .venue-title{
    font-size: @baseFontSize * 1.8;
    font-weight: normal;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    color:#333;
  }
}

.venue-host-link{
  margin-left: 15px;
}

.venue-horiz-line{
  margin: 20px 0
}

.venue-description{

}

/* VENUE UPCOMING EVENT ----------------------------------------*/
.venue-event-box{
  background: #E8F6EC;
  margin-bottom: 20px;
}

.venue-upcoming-event-time{
  color:#932945;
  font-size: @baseFontSize * 1.2;
  font-weight: normal;
}

.venue-event-time{
  padding-top: 35px;
  color:#932945;
  font-size: @baseFontSize * 1.2;
  font-weight: normal;   
}

.venue-upcoming-event-title{
  font-style: italic;
  font-family: "Droid Serif",Georgia,"Times New Roman",Times,serif,serif;
  font-size: @baseFontSize * 1.6;
  line-height: 1.3;
  margin: 0 0 30px 0;
}

/* VENUE DESCRIPTION -------------------------------------------*/
.venue-description{
  position: relative;
  margin-bottom: 50px;
}

.venue-live-box{
  .venue-description{
    margin-bottom: 0
  }
}

.venue-description-image{
  width:245px;
  float: left;
  border: 1px solid #eee;
  margin-bottom: 5px;
}

.venue-summery{
  font-size: @baseFontSize * 1.3;
  line-height: 1.2;
  color:#999;
  padding-right: 120px
}

.venue-description-content{
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.venue-socials {
  position: absolute;
  right: 0;
  top:0;
  @media (max-width:1000px){
    margin-top:40px;
  }
}

/* FORUM/ARTICLES -------------------------------------------*/
.venue-articles{
  background: #FAF5D8
}

/* PARTICIPANTS ---------------------------------------*/
.venue-participants {
  margin: 0px 0 21px 0;
}

.avatar-box{
  position: relative;
  width: 65px;
  min-height:100px;
  float: left;
  text-align: center;
  font-size: @baseFontSize * 0.9;
  a{
    color:#333;
  }
  .user-image-box{
    width:45px;
    display: inline-block;
    margin-bottom: 4px;
  }
}

.promote-icon, .demote-icon{
  position: absolute;
  top:-4px;
  left:44px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border:1px solid #777;
  text-align: center;
  line-height: 15px;
  color:#777;
  background: white;
}

.demote-icon{
  left:36px;
}

/* ARCHIVE ---------------------------------------------*/
.venue-archive-event-time{
  font-size: @baseFontSize * 0.8;
  color:#999;
  font-weight: bold;
}

.venue-archive-event-title{
  font-size: @baseFontSize * 1.2;
  margin-bottom: 10px;
}

/* CHAT ------------------------------------------------*/
.group-chat-instance {
  h3{
    padding: 0;
    margin: 0 0 10px 0;
    font-size: @baseFontSize * 1.2;
    border-bottom: 1px solid #777;
    color:#555;
  }
  .label-chat{
    background: #1A6E6D
  }
  .scrollable-chat{
    max-height:288px;
    min-height: 288px;
    margin-top:0px;
  }

  .group-chat-item{

    font-size:12px;
    line-height:22px;
    position: relative;
    display: block;
    padding-right:70px;

    .venue-chat-user{
      color: #034869;
      font-weight: bold;
      &.venue-chat-host{
        color: #932945;
      }
    }
    .venue-chat-time{
      position: absolute;
      top:0;
      right: 5px;
      color: #bbb;
    }
  }
}

.venue-group-chat-form{
  position: relative;
  width:100%;
  padding-right:80px;
  .btn{
    position: absolute;
    right: 0;
    top:0;
    width:70px;
  }
}
.venue-group-chat-textarea{
  width:100%;
  height:55px;
}

.btn-venue-description{
  font-size:16px;
  position: absolute;
  right: 0;
  top: 110px;
}

.left-light-border{
  border-left:1px solid #eee;
  padding-left: 3%;
}

.venue-new-date{
  margin-bottom: 5px
}

/* VENUE LIVE ------------------------------------------*/
.venue-live{
  margin-bottom: 50px
}

.venue-show-live{
  position: relative;
}

.venue-live-box{
  .venue-description{
/*    height:0;
    overflow: hidden;*/
  }
}

.icon-onair {
  position: absolute;
  right: 0px;
  top:-2px;
  color: red;
  padding: 5px 10px;
  background-color:white;
  font-size: @baseFontSize * 1.4;
  line-height: 100%;
  font-weight: bold;
  width: 100px;
  border:4px solid #000;
  border-radius: 3px;
  text-align: center;
  display: none;
  .box-shadow(inset 0 0 10px rgba(0,0,0,.5));
}

#Blackbox{
  position: absolute;
  right: 0px;
  top:-15px;
  z-index: 1;
}

.talking-users-box{
  background:#A9C158;
  border-radius: 0 !important;
  position: relative;
}

.venue-live-left{
  background-color: #D7E2B0;
  width: 50% !important;
  border-radius: 0;
  min-height: 467px !important;
  border-right: 3px solid #A9C158
}

.venue-live-right{
  background-color: #D7E2B0;
  margin-left: 0 !important;
  width: 50% !important;
  border-radius: 0;
  min-height: 467px !important;
}

@media (max-width: 900px) {
  .venue-live-right, .venue-live-left {
    width: inherit !important
  }
}

.users-onair-box{
  height: 60px;
  position: relative;
  line-height: 3;
  .user-image{
    text-align: left;
    display: block;
    float: left;
    margin-right: 20px;
  }
}

.users-onair-host-title,
.users-onair-participants-title{

}

/* VENUE FORM ------------------------------------------*/
.venue-form{
  max-width: 800px;
  margin:0 auto;
  padding-left: 4%;
  padding-right: 4%;

  h2{
    padding-bottom: 10px;
  }

  .venue-form-fields-left{
    padding-right: 20px;
  }

  .help-block{
    margin-top: -8px;
  }

  .help-tags{
    margin-top: 0;
  }

  .select2-container-multi .select2-choices{
    background: #F9F9F9;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  }

  .control-group{
    padding-top: 26px;
  }
  .control-group:first-child{
    padding-top: 0;
  }

  .date

  .venue-form-icon{
    display: block;
    width: 60px;
    margin-bottom: 20px;
  }
  .venue-form-description{
    min-height: 700px;
    border-left: 1px solid #ddd;
    padding:0 30px 0 30px;
    font-size: @baseFontSize * 0.9;
    ul{
      margin-left: 12px
    }
  }

  .venue-form-image{
    .controls{
      float:left;
      margin-right: 10px;
    }
    input{
      float:left;
    }
    .help-block{
      margin-top: 0
    }
  }

  .event-box{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 1.5% 3%;
    border: 1px solid #ddd;
    background: #FFFADC;
    border-radius: 4px;
    .event-header{
      h2{
        margin-top: 0;
        font-size: @baseFontSize * 1.6
      }
      font-weight: bold;
    }
    .datetimepicker{
      input[type="text"]{
        width:80%;
      }
    }
    .venue-form-duration{
      .controls{
        select{
          width: 90%
        }
      }
    }
    .help-datetimepicker{
      margin-top: 0;
    }
  }
}
