.venues-new,
.venues-create,
.venues-update,
.venues-edit{
  .link-delete{
    float:right
  }
}

.venues-show{
  .user-box{
    position: relative;
    margin-top: 70px;
    vertical-align: middle;
    border-bottom: 3px solid rgba(0, 0, 0, 0.85);
    padding-bottom: 6px;
    .avatar-image{
      display: inline-block;
      vertical-align: top;
    }
    .venue-user{
      display: inline-block;
      font-size: rem-calc(19);
      color: $color-black-title;
      font-family: 'eaglebook';
      margin: 15px 0 0 5px;
    }
    .back-profile-link{
      display: inline-block;
      float: right;
      margin-top: 16px;
      font-family: 'eaglebook';
      font-size: rem-calc(15);
    }
  }

  .title-box{
    padding: 15px 0 10px 0;
    .venue-title{
      margin: 0;
      font-size: rem-calc(36);
      color: black;
    }
    .title-edit{
      float:right;
      margin-top: 14px;
      font-family: 'eaglebook';
      font-size: rem-calc(19);
    }
  }

  .image-box{
    .image{

    }
  }

  .action-box{
    margin-bottom: 19px;
    .anker-links{
      padding-top: 15px;
      .black-background-box{
        display: inline-block;
        background: black;
        padding: 0 12px;
        a{
          display: inline-block;
          height: 40px;
          vertical-align: top;
          color: white;
          text-align: center;
          font-family: 'eaglebook';
          font-size: rem-calc(15);
          padding: 14px 0 0 0;
          line-height: 1;
          &:first-child{
            margin-right: 7px;
          }
          &:nth-child{
            margin-left: 7px;
          }
        }
        .icon-mic{
          display: inline-block;
          color: white;
          margin: 5px 0;
          font-size: rem-calc(24);
        }
      }
    }
    .action-links{
      padding-top: 15px;
      position: relative;
      .align-box{
        width: 100%;
        text-align: right;
        padding-left: 10px;
        a{
          display: inline-block;
          height: 40px;
          width: 48%;
          background: transparent;
          color: $color-black-title;
          border: 1px solid $color-black-title;
          text-align: center;
          font-family: 'eaglebook';
          font-size: rem-calc(15);
          padding: 14px 0 0 0;
          line-height: 1;
          vertical-align: top;
          &:first-child{
            margin-right: 2%;
          }
          span{
            vertical-align: top;
            top: -6px;
            font-size: rem-calc(24);
            margin-right: 0
          }
        }
      }
    }
  }

  .description-box{
    border-top: 3px solid $color-black-title;
    padding: 14px 0;    
    .align-box{
      position: relative;
      h3{
        color: $color-black-title;
        font-size: rem-calc(19);
      }
      p{
        font-family: 'eaglelight';
        font-size: rem-calc(15);
        line-height: 1.2;      
        a{
          text-decoration: underline;
          &:focus,&:hover{
            text-decoration: underline;
            color:lighten(black,20%);
          }
        }        
      }
      .desc-edit{
        position: absolute;
        top: 1px;
        right: 0;
        font-family: 'eaglebook';
        font-size: rem-calc(19);
      }   
    } 
  }

  .live-talks-box,
  .upcoming-talks-box,
  .archived-talks.box{
    border-top: 3px solid $color-black-title;
    padding-top: 14px;
    h3{
      color: $color-black-title;  
      font-size: rem-calc(19);   
    }
    .link-more{
      float:right;
      font-size: rem-calc(19);
      font-family: 'eaglebook';
      margin-top: -5px
    }
  }
}
