/*
 *= require main
 *= require klus
 *= require_self
 */
@import "config.css.less";


.participating-klus {
  margin: 21px 0 21px 0;
  .tiny-klu {
    .set-rows(2)
  }
}
  
.venues-hint {
  border-top: 1px solid #d8d8d8;
  margin: 11px 0 11px 0;
  padding-top: 10px;
} 
.venue-list {
  margin: 11px 0 0 0;
  
  .compact { 
    margin: 0 0 20px 0;
  } 
  .odd {
    background: @oddColor;
  }
  .even {
    background: @evenColor;
  }  

  .single-venue {
    box-shadow:  2px 2px 6px rgba(0,0,0,0.08);
    border: 1px solid #d8d8d8;
    border-radius: 4px; 
    padding: 11px;
    
    .btn-large {
      margin: 45px 45px 45px 0;
    }
  }
}

.venue-comments {
  margin-top: 20px;
}

.venue-comments {
  .action {
    margin-left: 10px;
  }
}

.venue-box {
  border: 1px solid #d8d8d8;
}
  


