.venues-new,
.venues-create,
.venues-update,
.venues-edit{
  .image-box{
    position: relative;
    width: 100%;
    padding-bottom: 65.5%;
    background-size: cover;
    margin-bottom: 10px;
    .button-standard{
      position: absolute;
      bottom: 2px;
      right: 2px;
    }
  }
  .link-delete{
    float:left;
  }
}

.venues-show{
  .link-delete{
    margin-top: 0;
  }
  .user-box{
    position: relative;
    margin-top: 70px;
    vertical-align: middle;
    border-bottom: 3px solid rgba(0, 0, 0, 0.85);
    padding-bottom: 6px;
    .avatar-image{
      display: inline-block;
      vertical-align: top;
    }
    .venue-user{
      display: inline-block;
      font-size: rem-calc(19);
      color: $color-black-title;
      font-family: $brand-font-bold;
      margin: 15px 0 0 5px;
    }
    #social_share {
      position: absolute;
      right: 2px;
      top: 10px;
      .share{
        display: inline-block;
        height: 23px;
        width: 23px;
        a{
          position:relative;
          color:black;
          display: block;
          &:hover,&:focus{
            color:rgba(0,0,0,0.5);
          }
          span[class^="icon-"]{
            font-size: rem-calc(18);
            &.icon-fb{
              font-size: rem-calc(16);
            }
            position:absolute;
            top: 7px;
            left: 6px;
            text-shadow: 0 0 1px rgba(0,0,0,0.5);
          }
          span.icon-octagon{
            font-size: rem-calc(25);
            top: 0;
            left: 0;
            display: none;
          }
        }
      }
    }
  }

  .title-box{
    padding: 15px 0 10px 0;
    .venue-title{
      margin: 0;
      font-size: rem-calc(36);
      color: black;
    }
    .title-edit{
      float:right;
      margin-top: 14px;
      font-family: $brand-font-bold;
      font-size: rem-calc(19);
    }
  }

  .image-box{
    .image{

    }
  }

  .action-box{
    margin-bottom: 19px;
    .anker-links{
      padding-top: 15px;
      .black-background-box{
        display: inline-block;
        background: black;
        padding: 0 12px;
        a{
          display: inline-block;
          height: 40px;
          vertical-align: top;
          color: white;
          text-align: center;
          font-family: $brand-font-bold;
          font-size: rem-calc(15);
          padding: 14px 0 0 0;
          line-height: 1;
          &:first-child{
            margin-right: 7px;
          }
          &:nth-child{
            margin-left: 7px;
          }
        }
        .icon-mic{
          display: inline-block;
          color: white;
          margin: 5px 0;
          font-size: rem-calc(24);
        }
      }
    }
    .action-links{
      padding-top: 15px;
      position: relative;
      .align-box{
        width: 100%;
        text-align: right;
        padding-left: 10px;
        a{
          display: inline-block;
          height: 40px;
          width: 48%;
          background: transparent;
          color: $color-black-title;
          border: 1px solid $color-black-title;
          text-align: center;
          font-family: $brand-font-bold;
          font-size: rem-calc(15);
          padding: 14px 0 0 0;
          line-height: 1;
          vertical-align: top;
          &:first-child{
            margin-right: 2%;
          }
          span{
            vertical-align: top;
            top: -6px;
            font-size: rem-calc(24);
            margin-right: 0
          }
          &.button-podcast{
            border-radius: 0;
            padding: 14px 0 0 0;
            @include box-shadow(0,0,0,rgba(0,0,0,0));
            span{
              font-size: rem-calc(15);
              margin-right: 4px;
              top: -1px;
            }
          }
        }
      }
    }
  }

  .description-box{
    border-top: 3px solid $color-black-title;
    padding: 14px 0;
    .align-box{
      position: relative;
      h3{
        color: $color-black-title;
        font-size: rem-calc(19);
      }
      font-family: $brand-font-light;
      font-size: rem-calc(15);
      line-height: 1.2;
      a{
        text-decoration: underline;
        &:focus,&:hover{
          text-decoration: underline;
          color:lighten(black,20%);
        }
      }
      p{
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
      }
      .desc-edit{
        position: absolute;
        top: 1px;
        right: 0;
        font-family: $brand-font-bold;
        font-size: rem-calc(19);
      }
    }
  }

  .live-talks-box,
  .upcoming-talks-box,
  .archived-talks-box{
    border-top: 3px solid $color-black-title;
    padding-top: 14px;
    h3{
      color: $color-black-title;
      font-size: rem-calc(19);
      margin-bottom: 16px;
    }
    .link-more{
      float:right;
      font-size: rem-calc(19);
      font-family: $brand-font-bold;
      margin-top: -5px
    }
  }
  .live-talks-box{
    border-color: $brand-color-red;
    h3{
      color: $brand-color-red;
    }
    .onair{
      color: $brand-color-red;
      font-family: $brand-font-bold;
      font-size: rem-calc(19);
    }
  }
}
