.venues-update,
.venues-edit,
.venues-new{
	.link-delete{
		float:right
	}
}

.venues-show{
	/*opacity: 0.6;*/
	.title-block{
		background: rgba(0,0,0,0.8);
		.venue-title,.venue-teaser{
			color: white;
		}
		.venue-title{
			margin: rem-calc(52) 0 rem-calc(39);
			font-size: rem-calc(46);
		}
		.venue-teaser{
			font-family: 'eaglelight';
			font-size: rem-calc(18);
			margin-bottom: 50px;
		}
	}
	.button-header{
		margin-bottom: 16px;
	}
  .vr-tabs dd{
  	width: 25%;
  }
}