.venues-edit,
.venues-new{

	@include form-generic-styles();

}

.venues-show{
	opacity: 0.6;
	.title-block{
		background: rgba(0,0,0,0.8);
		.venue-title,.venue-teaser{
			color: white;
		}
		.venue-title{
			margin: rem-calc(52) 0 rem-calc(39);
			font-size: rem-calc(46);
		}
		.venue-teaser{
			font-size: 1rem;
			margin-bottom: 50px;
		}
	}

  .vr-tabs dd{
  	width: 25%;
  }
}