<div class="page-header">
	<h2><%= @user.name %></h2>
</div>

<div class="well">
	<%= debug(@user) %>
	<%= link_to edit_admin_user_path(:id => @user.id), :class => "btn btn-primary" do  %>
		<i class="icon-pencil"> </i> edit
	<% end%>
</div>

<%= link_to "back", admin_users_path, :class => "pull-right"%>
