<div class="row-fluid">
	<div class="span6 text-align-center">
		<div class="overlay-calling">
			<h3 class="">VIDEO CALL</h3>			
			<i class="icon-facetime-video"> </i><br>
			in process...<br><br>
			<form>
			<%= button_tag video_session_path(:id => video_session.id, :canceling_participant_id => video_session.guest_participant.id), :method => :delete, :remote => :true, :class => 'btn' do %>
				<%= t('.cancel_call',:default => 'cancel call') %>
			<% end %>
			</form>
		</div>
	</div>
	<div class="span6">
		<% if video_session.klu.instance_of? NoKluuu %>
			<%= render(:partial => "/klus/small_no_kluuu", :locals => {:klu => video_session.klu}) %>
		<% else %>
			<%= render(:partial => "/klus/small_kluuu", :locals => {:klu => video_session.klu}) %>
		<% end %>
	</div>	
</div>