<div id="client_top_box">
	<div id="client_top_semitransparency"></div>
	<div id="client_top_title_box">
		<div id="client_top_arrow"></div>	
		<div id="client_top_title"><%= klu.user.firstname %></div>
		<div id="client_top_subtitle"><%= klu.title %></div>
	</div>	
	<div class="clear"></div>
</div>