<div id="video_client_div">
	<a href="#" data-function="closeOverlay" class="overlay-close-link">
		&times;
	</a>

	<iframe width="953" height="696" src="<%= participant.room_url %>" frameborder="0"></iframe>
</div>

