

/ HERO
.hero
  .row
    .large-8.columns
      %h5.breadcrumb
        %a{:href => "/support"} Voice Republic Support
      %h1
        How To Use Voice Republic
.row

            
  .large-8.columns.left
    .row.section
      %h2.section-title
        Streaming Talks on Professional Stages
        %hr/
      %p
        Voice Republic provides its clients with technology that allows them to efficiently broadcast readings, presentations, discussions, etc. live over the Internet. The individual program sections are set up prior to broadcast on Voice Republic, meaning that on the day of the event, the only thing you have to do is begin and end the broadcast, a task which can easily be managed by a stationary audio technician or assistant on-site.
      %a{:href => "/support/professional", :class => "button"} More About Streaming

    .row.section
      %h2.section-title
        Streaming Talks In More Casual Settings
      %hr/
      %p
        Voice Republic provides its clients with technology that allows them to efficiently broadcast readings, presentations, discussions, etc. live over the Internet. The individual program sections are set up prior to broadcast on Voice Republic, meaning that on the day of the event, the only thing you have to do is begin and end the broadcast, a task which can easily be managed by a stationary audio technician or assistant on-site.
      %a{:href => "/support/professional", :class => "button"} More About Streaming

    .row.section
      %h2.section-title
        Running A Test Talk
      %hr/
      %p
        Voice Republic provides its clients with technology that allows them to efficiently broadcast readings, presentations, discussions, etc. live over the Internet. The individual program sections are set up prior to broadcast on Voice Republic, meaning that on the day of the event, the only thing you have to do is begin and end the broadcast, a task which can easily be managed by a stationary audio technician or assistant on-site.
      %a{:href => "/support/professional", :class => "button"} More About Test Talks
    .row.section
      %h2.section-title
        How VR Pricing Works
      %hr/
      %p
        Voice Republic provides its clients with technology that allows them to efficiently broadcast readings, presentations, discussions, etc. live over the Internet. The individual program sections are set up prior to broadcast on Voice Republic, meaning that on the day of the event, the only thing you have to do is begin and end the broadcast, a task which can easily be managed by a stationary audio technician or assistant on-site.
      %a{:href => "/support/professional", :class => "button"} More About Pricing
