.row(style='margin-top: 100px')
  .large-12.columns
    %li.icon-octagon octagon
    %li.icon-vr-logo vr-logo
    %li.icon-bubble-multi bubble-multi
    %li.icon-calendar calendar
    %li.icon-bubble bubble
    %li.icon-mic mic
    %li.icon-tw tw
    %li.icon-guide guide
    %li.icon-people people
    %li.icon-description description
    %li.icon-google google
    %li.icon-fb fb
    %li.icon-pause pause
    %li.icon-play play
    %li.icon-mail mail
    %li.icon-pencil pencil
    %li.icon-x x
    %li.icon-play-octa play-octa
    %li.icon-octa-full octa-full
    %li.icon-magnifying-glass magnifying-glass
    %li.icon-equalizer equalizer
    %li.icon-cog cog
    %li.icon-scissors scissors
    %li.icon-soundcloud soundcloud
    %li.icon-volume-mute volume-mute
    %li.icon-volume-mute2 volume-mute2
    %li.icon-pause-octa pause-octa
    %li.icon-download download
    %li.icon-person person
    %li.icon-flyer flyer
    %li.icon-download-2 download-2
    %li.icon-code code
    %li.icon-ellipsis ellipsis
    %li.icon-podcast podcast
    %li.icon-minus minus
    %li.icon-plus plus
    %li.icon-mute mute
    %li.icon-unmute unmute
    %li.icon-info info
    %li.icon-upload upload
    %li.icon-upload-cloud upload-cloud
    %li.icon-folder-open folder-open
    %li.icon-twitter-square twitter-square
    %li.icon-laptop laptop
    %li.icon-heart-empty heart-empty
    %li.icon-lightbulb lightbulb
    %li.icon-chat-bubble chat-bubble
    %li.icon-information-circle information-circle
    %li.icon-star-empty star-empty
    %li.icon-star-full star-full
