/ HERO
.hero
  .row
    .large-8.columns
      %h1
        Voice Republic Support
      %h3
.row.support-sitemap
  .large-12.columns
    %form
      .row
        .large-12.columns
          .row.collapse
            .small-10.columns
              %input{:placeholder => "Search Voice Republic Support", :type => "text"}/
            .small-2.columns
              %a.button.postfix{:href => "#"} Search
  %hr.search-divider
  .large-6.columns
    .h2.section-title
      %a{:href => "/support/what-is"} What Is Voice Republic?
    %ul
      %li
        %a{:href => "/support/professional"} Live Broadcasting
      %li
        %a{:href => "/support/professional"} The Voice Republic Archive
      %li
        %a{:href => "/support/professional"} Voice Republic Services
      %li
        %a{:href => "/support/professional"} Voice Republic Credits
  .large-6.columns
    .h2.section-title
      %a{:href => "/support/how"} How To Use Voice Republic
    %ul
      %li
        %a{:href => "/support/professional"} How To Stream A Professional Talk
      %li
        %a{:href => "/support/professional"} How To Stream A Talk (Alternate Settings)
      %li
        %a{:href => "/support/professional"} How To Run A Test Talk
      %li
        %a{:href => "/support/professional"} How Voice Republic Pricing Works
  .large-6.columns.end
    .h2.section-title
      %a{:href => "/support/professional"} Frequently Asked Questions
    %ul
      %li
        %a{:href => "/support/professional"} What Is A Credit?
      %li
        %a{:href => "/support/professional"} Can I Embed Talks On My Own Website?
      %li
        %a{:href => "/support/professional"} Can I Make My Talks Private?
      %li
        %a{:href => "/support/professional"} Why can't I hear anything?