.hero
  .row
    .large-8.columns
      %h1
        Voice Republic Support
      %h3
.row.support-sitemap
  .large-6.columns
    %ul
      %li
        %a{:href => "/support/what-is"} What Is Voice Republic?
      %li
        %a{:href => "/support/professional"} How To Stream A Professional Talk
      %li
        %a{:href => "/support/test-talk"} How To Run A Test Talk
      %li
        %a{:href => "/support/pricing"} How Voice Republic Pricing Works