/ HERO
.hero
  .row
    .large-8.columns
      %h5.breadcrumb
        %a{:href => "/support"} Voice Republic Support
      %h1
        How To Format Text
      %p.lead
        Voice Republic supports Markdown to format texts.

/ Main content
.row
  .large-8.columns.left
    :markdown
      ##### Bold & Italics

      ```
      You can make it *italic* or **bold**.
      ```

      ---

      You can make it *italic* or **bold**.

      ##### Headlines

      <code>
      \# Headline 1
      \## Headline 2
      \### Headline 3
      \#### Headline 4
      </code>

      ---

      # Headline 1
      ## Headline 2
      ### Headline 3
      #### Headline 4

      ##### Lists

      ```
      * hello
      * world
      ```

      ---

      * hello
      * world


      ##### Blockquotes

      `> A blockquote looks like this.`

      ---

      > A blockquote looks like this.

      ##### Complete Markdown Reference

      We covered only the basics of formatting text, we support much
      more features of Markdown. You can find the complete reference
      here

      * [Markdown Reference](http://daringfireball.net/projects/markdown/syntax)
