.hero
  .row
    .large-8.columns
      %h5.breadcrumb
        %a{:href => "/support"} Voice Republic Support
      %h1
        I Have No Idea!!
  .row
    .large-6.columns
      %p.lead
        Ha!
.row
  .large-8.columns.left
    .section
      %h2#tech-req.section-title{"data-magellan-destination" => "tech-req"}
        VR Pricing
      %hr/
      %p.section-subtitle.lead
        It's super simple. But it's hard to explain...
        