.hero
  .row
    .large-8.columns
      %span.breadcrumb
        %a{:href => "/support"}
          = image_tag "icons/arrow-left.svg" 
          Voice Republic Support
      %h1
        Voice Republic Pricing
  .row
    .large-6.columns
      %p.lead
        All content on Voice Republic is free to listen to. Content producers pay per Talk, and Talk Credits can be purchased in packages. A Talk Credit will never expire.  
.row
  .large-8.columns.left
    .section
      %h2#tech-req.section-title
        One Talk Credit = One Talk
      %hr/
      %p.section-subtitle.lead
        One Talk Credit allows one Talk to be broadcast, uploaded and archived. There's no limit to the number of times the Talk can be heard, downloaded or embedded.
    .section
      %h2#tech-req.section-title
        No Recurring Costs
      %hr/
      %p.section-subtitle.lead
        Only purchase Talk Credits when you need them. No subscription necessary. 
        