.hero
  .row
    .large-8.columns
      %span.breadcrumb
        %a{:href => "/support"}
          = image_tag "icons/arrow-left.svg" 
          Voice Republic Support
      %h1
        Voice Republic Pricing
  .row
    .large-6.columns
      %p.lead
        Pricing at Voice Republic is based on Credits. A Credit is both a 
        %i
          permit 
        and a 
        %i
          guarantee 
        for the life of a Talk on Voice Republic.
.row
  .large-8.columns.left
    .section
      %h2#tech-req.section-title
        One Credit = One Talk
      %hr/
      %p.section-subtitle.lead
        One Credit allows one Talk to be streamed (or uploaded), embedded, shared or downloaded forever, or until you remove it from the site.
        