/ HERO
.hero
  .row
    .large-8.columns
      %h5.breadcrumb
        %a{:href => "/support"} Voice Republic Support
      %h1
        Your Voice Republic Web Address
      %p.lead

/ Main content
.row
  .large-8.columns.left
    %p.section-subtitle.lead
      What are usernames?

    %p
      Usernames are part of your Public profile. We use this information to help people find you.

    %p
      We use your username to create a custom link (a Voice Republic URL, such as www.voicerepublic.com/username) to your profile that you can give out to people or post on external websites. For example, someone named Jane Doe might choose "jane_doe" for her username so her friends can visit her profile by going to www.voicrepublic.com/jane_doe.

    %p.section-subtitle.lead
      What are the guidelines for creating a custom username for my profile?

    %p
      Here are a few things to keep in mind when you create a custom username:

      %ul
        %li
          You can't claim a username someone else is already using.
        %li
          Choose a username you'll be happy with for the long term. Changing the username will invalidate all your references to your profile from other sites.
        %li
          Usernames can only contain alphanumeric characters (A-Z, 0-9), dashes (-) and underscores (_).
