.hero
  .row
    .large-8.columns
      %span.breadcrumb
        %a{:href => "/support"}
          = image_tag "icons/arrow-left.svg" 
          Voice Republic Support
      %h1
        What Is Voice Republic?
.row
  .large-8.columns.left
    .section
      %h2.section-title
        Voice Republic is a platform where spoken word content is broadcast and archived.        
        %hr/
      %p
        Voice Republic provides its clients with technology that allows them to efficiently broadcast&hellip;
        %ul
          %li Talks
          %li Readings
          %li Panel Discussions
          %li Speeches
          %li Podcasts
          %br
          &hellip;live over the Internet. The individual program sections are set up prior to broadcast on Voice Republic, meaning that on the day of the event, the only thing you have to do is begin and end the broadcast, a task which can easily be managed by a stationary audio technician or assistant on-site.
      %a{:href => "/support/professional"} Read Technical Requirements

    .section
      %h2.section-title
        The Archive
      %hr/
      %p
        All live broadcasts are automatically recorded on the Voice Republic servers and can be accessed in the audio library immediately following the broadcast. Voice Republic offers all the functions of a modern web archive:
      %ul
        %li
          content searchable via search engines
        %li
          social media integration enables the promotion and viral distribution of content - before, during and after the event
      %h5 Recordings can be utulized in various ways:
      %ul
        %li
          Listen directly on VoiceRepublic.com
        %li
          Download as a podcast and listen to the broadcast on the go
        %li
          Embed on blogs, websites and facebook. Media partners and exhibitors can place their original content in their own context and make it available to their public.

    .section
      %h2.section-title
        Triple Benefit
      %hr/
      %h5
        Prior to the event:
      %p
        Announce content in the run-up to the event and prep the audience for the event.
      %h5
        During the Event:
      %p
        Broadcast your event live, letting your audience take part online. Expand the reach of your event.
      %h5
        After the Event:
      %p
        All broadcasts are archived long-term, creating an impressive audio library of relevant content. Visitors, media partners and the public can access this content, making the event experienceable and usable after it is over.

    .section
      %h2.section-title
        Implementation
      %hr/

      %p
        Everybody can purchase rights to the Voice Republic software. (link to pricing)
      %h5
        Additional services for conferences upon request:
      %ul
        %li
          support for the set-up of multiple streaming page on Voice Republic (as of 25 talks)
        %li
          training session on the use of Voice Republic software for audio technicians and employees (60 minutes)
        %li
          set-up of hardware for the implementation of the live stream (computer, audio interface, cabling)
        %li
          execution of streaming by the Voice Republic team
        %li
          social media support: promotion of the live stream prior to, during and after the event (tweet@speaker, post to facebook)
        %li  
          integration of your podcast jingle