%meta{:content => "317175341661486", :property => "fb:app_id"}/
%meta{:content => t('.join_the_series', :title => series.title ), :property => "og:title"}/
%meta{:content => series.description, :property => "og:description"}/

// %meta{:content => 'http://'+ request.host + series.image.url, :property => "og:image"}/
// %link{:href => 'http://'+ request.host + series.image.url, :rel => "image_src"}/

%meta{:content => 'http://'+ request.host + series.series_image_url, :property => "og:image"}/
%link{:href => 'http://'+ request.host + series.series_image_url, :rel => "image_src"}/