- klass = 'selected' if params.try(:[], :filter).try(:[], :category).to_s == category.id.to_s

%li
  %label{ class: klass, 'data-ga-event' => "click explore category #{category.icon}" }
    .icon
      %svg
        %use{"xlink:href" => "#icon-#{category.icon}"}
    = f.radio_button :category, category.id
    %p= category.title
