%p.results-count= t(".results", count: @talks.count)
%ul#more= render collection: @talks, partial: 'velvet/talk'
%input#pager(type='hidden' value='1')
#spy
  %h4.infinite-scroll-msg
    = t('.loading')
