<%- model_class = KluImage -%>
<div class="klu-image-form">
  <h2><%=t '.title', :default => t('helpers.titles.edit', :model => model_class.model_name.human,
                                     :default => "Edit #{model_class.model_name.human}") %></h2>
  <%= render :partial => 'form' %>
</div>
