<div class="row-fluid">
	
	<div class="user user-edit span6 well well-large">
		<h1><%=t(".edit_password") %></h1>
  		<%= render :partial => 'users/password_form', :locals => { :user => @user } %>
	</div>
</div>